Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, argilla, extralit, argilla_v1, argilla_server, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true
  
flags:
  frontend:
    paths:
      - argilla-frontend/
    carryforward: true
  argilla:
    paths:
      - argilla/src/argilla/
    carryforward: true
  extralit:
    paths:
      - argilla/src/extralit/
    carryforward: true
  argilla_v1:
    paths:
      - argilla-v1/src/argilla_v1/
    carryforward: true
  argilla_server:
    paths:
      - argilla-server/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: argilla_v1
      name: argilla_v1
      paths:
        - argilla-v1/src/argilla_v1/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

cli POST import_history
  .kiro/specs/papers-library-importer/design.md
  extralit/src/argilla/cli/documents/add.py
Due: none

refactor import-bibtex cli
  argilla-server/src/argilla_server/contexts/imports.py
  extralit/src/argilla/cli/documents/__main__.py
  extralit/src/argilla/cli/documents/add.py
  extralit/src/argilla/cli/documents/delete.py
  extralit/src/argilla/cli/documents/import_bib.py
Due: argilla_server, argilla-server

CLI list import history
  argilla-server/src/argilla_server/api/handlers/v1/imports.py
  extralit/src/argilla/cli/documents/__main__.py
  extralit/src/argilla/cli/documents/import_history.py
Due: argilla_server, argilla-server

CLI add import_history
  argilla-server/src/argilla_server/api/handlers/v1/imports.py
  argilla-server/src/argilla_server/contexts/imports.py
  extralit/src/argilla/cli/documents/import_bib.py
  extralit/src/argilla/cli/documents/import_history.py
Due: argilla_server, argilla-server

editted import history response
  .kiro/specs/papers-library-importer/design.md
  argilla-server/src/argilla_server/api/handlers/v1/imports.py
  argilla-server/src/argilla_server/api/schemas/v1/imports.py
  argilla-server/src/argilla_server/contexts/imports.py
  extralit/src/argilla/cli/documents/import_history.py
Due: argilla_server, argilla-server

refactor import_bib.py
  extralit/src/argilla/cli/documents/import_bib.py
Due: none

chore
  argilla-server/src/argilla_server/api/handlers/v1/imports.py
  argilla-server/src/argilla_server/api/schemas/v1/imports.py
  argilla-server/src/argilla_server/contexts/imports.py
  extralit/src/argilla/cli/documents/import_history.py
Due: argilla_server, argilla-server

rename CLI import bibtex to import
  .kiro/specs/papers-library-importer/tasks.md
  extralit/src/argilla/cli/documents/__main__.py
  extralit/tests/unit/cli/test_cli_documents.py
Due: none

Integrate bulk upload with job queue and progress tracking for multi-file references
  .kiro/specs/papers-library-importer/tasks.md
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/imports.py
  argilla-server/src/argilla_server/contexts/imports.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
  argilla-server/tests/unit/api/handlers/v1/test_bulk_documents.py
  extralit/tests/unit/cli/test_cli_documents.py
Due: argilla_server, argilla-server

update import CLI
  extralit/src/argilla/cli/documents/import_bib.py
Due: none

renamed history CLI
  extralit/src/argilla/cli/documents/__main__.py
  extralit/src/argilla/cli/documents/import_bib.py
  extralit/src/argilla/cli/documents/import_history.py
Due: none

updated UI flow design.md and tasks.md
  .kiro/specs/papers-library-importer/design.md
  .kiro/specs/papers-library-importer/tasks.md
Due: none

bibparser
  .kiro/specs/papers-library-importer/tasks.md
  argilla-frontend/components/features/import/ImportUpload.test.js
  argilla-frontend/components/features/import/ImportUpload.vue
  argilla-frontend/package-lock.json
  argilla-frontend/package.json
  argilla-frontend/pages/test-import.vue
  argilla-frontend/test-sample.bib
Due: frontend, argilla-frontend

5.1 Add Import Documents button to home page
  .kiro/specs/papers-library-importer/tasks.md
  argilla-frontend/components/features/home/sidebar/ImportDocuments.vue
  argilla-frontend/components/features/import/ImportModal.vue
  argilla-frontend/package.json
  argilla-frontend/pages/index.vue
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
  argilla-frontend/translation/ja.js
Due: frontend, argilla-frontend

5.2 Create ImportModal.vue full-page modal component
  .kiro/specs/papers-library-importer/design.md
  .kiro/specs/papers-library-importer/tasks.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  argilla-frontend/components/features/import/ImportAnalysisTable.vue
  argilla-frontend/components/features/import/ImportBatchProgress.vue
  argilla-frontend/components/features/import/ImportBibUpload.vue
  argilla-frontend/components/features/import/ImportModal.test.js
  argilla-frontend/components/features/import/ImportModal.vue
  argilla-frontend/components/features/import/ImportPdfUpload.vue
  argilla-frontend/components/features/import/ImportSummary.vue
Due: frontend, argilla-frontend

fix 1
  argilla-frontend/components/features/home/sidebar/ImportDocuments.vue
  argilla-frontend/components/features/import/ImportModal.vue
  argilla-frontend/pages/index.vue
Due: frontend, argilla-frontend

fix 2
  argilla-frontend/pages/index.vue
  argilla-frontend/pages/useHomeViewModel.ts
Due: frontend, argilla-frontend

fix 3
  argilla-frontend/pages/index.vue
  argilla-frontend/pages/useHomeViewModel.ts
Due: frontend, argilla-frontend

fix 4
  argilla-frontend/pages/index.vue
  argilla-frontend/pages/useHomeViewModel.ts
Due: frontend, argilla-frontend
