Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

Update docker-compose.yaml (#5766)
  examples/deployments/docker/docker-compose.yaml
Due: none

[DOCS] add update user to how-to guide (#5755)
  argilla/docs/how_to_guides/user.md
Due: none

Fix to Return Similarity Scores Along with Records (#5778)
  argilla/CHANGELOG.md
  argilla/src/argilla/records/_dataset_records.py
  argilla/src/argilla/records/_io/_datasets.py
  argilla/src/argilla/records/_io/_generic.py
  argilla/src/argilla/records/_io/_json.py
  argilla/src/argilla/records/_search.py
  argilla/tests/integration/test_search_records.py
  argilla/tests/unit/test_io/test_generic.py
Due: argilla

[BUGFIX] [ENHANCEMENT] create users and workspaces with predefined ID (#5786)
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/schemas/v1/users.py
  argilla-server/src/argilla_server/api/schemas/v1/workspaces.py
  argilla-server/src/argilla_server/contexts/accounts.py
  argilla-server/tests/unit/api/handlers/v1/users/test_create_user.py
  argilla-server/tests/unit/api/handlers/v1/workspaces/test_create_workspace.py
  argilla/CHANGELOG.md
  argilla/docs/how_to_guides/migrate_from_legacy_datasets.md
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/users/_resource.py
  argilla/src/argilla/workspaces/_resource.py
  argilla/tests/integration/test_manage_users.py
  argilla/tests/integration/test_manage_workspaces.py
Due: argilla, argilla-server

[BUGFIX] Prevent index error with empty values (#5787)
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/search_engine/commons.py
  argilla-server/tests/unit/search_engine/test_commons.py
  argilla/tests/integration/test_add_records.py
Due: argilla-server

[BUGFIX] Pass `verify` (and other transport args) when creating the argilla client (#5789)
  argilla/CHANGELOG.md
  argilla/src/argilla/_api/_client.py
  argilla/src/argilla/_api/_http/_client.py
  argilla/tests/unit/api/http/test_http_client.py
Due: argilla

chore: Set release version
  argilla-frontend/CHANGELOG.md
  argilla-frontend/package.json
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/_version.py
  argilla/CHANGELOG.md
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

chore: Next dev version
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_version.py
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

[BUGFIXES] Fixing error when using PostgreSQL (#5795)
  .github/workflows/argilla-server.yml
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/bulk/records_bulk.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/tests/unit/api/handlers/v1/test_datasets.py
  argilla-server/tests/unit/database/models/test_dataset_user_model.py
Due: argilla-server

[BUGFIX] Redirect slash when defining `ARGILLA_BASE_URL` (#5796)
  argilla-server/src/argilla_server/_app.py
Due: argilla-server

[REFACTOR][ENHANCEMENT] `argilla server`: better OAuth2 integration (#5689)
  argilla-frontend/components/features/login/OAuthLogin.vue
  argilla-frontend/components/features/login/components/HuggingFaceButton.vue
  argilla-frontend/components/features/login/components/KeycloakLogo.vue
  argilla-frontend/components/features/login/components/OAuthLoginButton.vue
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
  argilla-server/src/argilla_server/_app.py
  argilla-server/src/argilla_server/api/handlers/v1/oauth2.py
  argilla-server/src/argilla_server/contexts/accounts.py
  argilla-server/src/argilla_server/security/authentication/claims.py
  argilla-server/src/argilla_server/security/authentication/oauth2/__init__.py
  argilla-server/src/argilla_server/security/authentication/oauth2/_backends.py
  argilla-server/src/argilla_server/security/authentication/oauth2/auth_backend.py
  argilla-server/src/argilla_server/security/authentication/oauth2/provider.py
  argilla-server/src/argilla_server/security/authentication/oauth2/providers/__init__.py
  argilla-server/src/argilla_server/security/authentication/oauth2/providers/_huggingface.py
  argilla-server/src/argilla_server/security/authentication/oauth2/settings.py
  argilla-server/src/argilla_server/security/authentication/userinfo.py
  argilla-server/src/argilla_server/security/settings.py
  argilla-server/src/argilla_server/validators/users.py
  argilla-server/tests/unit/api/handlers/v1/test_oauth2.py
  argilla-server/tests/unit/contexts/hub/test_hub_dataset.py
  argilla-server/tests/unit/security/authentication/oauth2/backends/__init__.py
  argilla-server/tests/unit/security/authentication/oauth2/backends/test_keycloack_backend.py
  argilla-server/tests/unit/security/authentication/oauth2/test_settings.py
  argilla-server/tests/unit/security/authentication/test_userinfo.py
  argilla-server/tests/unit/test_app.py
  argilla/docs/getting_started/how-to-configure-argilla-on-huggingface.md
  argilla/docs/reference/argilla-server/configuration.md
  argilla/docs/reference/argilla-server/oauth2_configuration.md
  argilla/docs/reference/argilla-server/sso_keycloak.md
  argilla/mkdocs.yml
Due: argilla-server, argilla-frontend

Update README.md
  README.md
Due: none

set release version
  argilla-frontend/CHANGELOG.md
  argilla-frontend/package.json
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/_version.py
Due: argilla-server, argilla-frontend

[BUGFIX] revent sending auth headers for public requests (#5804)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/v1/infrastructure/services/useAxiosExtension.ts
Due: argilla-frontend

fix: argilla-frontend/package.json to reduce vulnerabilities
  argilla-frontend/package.json
Due: argilla-frontend

[BUGFIX] get dataset settings when using `client.datasets.list()` (#5810)
  argilla/src/argilla/client.py
Due: argilla

[FEAT][HELM] set ES SSL verification (#5807)
  examples/deployments/k8s/argilla-chart/templates/deployment.yaml
  examples/deployments/k8s/argilla-chart/values.yaml
Due: none

docs: fixed typo in 'update a user' section from doc (#5806)
  argilla/docs/how_to_guides/user.md
Due: none

set release version
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_version.py
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

prepare changelogs
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
Due: argilla-server, argilla-frontend

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
