Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, argilla, extralit, argilla_v1, argilla_server, argilla-server, argilla-frontend

Refactor ImportHistoryDetails component for simplified data handling
  argilla-frontend/components/features/import/ImportHistoryDetails.vue
  argilla-frontend/components/features/import/types.ts
  argilla-frontend/components/features/import/useImportHistoryDetailsViewModel.ts
  argilla-frontend/components/features/import/useImportHistoryListViewModel.ts
  argilla-frontend/pages/new/import/_id.vue
  argilla-frontend/pages/new/import/useImportConfigurationViewModel.ts
  argilla-frontend/v1/domain/entities/import/ImportAnalysis.ts
  argilla-frontend/v1/domain/entities/import/ImportHistoryDetails.ts
  argilla-frontend/v1/domain/usecases/get-import-history-details-use-case.ts
  argilla-server/src/argilla_server/contexts/imports.py
Due: frontend, argilla_server, argilla-server, argilla-frontend

Enhance import history data structure and processing
  argilla-frontend/components/features/import/useImportHistoryDetailsViewModel.ts
  argilla-frontend/v1/domain/entities/import/ImportAnalysis.ts
  argilla-frontend/v1/domain/entities/import/ImportHistoryDetails.ts
  argilla-frontend/v1/domain/usecases/get-import-history-details-use-case.ts
Due: frontend, argilla-frontend

Refactor BaseSimpleTable and ImportHistoryDataPreview components for improved functionality and styling
  argilla-frontend/components/base/base-simple-table/BaseSimpleTable.vue
  argilla-frontend/components/features/import/ImportHistoryDataPreview.vue
  argilla-frontend/v1/domain/usecases/get-import-history-use-case.ts
Due: frontend, argilla-frontend

Refactor Import History components for improved functionality and user experience
  argilla-frontend/components/features/import/ImportHistoryDataPreview.vue
  argilla-frontend/components/features/import/ImportHistoryDetails.vue
  argilla-frontend/components/features/import/ImportHistoryDetailsModal.vue
  argilla-frontend/components/features/import/ImportHistoryList.vue
  argilla-frontend/components/features/import/useImportHistoryDetailsViewModel.ts
  argilla-frontend/components/features/import/useImportHistoryListViewModel.ts
  argilla-frontend/pages/index.vue
  argilla-frontend/v1/domain/usecases/get-import-history-use-case.ts
Due: frontend, argilla-frontend

Refactor import history data structures and interfaces for consistency
  argilla-frontend/components/features/import/ImportHistoryList.vue
  argilla-frontend/v1/domain/usecases/create-import-history-use-case.ts
  argilla-frontend/v1/domain/usecases/get-import-history-use-case.ts
  argilla-server/src/argilla_server/api/handlers/v1/imports.py
  argilla-server/src/argilla_server/api/schemas/v1/imports.py
  argilla-server/src/argilla_server/contexts/imports.py
Due: frontend, argilla_server, argilla-server, argilla-frontend

styling
  argilla-frontend/components/base/base-simple-table/BaseSimpleTable.vue
  argilla-frontend/components/features/import/ImportHistoryDataPreview.vue
Due: frontend, argilla-frontend

fix tests
  argilla-server/tests/unit/api/handlers/v1/test_imports.py
Due: argilla_server, argilla-server

Enhance ImportAnalysisTable component with improved testing patterns and functionality
  .kiro/steering/structure.md
  argilla-frontend/components/features/import/ImportAnalysisTable.spec.js
  argilla-frontend/components/features/import/ImportAnalysisTable.vue
  argilla-frontend/components/features/import/useImportAnalysisViewModel.ts
Due: frontend, argilla-frontend

fix tests
  .github/workflows/argilla-frontend.yml
  .kiro/steering/structure.md
  argilla-frontend/components/base/base-flow-modal/BaseFlowModal.spec.js
  argilla-frontend/components/base/base-simple-table/BaseSimpleTable.test.ts
  argilla-frontend/components/features/import/ImportModal.spec.js
Due: frontend, argilla-frontend

update codecov and tests
  argilla-frontend/components/features/import/ImportAnalysisTable.spec.js
  codecov.yml
Due: frontend, argilla-frontend

passing tests
  argilla-frontend/components/base/base-render-markdown/MarkdownRenderer.spec.js
Due: frontend, argilla-frontend

recent import tests
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/components/features/import/RecentImportCard.spec.js
  argilla-frontend/components/features/import/RecentImports.spec.js
  argilla-frontend/components/features/import/useRecentImportsViewModel.spec.js
Due: frontend, argilla-frontend

fix tests
  .kiro/steering/structure.md
  argilla-frontend/components/features/import/useRecentImportsViewModel.spec.js
Due: frontend, argilla-frontend

Add tests for ImportHistory configuration workflow and components
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfiguration.spec.js
  argilla-frontend/components/features/import/ImportHistoryDataPreview.spec.js
  argilla-frontend/e2e/common/import-api-mock.ts
  argilla-frontend/e2e/import-configuration-workflow/import-configuration-workflow.spec.ts
  argilla-frontend/pages/new/import/useImportConfigurationViewModel.spec.js
Due: frontend, argilla-frontend

fix test
  argilla-frontend/components/features/import/RecentImportCard.vue
Due: frontend, argilla-frontend

fixed all tests
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfiguration.spec.js
  argilla-frontend/components/features/import/ImportHistoryDataPreview.spec.js
  argilla-frontend/e2e/import-configuration-workflow/import-configuration-workflow.spec.ts
  argilla-frontend/pages/new/import/useImportConfigurationViewModel.spec.js
Due: frontend, argilla-frontend

added editable question configuration card
  argilla-frontend/components/features/dataset-creation/configuration/fields/DatasetConfigurationField.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationQuestion.vue
  argilla-frontend/components/features/dataset-creation/configuration/shared/DatasetConfigurationCard.vue
Due: frontend, argilla-frontend

renameQuestion
  argilla-frontend/components/features/annotation/container/questions/form/Questions.component.vue
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
  argilla-frontend/components/features/dataset-creation/configuration/fields/DatasetConfigurationField.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationQuestion.vue
  argilla-frontend/components/features/dataset-creation/configuration/shared/DatasetConfigurationCard.vue
  argilla-frontend/v1/domain/entities/hub/Subset.ts
  argilla-frontend/v1/domain/entities/question/QuestionSetting.ts
Due: frontend, argilla-frontend

renameQuestion name, not just title
  argilla-frontend/components/features/annotation/container/questions/form/Questions.component.vue
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationQuestion.vue
  argilla-frontend/components/features/dataset-creation/configuration/shared/DatasetConfigurationCard.vue
  argilla-frontend/v1/domain/entities/hub/Subset.ts
Due: frontend, argilla-frontend

[FEAT] Rename question in Dataset Configuration (#117)
  argilla-frontend/components/features/annotation/container/questions/form/Questions.component.vue
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
  argilla-frontend/components/features/dataset-creation/configuration/fields/DatasetConfigurationField.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationQuestion.vue
  argilla-frontend/components/features/dataset-creation/configuration/shared/DatasetConfigurationCard.vue
  argilla-frontend/v1/domain/entities/hub/Subset.ts
  argilla-frontend/v1/domain/entities/question/QuestionSetting.ts
Due: frontend, argilla-frontend

Update references from argilla-server to extralit-server across configuration and documentation files
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/docker-compose/setup.sh
  .devcontainer/setup.sh
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/extralit-server.build-docker-images.yml
  .github/workflows/extralit-server.yml
  .gitignore
  .kiro/specs/import-history-sidebar/design.md
  .kiro/specs/papers-library-importer/design.md
  .kiro/specs/papers-library-importer/tasks.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .pre-commit-config.yaml
  argilla-frontend/v1/domain/entities/import/ImportAnalysis.ts
  codecov.yml
  extralit-server/src/extralit_server/_app.py
  extralit/docs/admin_guide/index.md
  extralit/docs/admin_guide/migrate_from_legacy_datasets.md
  extralit/docs/admin_guide/upgrading.md
  extralit/docs/community/developer.md
  extralit/docs/getting_started/development_setup.md
  extralit/docs/reference/argilla-server/telemetry.md
  extralit/mkdocs.yml
Due: frontend, argilla-frontend

renamed argilla-server to extralit-server
  .github/copilot-instructions.md
  .github/workflows/extralit-server.build-docker-images.yml
  .github/workflows/extralit-server.yml
  .kiro/specs/papers-library-importer/tasks.md
  .kiro/steering/tech.md
  .pre-commit-config.yaml
  Tiltfile
  argilla-frontend/dev.frontend.Dockerfile
  codecov.yml
  examples/deployments/k8s/argilla-chart/README.md
  examples/deployments/k8s/argilla-chart/values.yaml
  examples/deployments/k8s/argilla-loadbalancer-service.yaml
  examples/deployments/k8s/extralit-deployment.yaml
  examples/deployments/k8s/helm/elasticsearch-helm.yaml
  extralit-server/README.md
  extralit-server/docker/extralit-hf-spaces/Dockerfile
  extralit-server/pyproject.toml
  extralit-server/src/extralit_server/telemetry/_client.py
  extralit-server/src/extralit_server/webhooks/v1/ping.py
  extralit-server/tests/unit/api/handlers/v1/webhooks/test_ping_webhook.py
  extralit-server/tests/unit/commons/test_telemetry.py
  extralit-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  extralit-server/tests/unit/webhooks/v1/test_notify_ping_event.py
  extralit/docs/admin_guide/k8s_deployment.md
  extralit/docs/admin_guide/upgrading.md
  extralit/docs/community/developer.md
  extralit/docs/getting_started/development_setup.md
Due: frontend, argilla-frontend

replaced ArgillaAPI to ExtralitAPI
  extralit-server/src/extralit_server/alembic/env.py
  extralit-server/src/extralit_server/api/schemas/v1/settings.py
  extralit-server/src/extralit_server/contexts/settings.py
  extralit/docs/admin_guide/use_markdown_to_format_rich_content.md
  extralit/docs/admin_guide/webhooks.md
  extralit/docs/community/developer.md
  extralit/docs/reference/argilla/webhooks.md
  extralit/docs/reference/argilla/workspaces.md
  extralit/src/extralit/_api/_client.py
  extralit/src/extralit/_exceptions/_client.py
  extralit/src/extralit/cli/app.py
  extralit/src/extralit/cli/callback.py
  extralit/src/extralit/cli/documents/__main__.py
  extralit/src/extralit/cli/files/__main__.py
  extralit/src/extralit/cli/logout/__main__.py
  extralit/src/extralit/cli/typer_ext.py
  extralit/src/extralit/client/core.py
  extralit/src/extralit/client/login.py
Due: none

updated client.Argilla to client.Extralit
  argilla-frontend/pages/oauth/_provider/useOAuthViewModel.ts
  codecov.yml
  extralit-server/src/extralit_server/errors/base_errors.py
  extralit-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_create_dataset_records_bulk.py
  extralit-server/tests/unit/api/handlers/v1/datasets/test_export_dataset_to_hub.py
  extralit-server/tests/unit/api/handlers/v1/datasets/test_get_dataset_progress.py
  extralit-server/tests/unit/api/handlers/v1/datasets/test_get_dataset_users_progress.py
  extralit-server/tests/unit/api/handlers/v1/responses/test_create_current_user_responses_bulk.py
  extralit-server/tests/unit/api/handlers/v1/test_datasets.py
  extralit-server/tests/unit/api/handlers/v1/users/test_update_user.py
  extralit-server/tests/unit/commons/test_telemetry.py
  extralit-server/tests/unit/errors/test_errors.py
  extralit/docs/reference/argilla/client.md
  extralit/tests/unit/api/test_workspace_documents_api.py
  extralit/tests/unit/test_interface.py
Due: frontend, argilla-frontend

Refactor: Replace ArgillaError with ExtralitError across the codebase
  examples/custom_field/table_field.ipynb
  examples/document_extraction/setup_workspace.ipynb
  extralit-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  extralit/docs/community/developer.md
  extralit/docs/community/integrations/llamaindex_rag_github.ipynb
  extralit/src/extralit/_api/_client.py
  extralit/src/extralit/_exceptions/_api.py
  extralit/src/extralit/_exceptions/_base.py
  extralit/src/extralit/_exceptions/_client.py
  extralit/src/extralit/_exceptions/_hub.py
  extralit/src/extralit/_exceptions/_metadata.py
  extralit/src/extralit/_exceptions/_records.py
  extralit/src/extralit/_exceptions/_responses.py
  extralit/src/extralit/_exceptions/_serialization.py
  extralit/src/extralit/_exceptions/_settings.py
  extralit/src/extralit/_exceptions/_suggestions.py
  extralit/src/extralit/client/resources.py
  extralit/src/extralit/datasets/_io/_disk.py
  extralit/src/extralit/records/_resource.py
  extralit/src/extralit/settings/_field.py
  extralit/tests/integration/test_client.py
  extralit/tests/unit/test_resources/test_records.py
Due: none

Refactor: Update references from Argilla to Extralit in Docker configurations and workflows
  .github/workflows/extralit-server.build-docker-images.yml
  .github/workflows/extralit.yml
  argilla-frontend/dev.frontend.Dockerfile
  examples/deployments/docker/nginx/docker-compose.yaml
  examples/deployments/docker/nginx/nginx.conf
  examples/deployments/docker/traefik/docker-compose.yaml
  extralit-server/docker/extralit-hf-spaces/Dockerfile
  extralit-server/pyproject.toml
  extralit-server/src/extralit_server/alembic/versions/8c574ada5e5f_update_enum_columns.py
  extralit/mkdocs.yml
Due: frontend, argilla-frontend

Update Docker image references and skip tests in hub dataset exporter
  .github/workflows/extralit.yml
  extralit-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  extralit/docs/admin_guide/upgrading.md
Due: none

latest
  .github/workflows/extralit-server.build-docker-images.yml
  extralit/tests/integration/test_add_records.py
Due: none

Refactor: Update references from Argilla to Extralit in configuration files and codebase
  extralit-frontend/e2e/annotation-mode-page/annotation-mode.page.spec.ts
  extralit-frontend/e2e/common/dataset-api-mock.ts
  extralit-server/src/extralit_server/contexts/hub.py
  extralit-server/tests/unit/api/handlers/v1/settings/test_get_settings.py
  extralit-server/tests/unit/cli/database/users/test_migrate.py
  extralit-server/tests/unit/conftest.py
  extralit/docs/admin_guide/query.md
  extralit/docs/admin_guide/webhooks_internals.md
  extralit/docs/reference/argilla-server/sso_keycloak.md
  extralit/docs/tutorials/token_classification.ipynb
  extralit/src/extralit/datasets/_io/_hub.py
Due: none

updated mkdocs
  extralit-server/tests/unit/cli/database/users/test_user_files/users.yml
  extralit-server/tests/unit/cli/database/users/test_user_files/users_invalid_user.yml
  extralit-server/tests/unit/cli/database/users/test_user_files/users_one.yml
  extralit/docs/admin_guide/custom_fields.md
  extralit/docs/reference/argilla/client.md
  extralit/docs/reference/argilla/datasets/dataset_records.md
  extralit/docs/reference/argilla/datasets/datasets.md
  extralit/docs/reference/argilla/markdown.md
  extralit/docs/reference/argilla/records/records.md
  extralit/docs/reference/argilla/records/responses.md
  extralit/docs/reference/argilla/records/suggestions.md
  extralit/docs/reference/argilla/records/vectors.md
  extralit/docs/reference/argilla/search.md
  extralit/docs/reference/argilla/settings/fields.md
  extralit/docs/reference/argilla/settings/metadata_property.md
  extralit/docs/reference/argilla/settings/questions.md
  extralit/docs/reference/argilla/settings/settings.md
  extralit/docs/reference/argilla/settings/task_distribution.md
  extralit/docs/reference/argilla/settings/vectors.md
  extralit/docs/reference/argilla/users.md
  extralit/docs/reference/argilla/webhooks.md
  extralit/docs/reference/argilla/workspaces.md
Due: none

merge conflicts
  extralit-server/.env.dev
  extralit-server/src/extralit_server/contexts/document/preprocessing.py
Due: none

Path conditions:
  frontend: any of: argilla-frontend/
  argilla: (any of: argilla/src/argilla/) or (any of: argilla/src/argilla/**)
  extralit: (any of: argilla/src/extralit/) or (any of: argilla/src/extralit/**)
  argilla_v1: (any of: argilla-v1/src/argilla_v1/) or (any of: argilla-v1/src/argilla_v1/**)
  argilla_server: any of: argilla-server/
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
