Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

Update vector_index.py
  argilla/src/extralit/extraction/vector_index.py
Due: extralit

Update docker-compose.yml
  .devcontainer/docker-compose/docker-compose.yml
Due: none

redis
  .devcontainer/docker-compose/docker-compose.yml
Due: none

updated Extralit logos
  argilla-frontend/components/base/base-brand-icon/BrandLogo.vue
  argilla-frontend/components/base/base-loading/BaseLoading.vue
Due: argilla-frontend

updated welcome-hf-sign-in-ss.jpg
  argilla-frontend/pages/welcome-hf-sign-in.vue
  argilla-frontend/static/images/welcome-hf-sign-in-ss.jpg
  argilla-frontend/static/images/welcome-hf-sign-in-ss.png
  argilla/docs/glossary.md
Due: argilla-frontend

fix: stringify newTableJSON before emitting change-text event
  argilla-frontend/components/base/base-render-table/RenderTable.vue
Due: argilla-frontend

Deployed a0c18a9 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

fix: nuxt build error on `column.updateDefinition`
  argilla-frontend/components/base/base-render-table/RenderTable.vue
Due: argilla-frontend

fix: update `argilla-hf-spaces` Dockerfile to reduce build process memory requirement
  argilla-server/docker/argilla-hf-spaces/Dockerfile
Due: argilla-server

ci: fix pytests in GH Actions build `argilla` sdk
  argilla/pyproject.toml
  argilla/tests/unit/cli/schemas/test_list.py
  argilla/tests/unit/server/commons/test_settings.py
Due: none

ci: fix pytests in GH Actions build `argilla` sdk
  argilla-v1/src/extralit/pipeline/ingest/record.py
  argilla/pyproject.toml
  argilla/tests/unit/cli/schemas/test_list.py
  argilla/tests/unit/server/commons/test_settings.py
Due: none
