Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

🎉 Improve styles file weight (#5724)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/assets/css/fonts.css
  argilla-frontend/assets/css/themes.css
  argilla-frontend/assets/scss/abstract.scss
  argilla-frontend/assets/scss/abstract/mixins/_media-queries.scss
  argilla-frontend/assets/scss/base/base.scss
  argilla-frontend/components/base/base-banner/BaseBanner.vue
  argilla-frontend/components/base/base-progress/BaseLinearProgress.vue
  argilla-frontend/components/base/base-search-bar/BaseSearchBar.vue
  argilla-frontend/components/features/annotation/container/fields/sandbox/Sandbox.vue
  argilla-frontend/components/features/annotation/container/fields/span-annotation/components/EntityComponent.vue
  argilla-frontend/components/features/annotation/container/fields/span-annotation/components/EntityDropdown.vue
  argilla-frontend/components/features/annotation/container/fields/span-annotation/components/EntityDropdownOverlapping.vue
  argilla-frontend/components/features/annotation/settings/SettingsInfo.vue
  argilla-frontend/components/features/annotation/settings/SettingsInfoReadOnly.vue
  argilla-frontend/nuxt.config.ts
  argilla-frontend/package.json
  argilla-frontend/pages/dataset/_id/settings.vue
  argilla-frontend/v1/infrastructure/services/useLanguageDetector.ts
Due: argilla-frontend

[FEATURE] Add support to update record fields (#5685)
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/handlers/v1/datasets/records.py
  argilla-server/src/argilla_server/api/handlers/v1/records.py
  argilla-server/src/argilla_server/api/schemas/v1/records.py
  argilla-server/src/argilla_server/api/schemas/v1/records_bulk.py
  argilla-server/src/argilla_server/bulk/records_bulk.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/records.py
  argilla-server/src/argilla_server/validators/records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_upsert_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/records/test_update_record.py
  argilla-server/tests/unit/api/handlers/v1/test_records.py
  argilla-server/tests/unit/conftest.py
  argilla/tests/integration/test_update_records.py
Due: argilla-server

🚑 feat/check version (#5738)
  .gitignore
  argilla-frontend/dev.frontend.Dockerfile
  argilla-frontend/package-lock.json
  argilla-frontend/package.json
Due: argilla-frontend

[BUGFIX] [TESTS] Remove custom isoformat parsing and let pydantic do the work (#5752)
  argilla/src/argilla/_api/_base.py
  argilla/src/argilla/_api/_datasets.py
  argilla/src/argilla/_api/_fields.py
  argilla/src/argilla/_api/_metadata.py
  argilla/src/argilla/_api/_questions.py
  argilla/src/argilla/_api/_records.py
  argilla/src/argilla/_api/_users.py
  argilla/src/argilla/_api/_vectors.py
  argilla/src/argilla/_api/_workspaces.py
  argilla/tests/unit/models/__init__.py
  argilla/tests/unit/models/test_workspace_models.py
Due: argilla

[BUGFIX] Fetch dataset setting when iterate `client.datasets` (#5753)
  argilla/CHANGELOG.md
  argilla/src/argilla/client.py
  argilla/tests/integration/test_listing_datasets.py
Due: argilla

[BUGFIX] `argilla`: review datasest import with new export flow (#5756)
  argilla/src/argilla/datasets/_io/_disk.py
  argilla/src/argilla/datasets/_io/_hub.py
  argilla/src/argilla/responses.py
  argilla/src/argilla/settings/_field.py
Due: argilla

fix: remove `argilla-v1` dependence in extralit
  argilla/pyproject.toml
  examples/custom_field/table_field.ipynb
Due: none

fix: remove `argilla-v1` dependence in extralit
  argilla/pyproject.toml
  argilla/src/extralit/pipeline/export/record.py
  argilla/src/extralit/pipeline/ingest/paper.py
  argilla/src/extralit/pipeline/ingest/record.py
  argilla/src/extralit/pipeline/ingest/segment.py
  argilla/src/extralit/pipeline/update/schema.py
  argilla/src/extralit/pipeline/update/suggestion.py
  argilla/src/extralit/preprocessing/alignment.py
  argilla/src/extralit/server/app.py
  argilla/src/extralit/server/context/datasets.py
  examples/custom_field/table_field.ipynb
Due: extralit

chore: update packages versions
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_version.py
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

chore: update CHANGELOG.md versions
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
Due: argilla-server, argilla-frontend

chore: increase dev version to 2.7.0
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_version.py
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

Feat/improve export hover (#5764)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/components/features/annotation/header/header-bar/ExportToHub.vue
  argilla-frontend/components/features/annotation/header/header-bar/useExportToHubViewModel.ts
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
Due: argilla-frontend

[CHORE] Add missing fixed entries (#5765)
  argilla/CHANGELOG.md
Due: none

fix: remove `argilla-v1` dependence in extralit
  argilla-frontend/v1/domain/entities/record/Record.ts
  argilla/src/extralit/extraction/chunking.py
  argilla/src/extralit/extraction/models/schema.py
  argilla/src/extralit/extraction/vector_index.py
  argilla/src/extralit/pipeline/export/dataset.py
Due: extralit, argilla-frontend

fix: remove `argilla-v1` dependence in extralit
  argilla-frontend/v1/domain/entities/record/Record.ts
Due: argilla-frontend

✨ Add share component (#5727)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/components/base/base-button/BaseButton.vue
  argilla-frontend/components/features/annotation/progress/AnnotationProgress.vue
  argilla-frontend/components/features/annotation/progress/share/Share.vue
  argilla-frontend/components/features/annotation/progress/share/useShareViewModel.ts
  argilla-frontend/components/features/annotation/progress/status-counter/StatusCounter.vue
  argilla-frontend/components/features/annotation/progress/useAnnotationProgressViewModel.ts
  argilla-frontend/nuxt.config.ts
  argilla-frontend/pages/welcome-hf-sign-in.vue
  argilla-frontend/plugins/axios/axios-global-handler.ts
  argilla-frontend/plugins/extensions/copy-to-clipboard.ts
  argilla-frontend/translation/en.js
  argilla-frontend/v1/di/di.ts
  argilla-frontend/v1/domain/entities/dataset/Progress.ts
  argilla-frontend/v1/domain/entities/environment/Environment.ts
  argilla-frontend/v1/infrastructure/repositories/AxiosErrorHandler.ts
  argilla-frontend/v1/infrastructure/repositories/EnvironmentRepository.ts
  argilla-frontend/v1/infrastructure/services/useAxiosExtension.ts
  argilla-frontend/v1/infrastructure/services/useClipboard.ts
  argilla-frontend/v1/infrastructure/services/useRunningEnvironment.test.ts
  argilla-frontend/v1/infrastructure/services/useRunningEnvironment.ts
  argilla-frontend/v1/infrastructure/types/environment.ts
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/_app.py
  argilla-server/src/argilla_server/api/schemas/v1/settings.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/settings.py
  argilla-server/src/argilla_server/settings.py
  argilla-server/tests/unit/api/handlers/v1/settings/test_get_settings.py
  argilla-server/tests/unit/commons/test_settings.py
  argilla/docs/reference/argilla-server/configuration.md
Due: argilla-server, argilla-frontend

🐛 Try
  argilla-frontend/pages/oauth/_provider/useOAuthViewModel.ts
Due: argilla-frontend

Revert "🐛 Try"
  argilla-frontend/pages/oauth/_provider/useOAuthViewModel.ts
Due: argilla-frontend

✨ Fix twice rendering Nuxt issue https://github.com/nuxt/nuxt/issues/5703
  argilla-frontend/nuxt.config.ts
  argilla-frontend/package-lock.json
Due: argilla-frontend

✨ Upgrade and remove packages (#5769)
  argilla-frontend/nuxt.config.ts
  argilla-frontend/package-lock.json
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_app.py
Due: argilla-server, argilla-frontend

feat: added document api to argilla sdk
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla/src/argilla/_api/_client.py
  argilla/src/argilla/_api/_document.py
  argilla/src/argilla/_models/__init__.py
  argilla/src/argilla/_models/_document.py
  argilla/src/argilla/workspaces/_resource.py
  examples/custom_field/table_field.ipynb
Due: argilla, argilla-server

fix: upload document
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla/src/argilla/_api/_document.py
  argilla/src/argilla/_models/_document.py
  argilla/src/argilla/workspaces/_resource.py
  examples/custom_field/table_field.ipynb
Due: argilla, argilla-server

fix: changed document upload with upsert functionality
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/models/database.py
Due: argilla-server

fix: delete document endpoint
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/tests/unit/api/handlers/v1/test_documents.py
Due: argilla-server

fix: delete document
  argilla/src/argilla/_api/_document.py
  argilla/src/argilla/_models/_schema.py
  argilla/src/argilla/workspaces/_resource.py
Due: argilla

fix: :bug: Remove word (#5773)
  argilla-server/src/argilla_server/_app.py
Due: argilla-server

ci: added repo-visualizer
  .github/workflows/argilla.yml
Due: none

Make message and role length configurable (#5784)
  argilla-server/src/argilla_server/api/schemas/v1/chat.py
Due: argilla-server

Add docs on chat question configuration (#5785)
  argilla/docs/reference/argilla-server/configuration.md
Due: none

Update docker-compose.yaml (#5766)
  examples/deployments/docker/docker-compose.yaml
Due: none

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
