Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

fix: `update_response` duration update
  argilla-server/src/argilla_server/validators/responses.py
Due: argilla-server

fix: tiltfile
  Tiltfile
Due: none

fix: get records with response_suggestion
  argilla-server/src/argilla_server/api/handlers/v1/datasets/records.py
  argilla-server/src/argilla_server/contexts/records.py
Due: argilla-server

merge: remove upstream nonexistent files
  argilla-frontend/__mocks__/styleMock.js
  argilla-frontend/babel.config.js
  argilla-frontend/components/features/user-settings/LeftUserSettings.content.vue
  argilla-frontend/components/features/user-settings/TopUserSettings.content.vue
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
  argilla-server/src/argilla_server/contexts/datasets.py
Due: argilla-server, argilla-frontend

fix: adding response_suggestions errors with non-unique IDs
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/k8s-tilt/devcontainer.json
  Tiltfile
  argilla-frontend/v1/domain/entities/record/Record.ts
  argilla-server/docker/server/dev.argilla_server.dockerfile
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
  argilla-server/src/argilla_server/api/handlers/v1/datasets/records.py
  examples/deployments/k8s/argilla-server-deployment.yaml
Due: argilla-server, argilla-frontend

chore: added v0.3.0 extralit versioning
  argilla-frontend/CHANGELOG.md
  argilla-frontend/package.json
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/_version.py
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

chore: added v0.3.0 extralit versioning
  argilla-frontend/CHANGELOG.md
  argilla-frontend/package.json
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/_version.py
  argilla-v1/CHANGELOG.md
  argilla-v1/src/argilla_v1/_version.py
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

ci: extralit-server dockerfile multi-stage build.
  Tiltfile
  argilla-server/CHANGELOG.md
  argilla/docker/extralit.dockerfile
Due: argilla-server

latest
  .devcontainer/k8s-tilt/devcontainer.json
  argilla-frontend/components/features/annotation/container/mode/BulkAnnotation.vue
  argilla-frontend/components/features/annotation/container/mode/FocusAnnotation.vue
  argilla-frontend/translation/en.js
Due: argilla-frontend

feat: Added the PDFViewer to the left collapsible component in FocusAnnotation.vue
  argilla-frontend/components/features/annotation/container/mode/FocusAnnotation.vue
  argilla-frontend/components/features/annotation/sidebar/SidebarFeedbackTask.component.vue
  argilla-frontend/components/features/annotation/sidebar/useDocumentViewModel.ts
  argilla-frontend/nuxt.config.ts
Due: argilla-frontend

fix: updated async session in database.py
  argilla-frontend/components/base/base-resizable/HorizontalResizable.vue
  argilla-frontend/components/features/annotation/sidebar/useDocumentViewModel.ts
  argilla-frontend/nuxt.config.ts
  argilla-server/src/argilla_server/api/handlers/v1/models.py
  argilla-server/src/argilla_server/models/database.py
Due: argilla-server, argilla-frontend
