Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

ci: fix `npm run build`
  argilla-frontend/package.json
Due: argilla-frontend

ci: fix `npm run build` adding postcss
  argilla-frontend/package.json
Due: argilla-frontend

ci: update Docker tags to use Docker Hub instead of GCP
  .github/workflows/argilla-frontend.build-push-dev-frontend-docker.yml
Due: none

[FEATURE] UI - Add language selection in user settings (#5690)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/components/features/user-settings/UserSettingsContent.vue
  argilla-frontend/components/features/user-settings/UserSettingsLanguage.vue
  argilla-frontend/components/features/user-settings/UserSettingsTheme.vue
  argilla-frontend/components/features/user-settings/useUserSettingsLanguageViewModel.ts
  argilla-frontend/nuxt.config.ts
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
  argilla-frontend/v1/infrastructure/services/useColorSchema.ts
  argilla-frontend/v1/infrastructure/services/useLanguageDetector.test.ts
  argilla-frontend/v1/infrastructure/services/useLanguageDetector.ts
  argilla-frontend/v1/infrastructure/services/useLocalStorage.ts
Due: argilla-frontend

⚡️ Fix highlight text (#5693)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/components/features/annotation/container/fields/span-annotation/useSpanAnnotationTextFieldViewModel.ts
Due: argilla-frontend

🚑 Add missing translation (#5696)
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationLabels.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationSpan.vue
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
Due: argilla-frontend

Docs - Add docs for adding a language (#5640)
  argilla/docs/community/adding_language.md
  argilla/mkdocs.yml
Due: none

ci: fixes
  .devcontainer/k8s-tilt/devcontainer.json
  .github/workflows/argilla.docs.yml
  argilla-frontend/tsconfig.json
Due: argilla-frontend

ci: continue on errors
  .github/workflows/argilla-server.yml
Due: none

ci: fix env vars in `argilla-hf-spaces` image
  .github/workflows/argilla-v1.yml
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/quickstart/scripts/start_argilla_server.sh
Due: argilla-server

chore: update RenderTable and RenderHTML component names
  argilla-frontend/components/base/base-render-html/RenderHTML.vue
  argilla-frontend/components/base/base-render-html/renderHTML.test.js
  argilla-frontend/components/base/base-render-table/RenderTable.vue
  argilla-frontend/components/base/base-render-table/renderTable.test.js
  argilla-frontend/components/features/annotation/container/fields/text-field/TextField.vue
  argilla-frontend/components/features/annotation/container/questions/form/text-area/TextAreaContents.vue
  argilla-frontend/components/features/annotation/container/questions/form/text-area/TextAreaSuggestion.vue
  argilla-frontend/translation/en.js
Due: argilla-frontend

chore: update RenderTable and RenderHTML component names
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/k8s-tilt/devcontainer.json
Due: none
