Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

chore: update RenderTable and RenderHTML component names
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/k8s-tilt/devcontainer.json
Due: none

feat: added FieldType.table
  argilla-frontend/v1/domain/entities/field/FieldType.ts
  argilla-server/src/argilla_server/alembic/versions/2c12e273a93e_add_fieldtype_table_and_update_fields_.py
  argilla-server/src/argilla_server/database.py
  argilla-server/src/argilla_server/enums.py
  argilla-server/src/argilla_server/models/database.py
  examples/custom_field/custom_field.ipynb
Due: argilla-server, argilla-frontend

[BUGFIX] `argilla server`: Prevent passing non-string values to text fields (#5682)
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/validators/records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_create_dataset_records_bulk.py
Due: argilla-server

fix: Resolve failing tests after pydantic V2 merge (#5700)
  argilla-server/src/argilla_server/api/schemas/v1/records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_create_dataset_records_bulk.py
Due: argilla-server

[DOCS] Deploy on spaces review (#5704)
  argilla/docs/getting_started/quickstart.md
  argilla/src/argilla/_helpers/_deploy.py
Due: argilla

[REFACTOR] `argilla`: Align questions to `Resource` API (#5680)
  argilla/src/argilla/_api/_questions.py
  argilla/src/argilla/_models/__init__.py
  argilla/src/argilla/_models/_settings/_questions.py
  argilla/src/argilla/_models/_settings/_questions/__init__.py
  argilla/src/argilla/_models/_settings/_questions/_base.py
  argilla/src/argilla/_models/_settings/_questions/_label_selection.py
  argilla/src/argilla/_models/_settings/_questions/_multi_label_selection.py
  argilla/src/argilla/_models/_settings/_questions/_ranking.py
  argilla/src/argilla/_models/_settings/_questions/_rating.py
  argilla/src/argilla/_models/_settings/_questions/_span.py
  argilla/src/argilla/_models/_settings/_questions/_text.py
  argilla/src/argilla/records/_mapping/_mapper.py
  argilla/src/argilla/settings/_common.py
  argilla/src/argilla/settings/_question.py
  argilla/src/argilla/settings/_resource.py
  argilla/tests/integration/conftest.py
  argilla/tests/integration/test_add_records.py
  argilla/tests/integration/test_export_dataset.py
  argilla/tests/integration/test_export_records.py
  argilla/tests/integration/test_import_features.py
  argilla/tests/integration/test_manage_metadata.py
  argilla/tests/integration/test_publish_datasets.py
  argilla/tests/integration/test_update_dataset_settings.py
  argilla/tests/integration/test_update_records.py
  argilla/tests/unit/test_resources/test_questions.py
Due: argilla

chore: Set release version
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_version.py
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

chore: Update dev version
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_version.py
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

[ENHANCEMENT] `argilla server`: Return users on dataset progress (#5701)
  argilla-server/src/argilla_server/alembic/versions/580a6553186f_add_datasets_users_table.py
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
  argilla-server/src/argilla_server/api/schemas/v1/datasets.py
  argilla-server/src/argilla_server/bulk/records_bulk.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/database.py
  argilla-server/src/argilla_server/models/database.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_create_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_dataset_records_bulk_with_responses.py
  argilla-server/tests/unit/api/handlers/v1/datasets/test_get_dataset_progress.py
  argilla-server/tests/unit/api/handlers/v1/responses/test_create_current_user_responses_bulk.py
  argilla-server/tests/unit/api/handlers/v1/test_datasets.py
  argilla-server/tests/unit/api/handlers/v1/test_records.py
  argilla-server/tests/unit/database/models/test_dataset_user_model.py
Due: argilla-server

[CI] Update base docker image (#5705)
  .github/workflows/argilla-frontend.yml
  argilla-frontend/dev.frontend.Dockerfile
Due: argilla-frontend

🔥 Fix highlight on bulk (#5698)
  argilla-frontend/components/features/annotation/container/fields/RecordFields.vue
  argilla-frontend/components/features/annotation/container/fields/chat-field/ChatField.vue
  argilla-frontend/components/features/annotation/container/fields/chat-field/useChatFieldViewModel.ts
  argilla-frontend/components/features/annotation/container/fields/span-annotation/SpanAnnotationTextField.vue
  argilla-frontend/components/features/annotation/container/fields/span-annotation/useSpanAnnotationTextFieldViewModel.ts
  argilla-frontend/components/features/annotation/container/fields/text-field/TextField.vue
  argilla-frontend/components/features/annotation/container/fields/text-field/useTextFieldViewModel.ts
Due: argilla-frontend

[CHORE] Review changelogs (#5707)
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
Due: argilla-server, argilla-frontend

fix: update iframe height to 100%
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfiguration.vue
  argilla/src/extralit/server/app.py
Due: extralit, argilla-frontend

fix: update iframe height to 100%
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfiguration.vue
Due: argilla-frontend

fix: argilla sdk
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla/src/argilla/settings/_question.py
Due: argilla, argilla-server

fix
  argilla-server/src/argilla_server/validators/response_values.py
Due: argilla-server

feat: added TableField
  argilla-frontend/components/features/annotation/container/fields/RecordFields.vue
  argilla-frontend/components/features/annotation/container/fields/table-field/TableField.vue
  argilla-frontend/v1/domain/entities/field/Field.ts
  argilla-server/src/argilla_server/api/schemas/v1/fields.py
  argilla-server/src/argilla_server/search_engine/commons.py
  argilla/src/argilla/settings/_field.py
Due: argilla, argilla-server, argilla-frontend

feat: added TableField
  argilla-server/src/argilla_server/alembic/versions/2c12e273a93e_add_fieldtype_table_and_update_fields_.py
  argilla/src/argilla/_models/__init__.py
  argilla/src/argilla/_models/_settings/_fields.py
  argilla/src/argilla/settings/_field.py
Due: argilla, argilla-server
