Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

chore: small code style change
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
Due: argilla-server

update styles and copy
  argilla-frontend/components/base/base-separator/BaseSeparator.vue
  argilla-frontend/components/features/home/sidebar/DatasetBadge.vue
  argilla-frontend/pages/_id.vue
  argilla-frontend/pages/index.vue
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
Due: argilla-frontend

chore: small improvement installing dependencies for HF Spaces Dockerfile (#5651)
  argilla-server/docker/argilla-hf-spaces/Dockerfile
Due: argilla-server

fix separator
  argilla-frontend/pages/index.vue
Due: argilla-frontend

fix: skip `helmlint` pre-commit hook on CI because `helm` command is not available (#5654)
  .pre-commit-config.yaml
Due: none

Import from hub docs (#5631)
  argilla/docs/assets/images/getting_started/dataset_configurator.png
  argilla/docs/getting_started/quickstart.md
Due: none

include id
  argilla-frontend/v1/domain/entities/hub/Subset.ts
Due: argilla-frontend

fix: get_weaviate_client
  Tiltfile
Due: none

fix: get_weaviate_client
  Tiltfile
  argilla/src/extralit/server/context/vectordb.py
Due: extralit

fix
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
  argilla-server/docker/server/argilla_server.dockerfile
  examples/deployments/k8s/extralit-configs.yaml
  examples/deployments/k8s/extralit-deployment.yaml
Due: argilla-server

fix
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
  argilla-server/docker/server/argilla_server.dockerfile
  argilla/src/extralit/server/context/vectordb.py
  examples/deployments/k8s/extralit-configs.yaml
  examples/deployments/k8s/extralit-deployment.yaml
Due: extralit, argilla-server

[BUGFIX] argilla server: Prevent update `dataset.updated_at` when updating `dataset.last_activity_at` column (#5656)
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/tests/unit/api/handlers/v1/test_responses.py
Due: argilla-server

fix
  Tiltfile
Due: none

fix
  Tiltfile
  argilla/src/extralit/server/context/vectordb.py
Due: extralit

latest
  examples/deployments/k8s/extralit-configs.yaml
Due: none

Docs: Typo Fix (#5642)
  README.md
Due: none

[Docs] : fix typos in docs (#5612)
  docs/_source/conceptual_guides/data_model.md
  docs/_source/getting_started/argilla.md
  docs/_source/getting_started/installation/deployments/cloud_providers.md
  docs/_source/practical_guides/annotate_dataset.md
  docs/_source/practical_guides/collect_responses.md
  docs/_source/practical_guides/export_dataset.md
  docs/_source/practical_guides/fine_tune.md
  docs/_source/tutorials_and_integrations/integrations/add_sentence_transformers_embeddings_as_vectors.ipynb
Due: none

Update README.md
  README.md
Due: none

[CONFIG] `argilla server`: Review and update dependencies (#5649)
  argilla-server/CHANGELOG.md
  argilla-server/docker/argilla-hf-spaces/requirements.txt
  argilla-server/docker/server/Dockerfile
  argilla-server/pdm.lock
  argilla-server/pyproject.toml
  argilla-server/src/argilla_server/enums.py
Due: argilla-server

Improve German translation and some aria attributes (#5658)
  argilla-frontend/components/features/annotation/container/questions/form/text-area/TextAreaContents.vue
  argilla-frontend/components/features/annotation/header/ToggleAnnotationType.vue
  argilla-frontend/components/features/login/components/LoginInput.vue
  argilla-frontend/translation/de.js
Due: argilla-frontend

docs: fix small issues (#5665)
  argilla/README.md
  argilla/docs/getting_started/faq.md
  argilla/docs/getting_started/quickstart.md
  argilla/docs/how_to_guides/annotate.md
  argilla/docs/how_to_guides/custom_fields.md
  argilla/docs/index.md
  argilla/docs/reference/argilla/client.md
Due: none

add middleware to redirect /datasets to home page
  argilla-frontend/pages/_id.vue
Due: argilla-frontend

Fix error (#5660)
  argilla/docs/getting_started/quickstart.md
Due: none

Add a high-contrast theme & improvements for the forced-colors mode (#5661)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/assets/icons/high-contrast-theme.js
  argilla-frontend/assets/icons/index.js
  argilla-frontend/assets/scss/abstract/variables/_themes.scss
  argilla-frontend/components/base/base-dropdown/BaseDropdown.vue
  argilla-frontend/components/base/base-feedback/base-feedback-error/BaseFeedbackError.component.vue
  argilla-frontend/components/base/base-radio-button/BaseRadioButton.vue
  argilla-frontend/components/base/base-topbar-brand/BaseTopbarBrand.vue
  argilla-frontend/components/features/annotation/container/fields/RecordMenu.vue
  argilla-frontend/components/features/annotation/container/questions/QuestionsForm.vue
  argilla-frontend/components/features/annotation/container/questions/form/rating/RatingMonoSelection.component.vue
  argilla-frontend/components/features/annotation/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  argilla-frontend/components/features/annotation/container/questions/form/span/EntityLabelBadge.vue
  argilla-frontend/components/features/global/user/UserAvatarTooltip.vue
  argilla-frontend/components/features/user-settings/UserSettingsContent.vue
  argilla-frontend/components/features/user-settings/UserSettingsTheme.vue
  argilla-frontend/plugins/directives/circle.directive.js
  argilla-frontend/v1/domain/entities/color/Color.test.ts
  argilla-frontend/v1/domain/entities/color/Color.ts
  argilla-frontend/v1/domain/entities/record/RecordStatus.ts
Due: argilla-frontend
