Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, argilla, extralit, argilla_v1, argilla_server, argilla-server, argilla-frontend

latest
  .pre-commit-config.yaml
Due: none

lint
  argilla-frontend/components/features/annotation/container/mode/useFocusAnnotationViewModel.ts
  argilla-frontend/components/features/import/useImportBatchProgressViewModel.ts
  argilla-frontend/translation/es.js
  argilla-frontend/v1/di/di.ts
  argilla-frontend/v1/domain/entities/table/Validation.ts
  argilla-frontend/v1/domain/usecases/create-import-history-use-case.ts
  argilla-frontend/v1/domain/usecases/get-import-history-details-use-case.ts
  argilla-frontend/v1/domain/usecases/get-import-history-use-case.ts
  argilla-frontend/v1/infrastructure/repositories/RecordRepository.ts
Due: frontend, argilla-frontend

fix tests
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
  argilla-server/tests/unit/api/handlers/v1/test_bulk_documents.py
Due: argilla_server, argilla-server

fix tests
  argilla-server/tests/unit/api/handlers/v1/test_bulk_documents.py
  argilla-server/tests/unit/jobs/test_document_jobs.py
  argilla-server/tests/unit/models/test_import_history.py
Due: argilla_server, argilla-server

deleted upload_document_job
  argilla-server/src/argilla_server/jobs/document_jobs.py
  argilla-server/tests/unit/jobs/test_document_jobs.py
Due: argilla_server, argilla-server

fix tests
  argilla-server/tests/unit/jobs/test_document_jobs.py
  extralit/tests/unit/cli/test_cli_documents.py
Due: argilla_server, argilla-server

Update GitHub workflows to include additional pull request event types and remove deprecated argilla-v1 workflow
  .github/workflows/argilla-server.yml
  .github/workflows/argilla-v1.yml
  .github/workflows/extralit.yml
  .github/workflows/scorecard.yml
Due: none

fix tests
  argilla-frontend/components/features/import/useImportBatchProgressViewModel.ts
  argilla-server/src/argilla_server/jobs/document_jobs.py
  argilla-server/tests/unit/api/handlers/v1/test_bulk_documents.py
  argilla-server/tests/unit/api/handlers/v1/test_imports.py
  argilla-server/tests/unit/contexts/test_imports.py
  argilla-server/tests/unit/jobs/test_document_jobs.py
  extralit/tests/unit/cli/test_cli_documents.py
Due: frontend, argilla_server, argilla-server, argilla-frontend

refactoring and fixes
  .kiro/steering/structure.md
  argilla-frontend/components/features/import/ImportBatchProgress.vue
  argilla-frontend/components/features/import/ImportHistoryDetails.vue
  argilla-frontend/components/features/import/ImportHistoryList.vue
  argilla-frontend/components/features/import/useImportHistoryDetailsViewModel.ts
  argilla-frontend/components/features/import/useImportHistoryListViewModel.ts
Due: frontend, argilla-frontend

Update GitHub workflows to include additional pull request event types and remove deprecated argilla-v1 workflow
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-server.yml
  .github/workflows/extralit.yml
  .github/workflows/scorecard.yml
Due: none

10.1 Integrate imported documents with workspace features for multi-file references
  .kiro/specs/papers-library-importer/tasks.md
  .kiro/steering/structure.md
  .pre-commit-config.yaml
  argilla-frontend/components/features/documents/DocumentsList.vue
  argilla-frontend/components/features/documents/useDocumentsListViewModel.ts
  argilla-frontend/components/features/import/ImportAnalysisTable.vue
  argilla-frontend/components/features/import/useImportHistoryListViewModel.ts
  argilla-frontend/pages/index.vue
  argilla-frontend/translation/en.js
  argilla-frontend/v1/di/di.ts
  argilla-frontend/v1/domain/entities/document/Document.ts
  argilla-frontend/v1/domain/usecases/get-documents-by-workspace-use-case.ts
  argilla-frontend/v1/infrastructure/repositories/DocumentRepository.ts
  argilla-server/src/argilla_server/alembic/versions/7d6b33203390_create_import_history_table.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
  argilla-server/src/argilla_server/models/database.py
Due: frontend, argilla_server, argilla-server, argilla-frontend

latest
  argilla-frontend/components/features/documents/DocumentsList.vue
  argilla-frontend/components/features/import/ImportHistoryDetails.vue
  argilla-frontend/components/features/import/ImportHistoryList.vue
  argilla-frontend/components/features/import/ImportSummary.vue
Due: frontend, argilla-frontend

pdf file error handling
  argilla-frontend/components/features/import/ImportFileUpload.vue
Due: frontend, argilla-frontend

Refactor DocumentsList component for improved structure and readability; implement batch processing in GetJobStatusUseCase to optimize job status polling and reduce connection load.
  argilla-frontend/components/features/documents/DocumentsList.vue
  argilla-frontend/v1/domain/usecases/get-job-status-use-case.ts
Due: frontend, argilla-frontend

latest
  argilla-frontend/components/base/base-simple-table/BaseSimpleTable.vue
  argilla-frontend/components/features/import/ImportAnalysisTable.vue
  argilla-frontend/components/features/import/ImportFileUpload.vue
Due: frontend, argilla-frontend

chore
  argilla-frontend/components/base/base-simple-table/BaseSimpleTable.vue
  argilla-frontend/components/features/import/ImportAnalysisTable.vue
  argilla-frontend/components/features/import/ImportFileUpload.vue
Due: frontend, argilla-frontend

Refactor dataset import functionality to use new GetHfDatasetCreationUseCase
  argilla-frontend/components/features/import/ImportFileUpload.vue
  argilla-frontend/pages/index.vue
  argilla-frontend/pages/new/hf/_repoId.vue
  argilla-frontend/pages/useHomeViewModel.ts
  argilla-frontend/pages/useNewDatasetViewModel.ts
  argilla-frontend/v1/di/di.ts
  argilla-frontend/v1/domain/usecases/get-hf-dataset-creation-use-case.ts
  argilla-server/src/argilla_server/contexts/imports.py
Due: frontend, argilla_server, argilla-server, argilla-frontend

remove prints
  argilla-server/src/argilla_server/contexts/imports.py
Due: argilla_server, argilla-server

latest
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-server.yml
  .github/workflows/extralit.yml
  .github/workflows/scorecard.yml
Due: none

latest
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-server.yml
  .github/workflows/extralit.yml
Due: none

test renames
  argilla-frontend/components/base/base-flow-modal/BaseFlowModal.spec.js
  argilla-frontend/components/base/base-render-markdown/MarkdownRenderer.spec.js
  argilla-frontend/components/features/import/ImportAnalysisTable.spec.js
  argilla-frontend/components/features/import/ImportModal.spec.js
Due: frontend, argilla-frontend

fix tests
  .github/workflows/extralit.yml
  argilla-server/src/argilla_server/jobs/document_jobs.py
  argilla-server/tests/unit/api/handlers/v1/test_imports.py
  argilla-server/tests/unit/contexts/test_imports.py
  argilla-server/tests/unit/models/test_import_history.py
  extralit/tests/unit/cli/test_cli_app.py
  extralit/tests/unit/cli/test_cli_datasets.py
  extralit/tests/unit/cli/test_cli_documents.py
  extralit/tests/unit/cli/test_cli_extraction.py
  extralit/tests/unit/cli/test_cli_schemas.py
  extralit/tests/unit/cli/test_cli_training.py
  extralit/tests/unit/cli/test_cli_users.py
  extralit/tests/unit/cli/test_cli_workspaces.py
Due: argilla_server, argilla-server

fix tests
  argilla-server/tests/unit/jobs/test_document_jobs.py
  extralit/tests/unit/cli/test_cli_app.py
Due: argilla_server, argilla-server

test fixes
  .kiro/settings/mcp.json
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla-server/tests/unit/jobs/test_document_jobs.py
  extralit/CHANGELOG.md
Due: frontend, argilla_server, argilla-server, argilla-frontend

tests
  argilla-server/tests/unit/jobs/test_document_jobs.py
Due: argilla_server, argilla-server

update copilot-instructions.md
  .github/copilot-instructions.md
  .kiro/steering/structure.md
Due: none

tests
  argilla-frontend/test-sample.bib
  argilla-server/tests/unit/jobs/test_document_jobs.py
Due: frontend, argilla_server, argilla-server, argilla-frontend

Comment out HF Spaces Docker image build and push steps
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-server.build-docker-images.yml
Due: none

Update argilla-server.build-docker-images.yml
  .github/workflows/argilla-server.build-docker-images.yml
Due: none

refactored files.upload_document_file
  .kiro/specs/papers-library-importer/tasks.md
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla-server/src/argilla_server/contexts/imports.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
Due: argilla_server, argilla-server

refactored imports.find_existing_documents
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla-server/src/argilla_server/contexts/imports.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
Due: argilla_server, argilla-server

refactor: removed `data` from ImportAnalysisResponse
  .kiro/specs/papers-library-importer/design.md
  .kiro/specs/papers-library-importer/tasks.md
  argilla-server/src/argilla_server/api/schemas/v1/imports.py
  argilla-server/src/argilla_server/contexts/imports.py
  argilla-server/tests/unit/contexts/test_imports.py
Due: argilla_server, argilla-server

kiro task list finalize
  .kiro/specs/import-history-sidebar/design.md
  .kiro/specs/import-history-sidebar/requirements.md
  .kiro/specs/import-history-sidebar/tasks.md
  .kiro/specs/papers-library-importer/tasks.md
  argilla-frontend/components/features/documents/DocumentsList.vue
Due: frontend, argilla-frontend

fix rq.job.Job imports
  argilla-server/src/argilla_server/contexts/imports.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
Due: argilla_server, argilla-server

1. Enhance backend ImportHistory API for Recent Imports
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-server/src/argilla_server/api/handlers/v1/imports.py
  argilla-server/tests/unit/api/handlers/v1/test_imports.py
Due: argilla_server, argilla-server

3. Create ImportHistory Dataset Builder
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/v1/domain/entities/import/ImportHistoryDatasetBuilder.ts
  argilla-frontend/v1/domain/entities/import/ImportHistoryDetails.ts
  argilla-frontend/v1/domain/usecases/get-import-history-use-case.ts
Due: frontend, argilla-frontend

4.1 Create RecentImports component
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/components/features/import/RecentImportCard.vue
  argilla-frontend/components/features/import/RecentImports.vue
  argilla-frontend/components/features/import/useRecentImportsViewModel.ts
Due: frontend, argilla-frontend

Path conditions:
  frontend: any of: argilla-frontend/
  argilla: (any of: argilla/src/argilla/) or (any of: argilla/src/argilla/**)
  extralit: (any of: argilla/src/extralit/) or (any of: argilla/src/extralit/**)
  argilla_v1: (any of: argilla-v1/src/argilla_v1/) or (any of: argilla-v1/src/argilla_v1/**)
  argilla_server: any of: argilla-server/
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
