Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

merge: v2.0.0 for `argilla-server`
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/handlers/v1/files.py
  argilla-server/src/argilla_server/api/handlers/v1/models.py
  argilla-server/src/argilla_server/api/policies/v1/__init__.py
  argilla-server/src/argilla_server/api/policies/v1/document_policy.py
  argilla-server/src/argilla_server/api/policies/v1/file_policy.py
  argilla-server/src/argilla_server/api/policies/v1/workspace_policy.py
  argilla-server/src/argilla_server/contexts/accounts.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla-server/src/argilla_server/models/database.py
  argilla-server/src/argilla_server/services/__init__.py
  argilla-server/src/argilla_server/services/datasets.py
  argilla-server/src/argilla_server/services/info.py
  argilla-server/src/argilla_server/services/metrics/__init__.py
  argilla-server/src/argilla_server/services/metrics/models.py
  argilla-server/src/argilla_server/services/metrics/service.py
  argilla-server/src/argilla_server/services/search/__init__.py
  argilla-server/src/argilla_server/services/search/model.py
  argilla-server/src/argilla_server/services/search/service.py
  argilla-server/src/argilla_server/services/storage/__init__.py
  argilla-server/src/argilla_server/services/storage/service.py
  argilla-server/src/argilla_server/services/tasks/__init__.py
  argilla-server/src/argilla_server/services/tasks/commons/__init__.py
  argilla-server/src/argilla_server/services/tasks/commons/models.py
  argilla-server/src/argilla_server/services/tasks/text2text/__init__.py
  argilla-server/src/argilla_server/services/tasks/text2text/models.py
  argilla-server/src/argilla_server/services/tasks/text2text/service.py
  argilla-server/src/argilla_server/services/tasks/text_classification/__init__.py
  argilla-server/src/argilla_server/services/tasks/text_classification/metrics.py
  argilla-server/src/argilla_server/services/tasks/text_classification/model.py
  argilla-server/src/argilla_server/services/tasks/text_classification/service.py
  argilla-server/src/argilla_server/services/tasks/token_classification/__init__.py
  argilla-server/src/argilla_server/services/tasks/token_classification/metrics.py
  argilla-server/src/argilla_server/services/tasks/token_classification/model.py
  argilla-server/src/argilla_server/services/tasks/token_classification/service.py
Due: argilla-server

[BUGFIX] `argilla frontend`: Avoid call router.push when opening an external URL (#5675)
  argilla-frontend/v1/infrastructure/services/useRoutes.ts
Due: argilla-frontend

[BUGFIX] visualisation of highlighted text (#5678)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/components/features/annotation/container/fields/chat-field/ChatField.vue
  argilla-frontend/components/features/annotation/container/fields/text-field/TextField.vue
  argilla-frontend/components/features/annotation/container/fields/useSearchTextHighlight.ts
Due: argilla-frontend

Dataset Creation UI fixes & Improvements (#5670)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationQuestion.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationRanking.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationRating.vue
  argilla-frontend/components/features/dataset-creation/configuration/shared/DatasetConfigurationChipsSelector.vue
  argilla-frontend/pages/new/_id.vue
  argilla-frontend/pages/useNewDatasetViewModel.ts
  argilla-frontend/plugins/directives/required-field.directive.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
  argilla-frontend/v1/domain/entities/hub/QuestionCreation.ts
  argilla-frontend/v1/domain/entities/hub/Subset.ts
  argilla-frontend/v1/infrastructure/repositories/HubRepository.ts
  argilla-server/pyproject.toml
Due: argilla-server, argilla-frontend

[BUGFIX] argilla server: Prevent update `dataset.updated_at` when updating `dataset.last_activity_at` column (#5656)
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/tests/unit/api/handlers/v1/test_responses.py
Due: argilla-server

add middleware to redirect /datasets to home page
  argilla-frontend/pages/_id.vue
Due: argilla-frontend

fix: improve logic for detecting ChatFields (#5667)
  argilla-frontend/v1/domain/entities/hub/DatasetCreation.test.ts
  argilla-frontend/v1/domain/entities/hub/Subset.ts
Due: argilla-frontend

[BUGFIX] `argilla frontend`: redirect after login (#5635)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/middleware/route-guard.ts
  argilla-frontend/pages/oauth/_provider/useOAuthViewModel.ts
  argilla-frontend/pages/sign-in.vue
  argilla-frontend/pages/useSignInViewModel.ts
  argilla-frontend/v1/infrastructure/services/useLocalStorage.ts
  argilla-server/tests/unit/api/handlers/v1/test_oauth2.py
Due: argilla-server, argilla-frontend

fix vars
  argilla-frontend/assets/scss/abstract/variables/_themes.scss
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
Due: argilla-frontend

chore: Set release version
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_version.py
Due: argilla-server, argilla-frontend

chore: Set version in CHANGELOGs
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
Due: argilla-server, argilla-frontend

chore: Remove extra line
  argilla-server/pyproject.toml
Due: argilla-server

chore: Remove changelog line
  argilla-frontend/CHANGELOG.md
Due: argilla-frontend

changelog fixes
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
Due: argilla-server

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
