Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, argilla, extralit, argilla_v1, argilla_server, argilla-server, argilla-frontend

chore: update Copilot setup to add elasticsearch
  .github/workflows/copilot-setup-steps.yml
Due: none

chore: enhance documentation and update Copilot setup for development workflows
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Due: none

Update changelogs and refine schema configuration handling
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/api/schemas/v1/workspaces.py
  argilla-server/src/argilla_server/database.py
  argilla-server/src/argilla_server/services/schemas.py
  argilla-server/tests/unit/api/handlers/v1/test_workspaces.py
  argilla-server/tests/unit/services/test_schemas.py
  extralit/CHANGELOG.md
Due: frontend, argilla_server, argilla-server, argilla-frontend

docs: update copilot prompts for database migrations and testing
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
  argilla-server/argilla-dev.db
Due: argilla_server, argilla-server

fix: tests
  argilla-server/tests/unit/services/test_schemas.py
Due: argilla_server, argilla-server

chore
  codecov.yml
Due: none

refactor: rename get_minio_client to get_storage_client across the codebase
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/handlers/v1/files.py
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/api/handlers/v1/test_files.py
  extralit/src/argilla/cli/extraction/export.py
  extralit/tests/extralit/conftest.py
Due: argilla_server, argilla-server

refactor: rename get_minio_client to get_storage_client across the codebase
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/handlers/v1/files.py
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/api/handlers/v1/test_files.py
  extralit/src/argilla/cli/extraction/export.py
  extralit/src/extralit/server/app.py
  extralit/src/extralit/storage/files.py
  extralit/tests/extralit/conftest.py
Due: argilla_server, argilla-server

Update copilot-instructions.md
  .github/copilot-instructions.md
Due: none

refactor: move SchemaService to contexts and remove unused service files
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/contexts/schemas.py
  argilla-server/src/argilla_server/services/__init__.py
  argilla-server/tests/unit/services/test_schemas.py
Due: argilla_server, argilla-server

refactor: Renamed instances of `minio_client` to `storage_client` in various files for consistency.
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/contexts/schemas.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/services/test_schemas.py
  codecov.yml
  extralit/src/extralit/extraction/models/schema.py
  extralit/src/extralit/server/app.py
  extralit/src/extralit/server/context/files.py
  extralit/src/extralit/storage/files.py
Due: argilla_server, argilla-server

refactor: Renamed instances of `minio_client` to `storage_client` in various files for consistency.
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/contexts/schemas.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/services/test_schemas.py
  codecov.yml
Due: argilla_server, argilla-server

requirement and design
  .kiro/settings/mcp.json
  .kiro/specs/papers-library-importer/design.md
  .kiro/specs/papers-library-importer/requirements.md
Due: none

design & tasks
  .kiro/specs/papers-library-importer/design.md
  .kiro/specs/papers-library-importer/tasks.md
Due: none

Update papers library importer documentation and requirements
  .kiro/specs/papers-library-importer/design.md
  .kiro/specs/papers-library-importer/requirements.md
  .kiro/specs/papers-library-importer/tasks.md
  argilla-server/src/argilla_server/api/handlers/v1/imports.py
  argilla-server/src/argilla_server/api/routes.py
  argilla-server/src/argilla_server/api/schemas/v1/imports.py
Due: argilla_server, argilla-server

update
  .github/workflows/copilot-setup-steps.yml
Due: none

chore: Update docker-compose configuration and project dependencies
  argilla-server/pdm.lock
  argilla-server/pyproject.toml
  docker-compose.yaml
  extralit/src/argilla/_api/_client.py
Due: argilla_server, argilla-server

chore: Update docker-compose configuration and project dependencies
  argilla-server/pyproject.toml
  docker-compose.yaml
  extralit/src/argilla/_api/_client.py
Due: argilla_server, argilla-server

chore: update dependencies and Python version constraints
  argilla-server/pdm.lock
  argilla-server/pyproject.toml
Due: argilla_server, argilla-server

fix: pdm.lock for linux x86_64 platform
  argilla-server/pdm.lock
  extralit/src/argilla/_api/_client.py
Due: argilla_server, argilla-server

Path conditions:
  frontend: any of: argilla-frontend/
  argilla: (any of: argilla/src/argilla/) or (any of: argilla/src/argilla/**)
  extralit: (any of: argilla/src/extralit/) or (any of: argilla/src/extralit/**)
  argilla_v1: (any of: argilla-v1/src/argilla_v1/) or (any of: argilla-v1/src/argilla_v1/**)
  argilla_server: any of: argilla-server/
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
