Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, argilla, extralit, argilla_v1, argilla_server, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true
  
flags:
  frontend:
    paths:
      - argilla-frontend/
    carryforward: true
  argilla:
    paths:
      - argilla/src/argilla/
    carryforward: true
  extralit:
    paths:
      - argilla/src/extralit/
    carryforward: true
  argilla_v1:
    paths:
      - argilla-v1/src/argilla_v1/
    carryforward: true
  argilla_server:
    paths:
      - argilla-server/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: argilla_v1
      name: argilla_v1
      paths:
        - argilla-v1/src/argilla_v1/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

4.2 Create RecentImportCard component
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/components/features/import/RecentImportCard.vue
Due: frontend, argilla-frontend

4.3 Create RecentImports view model
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/components/features/import/useRecentImportsViewModel.ts
Due: frontend, argilla-frontend

5.1 Create ImportHistoryDataPreview component
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/components/features/import/ImportHistoryDataPreview.vue
Due: frontend, argilla-frontend

6. Create Import Configuration Page
  .kiro/specs/import-history-sidebar/tasks.md
  .kiro/steering/tech.md
  argilla-frontend/pages/new/import/_id.vue
  argilla-frontend/pages/new/import/useImportConfigurationViewModel.ts
  argilla-frontend/translation/en.js
  argilla-frontend/v1/infrastructure/services/useRoutes.ts
Due: frontend, argilla-frontend

7.1 Modify DatasetConfiguration component props
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfiguration.vue
  argilla-frontend/components/features/dataset-creation/configuration/useDatasetConfiguration.ts
Due: frontend, argilla-frontend

Update labels.yml
  .github/labels.yml
Due: none

[ ] 7.3 Update DatasetConfiguration view model
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfiguration.vue
  argilla-frontend/components/features/import/ImportHistoryDataPreview.vue
  argilla-frontend/pages/new/import/_id.vue
Due: frontend, argilla-frontend

7.3 Update DatasetConfiguration view model
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfiguration.vue
  argilla-frontend/components/features/dataset-creation/configuration/useDatasetConfiguration.ts
  argilla-frontend/components/features/dataset-creation/configuration/useDatasetConfigurationForm.ts
  argilla-frontend/v1/domain/entities/import/ImportHistoryDatasetBuilder.ts
Due: frontend, argilla-frontend

8.1 Modify home page sidebar
  argilla-frontend/pages/index.vue
  argilla-frontend/pages/useHomeViewModel.ts
  argilla-frontend/v1/domain/entities/import/ImportHistoryDatasetBuilder.ts
Due: frontend, argilla-frontend

8.1 Modify home page sidebar
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/components/features/import/RecentImports.vue
  argilla-frontend/components/features/import/useRecentImportsViewModel.ts
Due: frontend, argilla-frontend

fix: selects first when workspaces loads
  argilla-frontend/components/features/import/RecentImportCard.vue
  argilla-frontend/pages/index.vue
Due: frontend, argilla-frontend

fix: use BaseInputContainer as input-container
  argilla-frontend/components/features/import/ImportHistoryDataPreview.vue
  argilla-frontend/components/features/import/ImportHistoryDetails.vue
  argilla-frontend/components/features/import/ImportHistoryList.vue
  argilla-frontend/pages/index.vue
Due: frontend, argilla-frontend

fix RecentImports workspaces on load issue
  argilla-frontend/components/features/import/RecentImports.vue
  argilla-frontend/pages/index.vue
Due: frontend, argilla-frontend

latest
  argilla-frontend/components/features/import/RecentImports.vue
Due: frontend, argilla-frontend

fix ImportHistoryListItem
  argilla-frontend/v1/domain/usecases/get-import-history-use-case.ts
Due: frontend, argilla-frontend

8.2 Update home page view model
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/pages/useHomeViewModel.ts
Due: frontend, argilla-frontend

fix: importData.getRawData is not a function
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfiguration.vue
  argilla-frontend/components/features/dataset-creation/configuration/useDatasetConfiguration.ts
  argilla-frontend/components/features/import/ImportHistoryDataPreview.vue
  argilla-frontend/pages/new/import/useImportConfigurationViewModel.ts
  argilla-frontend/v1/domain/usecases/get-import-history-details-use-case.ts
Due: frontend, argilla-frontend

fix errors
  argilla-frontend/components/features/dataset-creation/configuration/shared/DatasetConfigurationCard.vue
  argilla-frontend/v1/domain/entities/import/ImportHistoryDetails.ts
Due: frontend, argilla-frontend

fix useLanguageDirection.ts
  argilla-frontend/v1/infrastructure/services/useLanguageDirection.test.ts
  argilla-frontend/v1/infrastructure/services/useLanguageDirection.ts
Due: frontend, argilla-frontend

fix styling
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfiguration.vue
  argilla-frontend/components/features/import/ImportHistoryDataPreview.vue
Due: frontend, argilla-frontend

fix styling
  argilla-frontend/components/features/import/ImportHistoryDataPreview.vue
  argilla-frontend/pages/new/import/_id.vue
Due: frontend, argilla-frontend

10.1 Style Recent Imports components
  .kiro/specs/import-history-sidebar/tasks.md
  argilla-frontend/components/features/import/RecentImportCard.vue
  argilla-frontend/components/features/import/RecentImports.vue
Due: frontend, argilla-frontend

Improve dataset import: smarter schema/type inference and question suggestions
  argilla-frontend/components/features/dataset-creation/configuration/useDatasetConfiguration.ts
  argilla-frontend/v1/domain/entities/import/ImportHistoryDatasetBuilder.ts
  argilla-frontend/v1/infrastructure/repositories/FieldRepository.ts
Due: frontend, argilla-frontend

Add float32 and boolean types to features and subsets
  argilla-frontend/v1/domain/entities/hub/DatasetCreationBuilder.ts
  argilla-frontend/v1/domain/entities/hub/MetadataCreation.ts
  argilla-frontend/v1/domain/entities/hub/Subset.ts
  argilla-frontend/v1/domain/entities/import/ImportHistoryDatasetBuilder.ts
  argilla-frontend/v1/infrastructure/repositories/MetadataRepository.ts
Due: frontend, argilla-frontend

Add import-history dataset import endpoint and frontend support
  argilla-frontend/v1/domain/entities/hub/DatasetCreation.ts
  argilla-frontend/v1/domain/entities/import/ImportHistoryDatasetBuilder.ts
  argilla-frontend/v1/infrastructure/repositories/DatasetRepository.ts
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
  argilla-server/src/argilla_server/api/schemas/v1/datasets.py
  argilla-server/src/argilla_server/jobs/import_jobs.py
Due: frontend, argilla_server, argilla-server, argilla-frontend

latest
  argilla-frontend/translation/en.js
  argilla-server/src/argilla_server/contexts/hub.py
Due: frontend, argilla_server, argilla-server, argilla-frontend

latest
  argilla-server/src/argilla_server/contexts/hub.py
  argilla-server/src/argilla_server/jobs/import_jobs.py
Due: argilla_server, argilla-server

refactor: update document handling to include file_name and adjust related functions
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/contexts/imports.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
Due: argilla_server, argilla-server

added ocrmypdf
  argilla-server/pdm.lock
  argilla-server/pyproject.toml
  argilla-server/src/argilla_server/api/schemas/v1/segments.py
  argilla-server/src/argilla_server/contexts/document/figures.py
  argilla-server/src/argilla_server/contexts/document/preprocessing.py
  argilla-server/src/argilla_server/contexts/document/tables.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
Due: argilla_server, argilla-server

refactor: enhance PDF preprocessing with configurable settings and integrate OCRmyPDF
  argilla-server/pdm.lock
  argilla-server/pyproject.toml
  argilla-server/src/argilla_server/contexts/document/preprocessing.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
Due: argilla_server, argilla-server

feat: add margin analysis to PDF preprocessing with opencv-python
  argilla-server/pdm.lock
  argilla-server/pyproject.toml
  argilla-server/src/argilla_server/contexts/document/preprocessing.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
Due: argilla_server, argilla-server

feat: enable PDF preprocessing analysis with new configuration options
  argilla-server/.env.dev
  argilla-server/src/argilla_server/contexts/document/analysis.py
  argilla-server/src/argilla_server/contexts/document/preprocessing.py
Due: argilla_server, argilla-server

feat: update PDF preprocessing settings and add new document analysis schemas
  argilla-server/.env.dev
  argilla-server/src/argilla_server/api/schemas/v1/document/analysis.py
  argilla-server/src/argilla_server/api/schemas/v1/document/segments.py
  argilla-server/src/argilla_server/contexts/document/preprocessing.py
Due: argilla_server, argilla-server

feat: add new preprocessing options for Tesseract timeout and text skipping in PDF settings
  argilla-server/.env.dev
  argilla-server/src/argilla_server/contexts/document/preprocessing.py
Due: argilla_server, argilla-server

feat: introduce rotate pages threshold in PDF preprocessing settings and update Tesseract timeout description
  argilla-server/.env.dev
  argilla-server/src/argilla_server/contexts/document/preprocessing.py
Due: argilla_server, argilla-server

skip creating record metadata for all fieldName
  argilla-frontend/v1/domain/entities/import/ImportHistoryDatasetBuilder.ts
Due: frontend, argilla-frontend

added metadata selector
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationMetadataSelector.vue
  argilla-frontend/translation/en.js
  argilla-frontend/v1/domain/entities/import/ImportHistoryDatasetBuilder.ts
Due: frontend, argilla-frontend

Update metadata fields in dataset configuration and improve metadata description
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationMetadataSelector.vue
  argilla-frontend/translation/en.js
Due: frontend, argilla-frontend

fix emit tag
  argilla-frontend/components/features/import/ImportModal.vue
  argilla-frontend/components/features/import/ImportSummary.vue
Due: frontend, argilla-frontend

Updated BaseModal component to allow closing by default and enhanced styling for better user experience.
  argilla-frontend/components/base/base-modal/BaseModal.vue
  argilla-frontend/components/features/import/ImportHistoryList.vue
  argilla-frontend/components/features/import/useImportHistoryListViewModel.ts
  argilla-frontend/pages/index.vue
  argilla-frontend/v1/domain/usecases/get-import-history-use-case.ts
  argilla-server/src/argilla_server/api/handlers/v1/imports.py
Due: frontend, argilla_server, argilla-server, argilla-frontend
