Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

docs: fix docs
  .github/workflows/argilla.docs.yml
  argilla/mkdocs.yml
Due: none

Deployed 38815d3 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/assets/images/community/developer/repo-visualizer-argilla-server.svg
  latest/community/developer/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

docs: update argilla image references to use extralitdev
  examples/deployments/docker/docker-compose.yaml
  examples/deployments/docker/nginx/docker-compose.yaml
  examples/deployments/docker/traefik/docker-compose.yaml
Due: none

docs: update argilla image references to use extralitdev
  examples/deployments/docker/docker-compose.yaml
Due: none

chore: update docker-compose.yml to disable memory locking for Elasticsearch
  .devcontainer/docker-compose/docker-compose.yml
Due: none

docs: update pull request template for clarity and structure
  .github/pull_request_template.md
Due: none

#53 done
  .env.test
  API_DIFFERENCES.md
  CLI_CONTRIBUTING.md
  CLI_README.md
  tasks.md
  test_live_server.py
  test_schema.json
Due: none

Implement file and document management features in WorkspacesAPI and Workspace classes
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/_models/_files.py
  argilla/src/argilla/workspaces/_resource.py
  argilla/tests/unit/api/test_workspace_files.py
  argilla/tests/unit/api/test_workspace_schemas.py
  test_simple_connection.py
Due: argilla

Implement file and document management commands in CLI, including upload, download, list, and delete functionalities
  argilla/src/argilla/cli/app.py
  argilla/src/argilla/cli/documents/__init__.py
  argilla/src/argilla/cli/documents/__main__.py
  argilla/src/argilla/cli/documents/add.py
  argilla/src/argilla/cli/documents/delete.py
  argilla/src/argilla/cli/documents/list.py
  argilla/src/argilla/cli/files/__init__.py
  argilla/src/argilla/cli/files/__main__.py
  argilla/src/argilla/cli/files/delete.py
  argilla/src/argilla/cli/files/download.py
  argilla/src/argilla/cli/files/list.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/src/argilla/cli/schemas/download.py
  tasks.md
Due: argilla

Add integration tests for CLI commands and document operations; implement file and schema management tests
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/integration/test_workspace_documents.py
  argilla/tests/integration/test_workspace_files.py
  argilla/tests/integration/test_workspace_schemas.py
  argilla/tests/test_live_server.py
  tasks.md
Due: none

Enhance WorkspacesAPI with improved error handling and logging; update CLI and Workspace API documentation
  argilla/docs/cli_commands.md
  argilla/docs/workspace_api.md
  argilla/src/argilla/_api/_workspaces.py
  tasks.md
Due: argilla

fix
  examples/document_extraction/setup_workspace.ipynb
Due: none

fix: import ArgillaAPIError instead of APIError
  argilla/src/argilla/_api/_workspaces.py
Due: argilla

fix: update CLI script name from 'argilla' to 'extralit'
  argilla/pyproject.toml
Due: none

check1
  argilla/src/argilla/cli/workspaces/__main__.py
  argilla/src/argilla/client/__init__.py
  argilla/src/argilla/client/login.py
Due: argilla

Refactor Argilla client structure and improve module organization
  argilla/src/argilla/client.py
  argilla/src/argilla/client.py.bak
  argilla/src/argilla/client/__init__.py
  argilla/src/argilla/client/core.py
  argilla/src/argilla/client/resources.py
Due: argilla

refactor: imports to use centralized DEFAULT_SCHEMA_S3_PATH constant
  argilla-v1/src/argilla_v1/cli/schemas/delete.py
  argilla-v1/src/argilla_v1/cli/schemas/list.py
  argilla-v1/src/argilla_v1/client/workspaces.py
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/cli/schemas/delete.py
  argilla/src/argilla/cli/schemas/list.py
  argilla/src/extralit/constants.py
  argilla/src/extralit/extraction/models/__init__.py
  argilla/src/extralit/extraction/models/schema.py
  argilla/tests/unit/api/test_workspace_schemas.py
Due: argilla, extralit

refactor: reorganize client structure and update imports
  argilla/docs/reference/argilla/client.md
  argilla/src/argilla/cli/whoami/__main__.py
  argilla/src/argilla/client.py
  argilla/src/argilla/client.py.bak
  argilla/src/argilla/client/__init__.py
Due: argilla

refactor: fixed cli tests due to File Import Mismatch Issue
  argilla/tests/unit/cli/test_cli_app.py
  argilla/tests/unit/cli/test_cli_datasets.py
  argilla/tests/unit/cli/test_cli_extraction.py
  argilla/tests/unit/cli/test_cli_schemas.py
  argilla/tests/unit/cli/test_cli_training.py
  argilla/tests/unit/cli/test_cli_users.py
  argilla/tests/unit/cli/test_cli_workspaces.py
Due: none

docs: improve button bg color in dark mode
  argilla/docs/stylesheets/extra.css
Due: none
