Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, argilla, extralit, argilla_v1, argilla_server, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true
  
flags:
  frontend:
    paths:
      - argilla-frontend/
    carryforward: true
  argilla:
    paths:
      - argilla/src/argilla/
    carryforward: true
  extralit:
    paths:
      - argilla/src/extralit/
    carryforward: true
  argilla_v1:
    paths:
      - argilla-v1/src/argilla_v1/
    carryforward: true
  argilla_server:
    paths:
      - argilla-server/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: argilla_v1
      name: argilla_v1
      paths:
        - argilla-v1/src/argilla_v1/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

fix: handle dataset not found errors in HF dataset tests
  argilla/tests/integration/test_export_dataset.py
  argilla/tests/integration/test_import_features.py
Due: none

fix: enhance test failure handling and update test commands to suppress warnings
  .github/workflows/argilla.yml
  argilla/pyproject.toml
  argilla/tests/test_live_server.py
Due: none

fix: improve dataset error handling and enhance record assertions in tests
  argilla/tests/integration/test_export_dataset.py
Due: none

feat: add unit tests for workspace files and schemas API, improve test configurations
  argilla/pdm.lock
  argilla/tests/extralit/conftest.py
  argilla/tests/unit/api/test_workspace_files_api.py
  argilla/tests/unit/api/test_workspace_schemas_api.py
Due: none

fix: add environment file configuration for Python testing in devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
Due: none

ci: devcontainers configure pdm settings, update Python version to 3.12, and exclude PNG files from watcher
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/docker-compose/environment.yml
  .devcontainer/docker-compose/setup.sh
  .devcontainer/setup.sh
Due: none

ci: `argilla-server` Dockerfile to use uv for installing server dependencies
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
Due: argilla_server, argilla-server

fix: `argilla-hf-spaces` s3 env files
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/tests/integration/test_cli_commands.py
Due: argilla_server, argilla-server

feat: enhance Document model and API schema for improved document handling
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/rich.py
Due: argilla, argilla_server, argilla-server

docs: update Docker instructions in developer documentation
  argilla-server/CHANGELOG.md
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/src/argilla_server/contexts/files.py
  argilla/docs/community/developer.md
  argilla/docs/getting_started/development_setup.md
  argilla/tests/integration/test_cli_commands.py
Due: argilla_server, argilla-server

feat: enhance document handling and workspace API
  argilla-server/CHANGELOG.md
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/src/argilla/cli/documents/list.py
  argilla/src/argilla/cli/files/list.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/workspaces/_resource.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/integration/test_search_records.py
  argilla/tests/integration/test_workspace_documents.py
Due: argilla, argilla_server, argilla-server

fix: update unit tests for workspace files API
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
  argilla/tests/unit/api/test_workspace_files_api.py
Due: argilla_server, argilla-server

added changelogs
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/tests/unit/api/test_workspace_files_api.py
Due: argilla, argilla_server, argilla-server

[CI] Fixes argilla integration tests (#76)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/docker-compose/environment.yml
  .devcontainer/docker-compose/setup.sh
  .devcontainer/setup.sh
  .github/workflows/argilla.yml
  argilla-server/CHANGELOG.md
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla/CHANGELOG.md
  argilla/docs/community/developer.md
  argilla/docs/getting_started/development_setup.md
  argilla/pdm.lock
  argilla/pyproject.toml
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/src/argilla/cli/documents/list.py
  argilla/src/argilla/cli/files/list.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/workspaces/_resource.py
  argilla/tests/extralit/conftest.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/integration/test_export_dataset.py
  argilla/tests/integration/test_import_features.py
  argilla/tests/integration/test_search_records.py
  argilla/tests/integration/test_workspace_documents.py
  argilla/tests/test_live_server.py
  argilla/tests/unit/api/test_workspace_files_api.py
  argilla/tests/unit/api/test_workspace_schemas_api.py
Due: argilla, argilla_server, argilla-server

Deployed 12ddfa9 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/changelog/index.html
  latest/community/developer/index.html
  latest/getting_started/development_setup/index.html
  latest/reference/argilla/workspaces/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Update upgrading documentation and remove outdated quickstart notebook
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/docs/admin_guide/upgrading.md
  argilla/docs/notebooks/quickstart_workflow_feedback.ipynb
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/unit/api/test_workspace_files_api.py
Due: argilla, argilla_server, argilla-server

Deployed 9a24689 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/admin_guide/upgrading/index.html
  latest/assets/images/social/notebooks/quickstart_workflow_feedback.png
  latest/notebooks/quickstart_workflow_feedback/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

fix: revert `argilla-hf-spaces` dockerfile and fix tests
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/tests/integration/test_cli_commands.py
Due: argilla_server, argilla-server

test: fix CLI command tests for schemas list and download
  argilla/tests/integration/test_cli_commands.py
Due: none

docs: update migration guide to reflect package name change from `argilla` to `extralit`
  argilla/docs/admin_guide/migrate_from_legacy_datasets.md
Due: none

Deployed 8d2c4b0 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/admin_guide/migrate_from_legacy_datasets/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

ci: fix integration tests
  argilla/tests/integration/test_search_records.py
Due: none
