Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

docs: improve button bg color in dark mode
  argilla/docs/stylesheets/extra.css
Due: none

Deployed 44c8e29 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/stylesheets/extra.css
Due: none

docs: update quickstart guide to reflect Extralit deployment instructions
  argilla/docs/getting_started/quickstart.md
Due: none

Deployed 22b3d31 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/getting_started/quickstart/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

chore: update license header and clean up comments in CLI files
  argilla/LICENSE_HEADER
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/datasets/__main__.py
  argilla/src/argilla/cli/extraction/__main__.py
  argilla/src/argilla/cli/login/__main__.py
  argilla/src/argilla/cli/workspaces/__main__.py
  argilla/src/argilla/client/core.py
  argilla/src/argilla/client/resources.py
Due: argilla

refactor: updated circular imports and `datasets` CLI commands
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/datasets/__main__.py
  argilla/src/argilla/cli/extraction/__main__.py
  argilla/src/argilla/cli/extraction/export.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/src/argilla/client/core.py
  argilla/src/argilla/client/enums.py
  argilla/src/argilla/client/resources.py
  argilla/src/argilla/client/workspaces.py
  argilla/src/argilla/users/_resource.py
  argilla/tests/unit/cli/test_cli_schemas.py
Due: argilla

fix: dataset CLI commands and improve error handling
  argilla/src/argilla/cli/datasets/__main__.py
  argilla/src/argilla/cli/extraction/__main__.py
  argilla/src/argilla/users/_resource.py
Due: argilla

fix: create dataset CLI
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/datasets/__main__.py
Due: argilla

feat: enhance CLI error messages in datasets commands
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/datasets/__main__.py
  argilla/src/argilla/cli/extraction/__main__.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/cli/workspaces/__main__.py
  argilla/src/argilla/client/resources.py
  argilla/tests/unit/cli/test_cli_datasets.py
Due: argilla

fix: update workspace and user handling in CLI commands
  .pre-commit-config.yaml
  argilla-server/LICENSE_HEADER
  argilla/src/argilla/cli/datasets/__main__.py
  argilla/src/argilla/cli/extraction/__main__.py
  argilla/src/argilla/cli/info/__main__.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/src/argilla/cli/users/__main__.py
  argilla/src/argilla/cli/workspaces/__main__.py
  argilla/src/argilla/client/core.py
  argilla/tests/unit/cli/test_cli_datasets.py
  argilla/tests/unit/cli/test_cli_extraction.py
Due: argilla, argilla-server

refactor: updated `files` and `documents` CLI modules
  argilla/pyproject.toml
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/_models/_files.py
  argilla/src/argilla/cli/app.py
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/documents/list.py
  argilla/src/argilla/cli/files/__init__.py
  argilla/src/argilla/cli/files/__main__.py
  argilla/src/argilla/cli/files/delete.py
  argilla/src/argilla/cli/files/download.py
  argilla/src/argilla/cli/files/list.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/src/argilla/cli/typer_ext.py
  argilla/src/argilla/cli/users/__main__.py
Due: argilla

refactor: enhance `workspace` and `schema` handling in CLI
  argilla-v1/src/extralit/extraction/models/schema.py
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/src/argilla/cli/schemas/delete.py
  argilla/src/argilla/cli/schemas/download.py
  argilla/src/argilla/cli/schemas/list.py
  argilla/src/argilla/cli/schemas/upload.py
  argilla/src/argilla/workspaces/_resource.py
  argilla/src/extralit/extraction/models/__init__.py
  argilla/src/extralit/extraction/models/paper.py
  argilla/src/extralit/extraction/models/response.py
  argilla/src/extralit/extraction/models/schema.py
  argilla/tests/integration/test_workspace_schemas.py
Due: argilla, extralit

tests: clean up CLI test files and disable temporary tests
  argilla/tests/unit/api/test_workspace_files.py
  argilla/tests/unit/api/test_workspace_schemas.py
  argilla/tests/unit/cli/test_cli_extraction.py
  argilla/tests/unit/cli/test_cli_schemas.py
  argilla/tests/unit/cli/test_cli_training.py
  argilla/tests/unit/cli/test_cli_users.py
  argilla/tests/unit/cli/test_cli_workspaces.py
Due: none

fix: tests
  argilla/tests/unit/api/test_workspace_files.py
  argilla/tests/unit/cli/test_cli_users.py
Due: none

fix: tests
  argilla/src/argilla/_api/_workspaces.py
  argilla/tests/unit/api/test_workspace_files.py
Due: argilla

docs: moved md files from repo root to `argilla/docs/`
  CLI_CONTRIBUTING.md
  CLI_README.md
  argilla-v2-server/README.md
  argilla-v2-server/docker-compose.yaml
  argilla/docs/cli_commands.md
  argilla/docs/community/developer.md
  argilla/docs/reference/argilla/workspaces.md
  argilla/docs/user_guide/command_line_interface.md
  argilla/docs/user_guide/index.md
  argilla/docs/workspace_api.md
  argilla/src/argilla/cli/info/__main__.py
  argilla/test_cli_with_server.py
  argilla/tests/unit/cli/test_cli_users.py
  test_live_server.py
  test_schema.json
  test_simple_connection.py
Due: argilla

chore: remove outdated API differences documentation
  API_DIFFERENCES.md
  argilla/CHANGELOG.md
  argilla/docs/admin_guide/migrate_from_legacy_datasets.md
  argilla/tests/unit/cli/test_cli_schemas.py
  argilla/tests/unit/cli/test_cli_users.py
  argilla/tests/unit/cli/test_cli_workspaces.py
Due: none

chore: Deleted the `.env.test` file since it should be configured in devcontainers or in sub-folders
  .env.test
Due: none

Deployed 726d4a0 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/admin_guide/migrate_from_legacy_datasets/index.html
  latest/assets/images/social/user_guide/command_line_interface.png
  latest/community/changelog/index.html
  latest/objects.inv
  latest/reference/argilla/client/index.html
  latest/reference/argilla/users/index.html
  latest/reference/argilla/workspaces/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/user_guide/command_line_interface/index.html
  latest/user_guide/index.html
Due: none

docs: update README
  README.md
Due: none

docs: fix formatting in README and update mkdocs configuration
  README.md
  argilla/mkdocs.yml
Due: none

docs: added `copilot-instructions.md`
  .github/copilot-instructions.md
  argilla-server/pyproject.toml
Due: argilla-server

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
