Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

latest
  argilla/CHANGELOG.md
Due: none

docs: latest
  argilla/docs/admin_guide/upgrading.md
Due: none

Deployed f533820 to latest with MkDocs 1.6.0 and mike 2.1.1
  latest/admin_guide/upgrading/index.html
  latest/community/changelog/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

docs: latest
  argilla/docs/admin_guide/index.md
Due: none

Deployed 75f7148 to latest with MkDocs 1.6.0 and mike 2.1.1
  latest/admin_guide/index.html
  latest/assets/images/social/admin_guide/index.png
  latest/search/search_index.json
Due: none

fix: SPACES_CREATOR_USER_ID -> SPACE_CREATOR_USER_ID (#5590)
  argilla-server/docker/argilla-hf-spaces/README.md
  argilla-server/docker/argilla-hf-spaces/scripts/start.sh
Due: argilla-server

[FIX] Prevent duplicated field text (#5592)
  argilla-frontend/components/features/annotation/container/fields/text-field/TextField.vue
Due: argilla-frontend

feat: Add basic support to bool features (#5576)
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/schemas/v1/metadata_properties.py
  argilla-server/src/argilla_server/models/metadata_properties.py
  argilla-server/tests/unit/api/handlers/v1/datasets/test_create_dataset_metadata_properties.py
  argilla-server/tests/unit/api/handlers/v1/test_datasets.py
  argilla/src/argilla/_models/__init__.py
  argilla/src/argilla/_models/_record/_metadata.py
  argilla/src/argilla/_models/_record/_record.py
  argilla/src/argilla/records/_resource.py
  argilla/src/argilla/settings/_io/_hub.py
  argilla/tests/unit/test_resources/test_records.py
  argilla/tests/unit/test_settings/test_settings_from_features.py
Due: argilla, argilla-server

feat: Add support to other than str values for terms metadata properties (#5594)
  argilla/CHANGELOG.md
  argilla/src/argilla/_models/_settings/_metadata.py
  argilla/src/argilla/settings/_metadata.py
  argilla/tests/integration/test_add_records.py
  argilla/tests/unit/test_settings/test_metadata.py
Due: argilla

[BUGFIX] argilla server: parse fields for record schemas (#5600)
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/schemas/v1/records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_create_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/records/test_create_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/test_datasets.py
  argilla-server/tests/unit/api/schemas/v1/records/test_record_create.py
  argilla-server/tests/unit/api/schemas/v1/records/test_record_upsert.py
Due: argilla-server

correct phrase on docs: "a recod question" -> "a question" (#5599)
  argilla/docs/reference/argilla/records/responses.md
Due: none

docs: update filter_dataset.md (#5571)
  docs/_source/practical_guides/filter_dataset.md
Due: none

feat: 5108 feature add method to deploy on spaces through huggingface hub (#5547)
  argilla/src/argilla/__init__.py
  argilla/src/argilla/_helpers/_deploy.py
  argilla/src/argilla/_helpers/_log.py
  argilla/src/argilla/_helpers/_resource_repr.py
  argilla/src/argilla/client.py
  argilla/tests/unit/helpers/test_spaces_deployment.py
Due: argilla

docs: add quickstart update for deploy on spaces (#5550)
  argilla/docs/getting_started/how-to-configure-argilla-on-huggingface.md
  argilla/docs/getting_started/how-to-deploy-argilla-with-docker.md
  argilla/docs/getting_started/quickstart.md
  argilla/docs/reference/argilla/client.md
Due: none

Typo: missing comma (#5565)
  argilla/docs/getting_started/how-to-configure-argilla-on-huggingface.md
Due: none

Typo fix (#5566)
  argilla/docs/how_to_guides/dataset.md
Due: none

Fix typo (#5567)
  argilla/docs/how_to_guides/dataset.md
Due: none

[REFACTOR] argilla server: moving all record validators (#5603)
  argilla-server/src/argilla_server/bulk/records_bulk.py
  argilla-server/src/argilla_server/contexts/accounts.py
  argilla-server/src/argilla_server/models/base.py
  argilla-server/src/argilla_server/models/database.py
  argilla-server/src/argilla_server/validators/records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_create_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_dataset_records_bulk_with_responses.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_dataset_records_bulk_with_suggestions.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_dataset_records_bulk_with_vectors.py
  argilla-server/tests/unit/validators/test_records_bulk.py
Due: argilla-server

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
