Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

🔥 Improve plugins loaders (#5697)
  argilla-frontend/nuxt.config.ts
  argilla-frontend/plugins/axios/axios-cache.ts
  argilla-frontend/plugins/axios/axios-global-handler.ts
  argilla-frontend/plugins/di/di.ts
  argilla-frontend/plugins/directives/badge.directive.ts
  argilla-frontend/plugins/directives/circle.directive.ts
  argilla-frontend/plugins/directives/click-outside.directive.ts
  argilla-frontend/plugins/directives/index.ts
  argilla-frontend/plugins/directives/optional-field.directive.js
  argilla-frontend/plugins/directives/required-field.directive.ts
  argilla-frontend/plugins/directives/svg-icon.element.ts
  argilla-frontend/plugins/directives/tooltip.directive.ts
  argilla-frontend/plugins/extensions/color-generator.ts
  argilla-frontend/plugins/extensions/color-schema.ts
  argilla-frontend/plugins/extensions/copy-to-clipboard.ts
  argilla-frontend/plugins/extensions/format-number.ts
  argilla-frontend/plugins/extensions/notification.ts
  argilla-frontend/plugins/extensions/platform.ts
  argilla-frontend/plugins/extensions/vue-draggable.ts
  argilla-frontend/plugins/index.ts
  argilla-frontend/plugins/language/language-detector.ts
  argilla-frontend/plugins/language/language-direction.ts
  argilla-frontend/plugins/logo/logo.ts
Due: argilla-frontend

fix: :bug: Send visible_options prop only when the questions has more… (#5716)
  argilla-frontend/v1/infrastructure/repositories/QuestionRepository.ts
Due: argilla-frontend

[ENHANCEMENT] `argilla server`: Return users on dataset progress (#5701)
  argilla-server/src/argilla_server/alembic/versions/580a6553186f_add_datasets_users_table.py
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
  argilla-server/src/argilla_server/api/schemas/v1/datasets.py
  argilla-server/src/argilla_server/bulk/records_bulk.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/database.py
  argilla-server/src/argilla_server/models/database.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_create_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_dataset_records_bulk_with_responses.py
  argilla-server/tests/unit/api/handlers/v1/datasets/test_get_dataset_progress.py
  argilla-server/tests/unit/api/handlers/v1/responses/test_create_current_user_responses_bulk.py
  argilla-server/tests/unit/api/handlers/v1/test_datasets.py
  argilla-server/tests/unit/api/handlers/v1/test_records.py
  argilla-server/tests/unit/database/models/test_dataset_user_model.py
Due: argilla-server

[EXAMPLES][DOCS] review basic webhooks example (#5710)
  examples/webhooks/basic-webhooks/README.md
  examples/webhooks/basic-webhooks/main.py
  examples/webhooks/basic-webhooks/requirements.txt
Due: none

[Docs] configure issue form (#5703)
  .github/ISSUE_TEMPLATE/add_documentation_report.yml
  .github/ISSUE_TEMPLATE/bug_python_deployment.yml
  .github/ISSUE_TEMPLATE/bug_ui_ux.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/🆕-feature-request.md
  .github/ISSUE_TEMPLATE/🐞-bug-ui-ux.md
  .github/ISSUE_TEMPLATE/📚-add-a-documentation-report.md
  .github/ISSUE_TEMPLATE/🪲-bug-python-deployment.md
Due: none

chore: Add missing CHANGELOG entry
  argilla-server/CHANGELOG.md
Due: argilla-server

Assign field to a span question (#5717)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/components/features/annotation/container/questions/form/span/EntityLabelSelection.component.vue
  argilla-frontend/components/features/annotation/settings/Validation.vue
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationFieldSelector.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationLabels.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationQuestion.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationRating.vue
  argilla-frontend/components/features/dataset-creation/configuration/questions/DatasetConfigurationSpan.vue
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
  argilla-frontend/v1/domain/entities/hub/QuestionCreation.ts
  argilla-frontend/v1/domain/entities/hub/Subset.ts
  argilla/CHANGELOG.md
Due: argilla-frontend

refactor: dataUtils.js
  argilla-frontend/components/base/base-render-table/RenderTable.vue
  argilla-frontend/components/base/base-render-table/dataUtils.ts
  argilla-frontend/components/base/base-render-table/tableUtils.ts
  argilla-frontend/components/base/base-render-table/useReferenceTablesViewModel.ts
  argilla-frontend/components/features/annotation/container/fields/text-field/TextField.vue
  argilla-frontend/components/features/annotation/container/questions/form/text-area/TextAreaContents.vue
  argilla-frontend/components/features/annotation/container/questions/form/text-area/TextAreaSuggestion.vue
  argilla-frontend/v1/domain/entities/table/TableData.ts
Due: argilla-frontend

lint: reindent
  argilla-frontend/v1/domain/entities/table/Schema.ts
  argilla-frontend/v1/domain/entities/table/TableData.ts
  argilla-frontend/v1/domain/entities/table/Validation.ts
Due: argilla-frontend

refactored validatorUtils
  argilla-frontend/components/base/base-render-table/RenderTable.vue
  argilla-frontend/components/base/base-render-table/tableUtils.ts
  argilla-frontend/components/base/base-render-table/validatorUtils.ts
Due: argilla-frontend

ci: added RenderTable tests
  .devcontainer/k8s-tilt/devcontainer.json
  argilla-frontend/components/base/base-render-table/renderTable.test.js
  argilla-frontend/components/base/base-render-table/renderTable.test.ts
Due: argilla-frontend

ci: added RenderTable tests
  .github/workflows/argilla-frontend.yml
  argilla-frontend/components/base/base-render-table/renderTable.test.ts
Due: argilla-frontend

fix tests
  argilla-frontend/components/base/base-render-table/renderTable.test.ts
Due: argilla-frontend

fix absolute position css for transition
  argilla-frontend/components/features/home/dataset-list/DatasetListCards.vue
Due: argilla-frontend

[BUGFIX] `argilla`: allow change default distribution values (#5719)
  argilla/CHANGELOG.md
  argilla/src/argilla/settings/_resource.py
  argilla/tests/unit/test_settings/test_settings.py
Due: argilla

update cursor
  argilla-frontend/components/features/user-settings/UserSettingsLanguage.vue
  argilla-frontend/components/features/user-settings/UserSettingsTheme.vue
Due: argilla-frontend

[DOCS] review 2.5.0 docs (#5723)
  argilla/mkdocs.yml
Due: none

update ui
  argilla-frontend/components/features/annotation/container/questions/form/multi-label/MultiLabel.component.vue
  argilla-frontend/components/features/annotation/container/questions/form/ranking/Ranking.component.vue
  argilla-frontend/components/features/annotation/container/questions/form/rating/Rating.component.vue
  argilla-frontend/components/features/annotation/container/questions/form/single-label/SingleLabel.component.vue
  argilla-frontend/components/features/annotation/container/questions/form/span/SpanComponent.vue
  argilla-frontend/components/features/annotation/container/questions/form/text-area/TextArea.component.vue
  argilla-frontend/components/features/annotation/guidelines/AnnotationGuidelines.vue
  argilla-frontend/components/features/home/dataset-list/DatasetCard.vue
Due: argilla-frontend

fix: Set 2.5 migration tag
  argilla-server/src/argilla_server/database.py
Due: argilla-server

fix lint
  argilla-frontend/components/features/annotation/guidelines/AnnotationGuidelines.vue
Due: argilla-frontend

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
