Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

feat: added FieldType.table
  argilla/src/argilla/_models/_settings/_fields.py
  argilla/src/argilla/settings/_field.py
  argilla/src/argilla/settings/_question.py
Due: argilla

🔥 Improve plugins loaders (#5697)
  argilla-frontend/nuxt.config.ts
  argilla-frontend/plugins/axios/axios-cache.ts
  argilla-frontend/plugins/axios/axios-global-handler.ts
  argilla-frontend/plugins/di/di.ts
  argilla-frontend/plugins/directives/badge.directive.ts
  argilla-frontend/plugins/directives/circle.directive.ts
  argilla-frontend/plugins/directives/click-outside.directive.ts
  argilla-frontend/plugins/directives/index.ts
  argilla-frontend/plugins/directives/optional-field.directive.js
  argilla-frontend/plugins/directives/required-field.directive.ts
  argilla-frontend/plugins/directives/svg-icon.element.ts
  argilla-frontend/plugins/directives/tooltip.directive.ts
  argilla-frontend/plugins/extensions/color-generator.ts
  argilla-frontend/plugins/extensions/color-schema.ts
  argilla-frontend/plugins/extensions/copy-to-clipboard.ts
  argilla-frontend/plugins/extensions/format-number.ts
  argilla-frontend/plugins/extensions/notification.ts
  argilla-frontend/plugins/extensions/platform.ts
  argilla-frontend/plugins/extensions/vue-draggable.ts
  argilla-frontend/plugins/index.ts
  argilla-frontend/plugins/language/language-detector.ts
  argilla-frontend/plugins/language/language-direction.ts
  argilla-frontend/plugins/logo/logo.ts
Due: argilla-frontend

fix: :bug: Send visible_options prop only when the questions has more… (#5716)
  argilla-frontend/v1/infrastructure/repositories/QuestionRepository.ts
Due: argilla-frontend

feat: added TableField
  argilla-frontend/components/features/annotation/container/fields/table-field/TableField.vue
  argilla-server/src/argilla_server/api/schemas/v1/fields.py
Due: argilla-server, argilla-frontend

removed JSON.parse for tableJSON
  argilla-frontend/components/base/base-render-table/RenderTable.vue
  argilla-frontend/components/base/base-render-table/useLLMExtractionViewModel.ts
  argilla-frontend/components/base/base-render-table/useReferenceTablesViewModel.ts
  argilla-frontend/components/base/base-render-table/useSchemaTableViewModel.ts
Due: argilla-frontend

TableField added copy button
  argilla-frontend/components/base/base-render-table/RenderTable.vue
  argilla-frontend/components/base/base-render-table/useReferenceTablesViewModel.ts
  argilla-frontend/components/features/annotation/container/fields/table-field/TableField.vue
Due: argilla-frontend

ci: improve npm live reload builds
  .devcontainer/k8s-tilt/Dockerfile
  argilla-frontend/babel.config.js
  argilla-frontend/nuxt.config.ts
  argilla-server/docker/server/dev.argilla_server.dockerfile
  argilla-server/docker/server/scripts/start_argilla_server.sh
Due: argilla-server, argilla-frontend

changed tableJSON prop for TextAreaContents.vue
  argilla-frontend/components/base/base-render-table/RenderTable.vue
  argilla-frontend/components/base/base-render-table/useSchemaTableViewModel.ts
  argilla-frontend/components/features/annotation/container/fields/text-field/TextField.vue
  argilla-frontend/components/features/annotation/container/questions/form/text-area/TextAreaContents.vue
  argilla-frontend/components/features/annotation/container/questions/form/text-area/TextAreaSuggestion.vue
Due: argilla-frontend

refactor: Schema, TableData, Extraction, and Validator entities
  argilla-frontend/components/base/base-render-table/RenderTable.vue
  argilla-frontend/components/base/base-render-table/dataUtils.ts
  argilla-frontend/components/base/base-render-table/tableUtils.ts
  argilla-frontend/components/base/base-render-table/types.ts
  argilla-frontend/components/base/base-render-table/useLLMExtractionViewModel.ts
  argilla-frontend/components/base/base-render-table/useReferenceTablesViewModel.ts
  argilla-frontend/components/base/base-render-table/useSchemaTableViewModel.ts
  argilla-frontend/components/base/base-render-table/validationUtils.ts
  argilla-frontend/v1/domain/entities/table/Extraction.ts
  argilla-frontend/v1/domain/entities/table/Schema.ts
  argilla-frontend/v1/domain/entities/table/TableData.ts
  argilla-frontend/v1/domain/entities/table/Validation.ts
  argilla-frontend/v1/domain/usecases/get-extraction-completion-use-case.ts
  argilla-frontend/v1/domain/usecases/get-extraction-schema-use-case.ts
  argilla/src/extralit/server/models/extraction.py
Due: extralit, argilla-frontend

refactor: Schema, TableData, Extraction, and Validator entities
  argilla-frontend/components/base/base-render-table/RenderTable.vue
  argilla-frontend/components/base/base-render-table/dataUtils.ts
  argilla-frontend/components/base/base-render-table/tableUtils.ts
  argilla-frontend/components/base/base-render-table/types.ts
  argilla-frontend/components/base/base-render-table/useLLMExtractionViewModel.ts
  argilla-frontend/components/base/base-render-table/useReferenceTablesViewModel.ts
  argilla-frontend/components/base/base-render-table/useSchemaTableViewModel.ts
  argilla-frontend/components/base/base-render-table/validationUtils.ts
  argilla-frontend/v1/domain/entities/table/Extraction.ts
  argilla-frontend/v1/domain/entities/table/Schema.ts
  argilla-frontend/v1/domain/entities/table/TableData.ts
  argilla-frontend/v1/domain/entities/table/Validation.ts
  argilla-frontend/v1/domain/usecases/get-extraction-completion-use-case.ts
  argilla-frontend/v1/domain/usecases/get-extraction-schema-use-case.ts
Due: argilla-frontend

refactor: DataFrameSchema constructor
  argilla-frontend/components/base/base-render-table/dataUtils.ts
  argilla-frontend/components/base/base-render-table/tableUtils.ts
  argilla-frontend/components/base/base-render-table/useLLMExtractionViewModel.ts
  argilla-frontend/components/base/base-render-table/useSchemaTableViewModel.ts
  argilla-frontend/components/base/base-render-table/validationUtils.ts
  argilla-frontend/v1/domain/entities/table/Schema.ts
  argilla-frontend/v1/domain/usecases/get-extraction-schema-use-case.ts
Due: argilla-frontend

refactor
  argilla-frontend/components/base/base-render-table/RenderTable.vue
  argilla-frontend/components/base/base-render-table/useLLMExtractionViewModel.ts
  argilla-frontend/components/base/base-render-table/useReferenceTablesViewModel.ts
Due: argilla-frontend

🔥 Fix highlight on bulk (#5698)
  argilla-frontend/components/features/annotation/container/fields/RecordFields.vue
  argilla-frontend/components/features/annotation/container/fields/chat-field/ChatField.vue
  argilla-frontend/components/features/annotation/container/fields/chat-field/useChatFieldViewModel.ts
  argilla-frontend/components/features/annotation/container/fields/span-annotation/SpanAnnotationTextField.vue
  argilla-frontend/components/features/annotation/container/fields/span-annotation/useSpanAnnotationTextFieldViewModel.ts
  argilla-frontend/components/features/annotation/container/fields/text-field/TextField.vue
  argilla-frontend/components/features/annotation/container/fields/text-field/useTextFieldViewModel.ts
Due: argilla-frontend

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
