Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, argilla, extralit, argilla_v1, argilla_server, argilla-server, argilla-frontend

fix tests
  argilla-server/pyproject.toml
Due: argilla_server, argilla-server

updated the imports.py file to improve the handling of document imports with multiple files
  argilla-server/src/argilla_server/contexts/imports.py
Due: argilla_server, argilla-server

Refactor import document structure and validation handling
  .kiro/specs/papers-library-importer/design.md
  argilla-server/src/argilla_server/api/schemas/v1/imports.py
  argilla-server/src/argilla_server/contexts/imports.py
  argilla-server/tests/unit/api/handlers/v1/test_imports.py
  argilla-server/tests/unit/contexts/test_imports.py
Due: argilla_server, argilla-server

chore
  extralit/src/argilla/cli/documents/add.py
Due: none

Implement bulk document upload functionality
  .kiro/specs/papers-library-importer/tasks.md
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/imports.py
  argilla-server/src/argilla_server/contexts/imports.py
  argilla-server/src/argilla_server/jobs/__init__.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
  argilla-server/tests/unit/api/handlers/v1/test_bulk_documents.py
  argilla-server/tests/unit/jobs/test_document_jobs.py
Due: argilla_server, argilla-server

Enhance document upload job system and import execution
  .kiro/specs/papers-library-importer/tasks.md
  argilla-server/src/argilla_server/jobs/document_jobs.py
  extralit/src/argilla/cli/documents/add.py
Due: argilla_server, argilla-server

Refactor BibTeX import process and enhance document handling
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/contexts/imports.py
  extralit/src/argilla/cli/documents/add.py
Due: argilla_server, argilla-server

Enhance bulk document upload process and error handling
  argilla-server/.env.dev
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/imports.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
Due: argilla_server, argilla-server

Refactor document import schemas and update bulk upload logic
  .kiro/specs/papers-library-importer/design.md
  .kiro/specs/papers-library-importer/tasks.md
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/handlers/v1/imports.py
  argilla-server/src/argilla_server/api/schemas/v1/imports.py
  argilla-server/src/argilla_server/contexts/imports.py
  argilla-server/src/argilla_server/jobs/document_jobs.py
  argilla-server/tests/unit/api/handlers/v1/test_imports.py
  argilla-server/tests/unit/contexts/test_imports.py
  extralit/src/argilla/cli/documents/add.py
Due: argilla_server, argilla-server

Enhance bulk document upload functionality and validation
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/policies/v1/document_policy.py
  extralit/src/argilla/cli/documents/add.py
Due: argilla_server, argilla-server

Implement ImportHistory model and related factory for document import tracking
  .kiro/specs/papers-library-importer/tasks.md
  argilla-server/src/argilla_server/models/database.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/models/test_import_history.py
Due: argilla_server, argilla-server

Update Alembic commands and environment configurations
  .github/copilot-instructions.md
  argilla-server/.env.dev
  argilla-server/.env.test
  argilla-server/pyproject.toml
  argilla-server/src/argilla_server/alembic/versions/7d6b33203390_add_metadata_column_to_workspaces_table.py
  extralit/docs/community/developer.md
Due: argilla_server, argilla-server

docs
  argilla-server/pyproject.toml
  extralit/docs/community/developer.md
Due: argilla_server, argilla-server

chore
  argilla-server/src/argilla_server/alembic/versions/7552df94427a_added_document_model_and_updated_record_.py
  argilla-server/src/argilla_server/alembic/versions/7d6b33203390_create_import_history_table.py
Due: argilla_server, argilla-server

chore
  argilla-server/tests/factories.py
  argilla-server/tests/unit/models/test_import_history.py
Due: argilla_server, argilla-server

fix: Removed the alteration of the `workspace_id` column in the `documents` table during the upgrade and downgrade processes.
  argilla-server/src/argilla_server/alembic/versions/7d6b33203390_create_import_history_table.py
Due: argilla_server, argilla-server

chore: Bump version to 0.6.0 in package.json and version files
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_version.py
  extralit/src/argilla/_version.py
Due: frontend, argilla_server, argilla-server, argilla-frontend

Refactor document import models and update import history tracking
  .kiro/specs/papers-library-importer/design.md
  .kiro/specs/papers-library-importer/tasks.md
  argilla-server/src/argilla_server/alembic/versions/7d6b33203390_create_import_history_table.py
  argilla-server/src/argilla_server/models/database.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/models/test_import_history.py
  extralit/src/argilla/cli/documents/add.py
Due: argilla_server, argilla-server

Update README.md
  README.md
Due: none

chore: remove pymupdf dependency from pyproject.toml files in argilla-v1 and extralit
  extralit/pyproject.toml
Due: none

Path conditions:
  frontend: any of: argilla-frontend/
  argilla: (any of: argilla/src/argilla/) or (any of: argilla/src/argilla/**)
  extralit: (any of: argilla/src/extralit/) or (any of: argilla/src/extralit/**)
  argilla_v1: (any of: argilla-v1/src/argilla_v1/) or (any of: argilla-v1/src/argilla_v1/**)
  argilla_server: any of: argilla-server/
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
