Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

changelog fixes
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
Due: argilla-server

fix: argilla-frontend builds
  argilla-frontend/components/base/base-render-table/RenderTable.base.component.vue
  argilla-frontend/components/commons/results/ResultsRecord.vue
  argilla-frontend/components/commons/results/StatusTag.vue
  argilla-frontend/components/features/annotation/container/mode/useFocusAnnotationViewModel.ts
  argilla-frontend/components/features/annotation/sidebar/useDocumentViewModel.ts
  argilla-frontend/nuxt.config.ts
  argilla-frontend/package.json
  argilla-frontend/v1/domain/entities/question/Question.ts
  argilla-frontend/v1/domain/entities/question/QuestionType.ts
Due: argilla-frontend

fix: update imports to use argilla_v1 and adjust versioning
  .devcontainer/k8s-tilt/devcontainer.json
  argilla-frontend/babel.config.js
  argilla-frontend/components/features/global/appHeader.vue
  argilla-frontend/components/features/login/login/LoginImageBg.vue
  argilla-frontend/nuxt.config.ts
  argilla-frontend/package.json
  argilla-server/src/argilla_server/alembic/versions/7552df94427a_added_document_model_and_updated_record_.py
  argilla-server/src/argilla_server/alembic/versions/d00f819ccc67_update_responses_user_id_foreign_key.py
  argilla-server/src/argilla_server/api/handlers/v1/models.py
  argilla-server/src/argilla_server/api/schemas/v1/settings.py
  argilla-server/src/argilla_server/database.py
  argilla/pyproject.toml
  argilla/src/argilla/_version.py
  argilla/src/extralit/extraction/chunking.py
  argilla/src/extralit/extraction/models/schema.py
  argilla/src/extralit/extraction/vector_index.py
  argilla/src/extralit/pipeline/export/dataset.py
  argilla/src/extralit/pipeline/export/record.py
  argilla/src/extralit/pipeline/ingest/paper.py
  argilla/src/extralit/pipeline/ingest/record.py
  argilla/src/extralit/pipeline/ingest/segment.py
  argilla/src/extralit/pipeline/update/monitor_records.py
  argilla/src/extralit/pipeline/update/monitor_suggestion.py
  argilla/src/extralit/pipeline/update/schema.py
  argilla/src/extralit/pipeline/update/suggestion.py
  argilla/src/extralit/preprocessing/alignment.py
  argilla/src/extralit/server/app.py
  argilla/src/extralit/server/context/datasets.py
Due: argilla, extralit, argilla-server, argilla-frontend

fix: update imports to use argilla_v1 and adjust versioning
  .devcontainer/k8s-tilt/devcontainer.json
  argilla-frontend/babel.config.js
  argilla-frontend/components/features/global/appHeader.vue
  argilla-frontend/components/features/login/login/LoginImageBg.vue
  argilla-frontend/nuxt.config.ts
  argilla-frontend/package.json
  argilla-server/src/argilla_server/alembic/versions/7552df94427a_added_document_model_and_updated_record_.py
  argilla-server/src/argilla_server/alembic/versions/d00f819ccc67_update_responses_user_id_foreign_key.py
  argilla-server/src/argilla_server/api/handlers/v1/models.py
  argilla-server/src/argilla_server/api/schemas/v1/settings.py
  argilla-server/src/argilla_server/database.py
  argilla/pyproject.toml
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

fix highlighting in span fields
  argilla-frontend/components/features/annotation/container/fields/span-annotation/SpanAnnotationTextField.vue
Due: argilla-frontend

update CHANGELOG
  argilla-frontend/CHANGELOG.md
Due: argilla-frontend

fix: notification handling
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/k8s-tilt/devcontainer.json
  argilla-frontend/components/features/annotation/container/mode/FocusAnnotation.vue
  argilla-frontend/components/features/annotation/header/StatusFilter.vue
  argilla-frontend/nuxt.config.ts
  argilla-frontend/pages/dataset/_id/settings.vue
Due: argilla-frontend

fix: FocusAnnotation.vue layout issues
  argilla-frontend/components/features/annotation/container/RecordFeedbackTaskAndQuestionnaire.vue
  argilla-frontend/components/features/annotation/container/fields/span-annotation/SpanAnnotationTextField.component.vue
  argilla-frontend/components/features/annotation/container/fields/span-annotation/SpanAnnotationTextField.vue
  argilla-frontend/components/features/annotation/container/fields/text-field/TextField.component.vue
  argilla-frontend/components/features/annotation/container/mode/BulkAnnotation.vue
  argilla-frontend/components/features/annotation/container/mode/FocusAnnotation.vue
  argilla-frontend/components/features/annotation/container/questions/QuestionsForm.vue
  argilla-frontend/components/features/annotation/container/questions/form/text-area/ContentEditableFeedbackTask.vue
  argilla-frontend/components/features/annotation/header/StatusFilter.vue
  argilla-frontend/v1/domain/entities/record/RecordStatus.ts
Due: argilla-frontend

merge: cleaned up `argilla-frontend/components/base`
  argilla-frontend/components/features/annotation/header/DatasetFilters.component.vue
  argilla-frontend/components/features/annotation/header/RadioButtonsSelect.base.vue
Due: argilla-frontend

merge: cleaned up `argilla-frontend/components/base`
  argilla-frontend/components/base/BaseSlider.spec.js
  argilla-frontend/components/base/__snapshots__/BaseSlider.spec.js.snap
  argilla-frontend/components/base/base-badge/BaseBadge.vue
  argilla-frontend/components/base/base-render-markdown/RenderMarkdown.base.component.vue
  argilla-frontend/components/base/base-table/filters/__snapshots__/FilterScore.spec.js.snap
  argilla-frontend/components/base/table/BaseTableInfo.spec.js
  argilla-frontend/components/base/table/TableFiltrableColumn.spec.js
  argilla-frontend/components/base/table/__snapshots__/TableFiltrableColumn.spec.js.snap
  argilla-frontend/components/features/annotation/pagination/Pagination.component.vue
  argilla-frontend/components/features/annotation/pagination/PaginationFeedbackTask.component.vue
  argilla-frontend/components/features/annotation/settings/TopDatasetSettingsFeedbackTask.content.vue
  argilla-frontend/components/features/annotation/shortcuts/AnnotationHelpShortcut.vue
Due: argilla-frontend

fix: update .gitignore to include _nuxt build output
  .gitignore
Due: none

refactor
  Tiltfile
  argilla-server/docker/server/dev.argilla_server.dockerfile
Due: argilla-server

fix: `update_response` duration update
  argilla-server/src/argilla_server/validators/responses.py
Due: argilla-server

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
