Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

chore
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
Due: argilla-server

released v0.2.3 fixes
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/_version.py
  argilla/CHANGELOG.md
Due: argilla-server

released v0.2.3 fixes
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/_version.py
  argilla/CHANGELOG.md
  argilla/src/extralit/__init__.py
Due: extralit, argilla-server

released v0.2.3 fixes
  argilla-server/CHANGELOG.md
Due: argilla-server

released v0.2.3 fixes
  argilla/data/preprocessing/data/preprocessing/deepdoctection/test-paper/tables.json
Due: none

Refine German translations and update non-localized UI elements (#5632)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/components/base/base-date/BaseDate.vue
  argilla-frontend/components/base/base-table/filters/SelectOptionsSearch.vue
  argilla-frontend/components/features/annotation/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  argilla-frontend/components/features/annotation/container/questions/form/span/EntityLabelSelection.component.vue
  argilla-frontend/docs/snippets/start_page.md
  argilla-frontend/layouts/app.vue
  argilla-frontend/pages/dataset/_id/useDatasetSettingViewModel.ts
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
Due: argilla-frontend

[BUGFIX] Catch None in image feature columns (#5626)
  argilla/src/argilla/_helpers/_media.py
Due: argilla

feat: added support for `with_vectors` with query filter in sdk (#5638)
  argilla/CHANGELOG.md
  argilla/src/argilla/_api/_records.py
  argilla/src/argilla/records/_dataset_records.py
Due: argilla

perf: Using search engine to compute the total number of records for user metrics (#5641)
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/tests/unit/api/handlers/v1/test_datasets.py
Due: argilla-server

Update README.md
  README.md
Due: none

[IMPROVEMENT] feat(helm): add support for default storage class in PVCs (#5628)
  argilla-server/CHANGELOG.md
  examples/deployments/k8s/argilla-chart/tests/suite_test.yaml
  examples/deployments/k8s/argilla-chart/values.yaml
Due: argilla-server

chore: Set release version
  argilla-frontend/CHANGELOG.md
  argilla-frontend/package.json
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/_version.py
  argilla/CHANGELOG.md
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

fix and update test snaps
  argilla-frontend/components/base/base-date/base-date.test.ts
  argilla-frontend/components/base/base-table/__snapshots__/BaseTableInfo.spec.js.snap
  argilla-frontend/components/base/base-table/__snapshots__/TableFiltrableColumn.spec.js.snap
  argilla-frontend/components/base/base-table/filters/__snapshots__/SelectOptionsSearch.spec.js.snap
Due: argilla-frontend

clean code
  argilla-frontend/components/base/base-date/base-date.test.ts
Due: argilla-frontend

chore: Update develop version
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_version.py
  argilla/src/argilla/_version.py
Due: argilla, argilla-server, argilla-frontend

fix: remove unnecesary exposed ports for Argilla Docker compose file (#5644)
  examples/deployments/docker/docker-compose.yaml
Due: none

fix lint
  argilla-frontend/components/base/base-collpasable-panel/BaseCollapsablePanel.vue
  argilla-frontend/components/base/base-progress/BaseLinearProgress.vue
  argilla-frontend/components/base/base-search-bar/BaseSearchBar.vue
  argilla-frontend/components/base/base-table/BaseTableInfo.vue
  argilla-frontend/components/base/base-table/TableFiltrableColumn.vue
  argilla-frontend/components/base/base-topbar-brand/BaseTopbarBrand.vue
  argilla-frontend/components/features/annotation/container/fields/RecordMenu.vue
  argilla-frontend/components/features/annotation/container/fields/span-annotation/SpanAnnotationTextField.vue
  argilla-frontend/components/features/annotation/container/questions/form/Questions.component.vue
  argilla-frontend/components/features/annotation/container/questions/form/ranking/drag-and-drop-selection/DndSelection.component.vue
  argilla-frontend/components/features/annotation/container/questions/form/span/SpanComponent.vue
  argilla-frontend/components/features/annotation/container/view-config/RecordsViewConfig.vue
  argilla-frontend/components/features/annotation/header/RadioButtonsSelect.base.vue
  argilla-frontend/components/features/annotation/header/filters/FilterButton.vue
  argilla-frontend/components/features/annotation/header/metadata-filter/MetadataFilter.vue
  argilla-frontend/components/features/annotation/header/responses-filter/ResponsesFilter.vue
  argilla-frontend/components/features/annotation/header/search-bar-filter/SearchBarFilter.vue
  argilla-frontend/components/features/annotation/header/sort-filter/SortSelectorItem.vue
  argilla-frontend/components/features/annotation/header/suggestion-filter/SuggestionFilter.vue
  argilla-frontend/components/features/annotation/pagination/Pagination.vue
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
  argilla-frontend/components/features/global/user/UserAvatarTooltip.vue
  argilla-frontend/translation/de.js
Due: argilla-frontend

chore: Fix missing str format
  argilla/src/argilla/_helpers/_deploy.py
Due: argilla
