Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

Deployed 27123d2 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/community/contributor/index.html
  latest/search/search_index.json
Due: none

checkpoint a
  argilla/src/argilla/cli/extraction/__main__.py
  argilla/src/argilla/cli/users/__main__.py
  argilla/src/argilla/cli/workspaces/__main__.py
  argilla/src/argilla/client/__init__.py
  argilla/src/argilla/client/login.py
Due: argilla

Implement schema management features in CLI
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/src/argilla/cli/schemas/upload.py
  argilla/src/argilla/cli/training/__main__.py
  argilla/src/argilla/client/__init__.py
Due: argilla

Enhance tasks documentation and update CLI integration steps
  argilla/.gitignore
  argilla/test_cli_with_server.py
  tasks.md
Due: none

fix: remove authorization header to getDatasetCreation from HF HubRepository
  argilla-frontend/v1/infrastructure/repositories/FieldRepository.ts
  argilla-frontend/v1/infrastructure/repositories/HubRepository.ts
  argilla-frontend/v1/infrastructure/services/useAxiosExtension.ts
Due: argilla-frontend

docs: Update documentation links and translations to reflect the new admin guide structure
  argilla-frontend/pages/index.vue
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
  argilla/docs/community/integrations/llamaindex_rag_github.ipynb
  argilla/docs/tutorials/image_classification.ipynb
  argilla/docs/tutorials/image_preference.ipynb
  argilla/docs/tutorials/text_classification.ipynb
  argilla/docs/tutorials/token_classification.ipynb
  argilla/mkdocs.yml
Due: argilla-frontend

docs: updated mising links in User Guide
  argilla/docs/user_guide/overview.md
  argilla/mkdocs.yml
  examples/custom_field/table_field.ipynb
Due: none

docs: added document_extraction ipynbs
  examples/document_extraction/setup_workspace.ipynb
Due: none

docs: added document_extraction ipynbs
  .gitattributes
  examples/document_extraction/LLM_extractions.ipynb
  examples/document_extraction/Mendeley_integration.ipynb
  examples/document_extraction/PDF_preprocessing.ipynb
Due: none

Update README.md
  README.md
Due: none

docs: update FAQ for Extralit, replacing Argilla references with relevant information
  argilla/docs/getting_started/faq.md
Due: none

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
