Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

add order when listing records in test (#5813)
  argilla-server/tests/unit/contexts/hub/test_hub_dataset.py
Due: argilla-server

Update README.md
  README.md
Due: none

Add redis cluster config (#5799)
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/jobs/queues.py
  argilla-server/src/argilla_server/settings.py
  argilla/docs/reference/argilla-server/configuration.md
  examples/deployments/k8s/argilla-chart/templates/deployment.yaml
  examples/deployments/k8s/argilla-chart/values.yaml
Due: argilla-server

feat: add Japanese translation (#5816)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/nuxt.config.ts
  argilla-frontend/translation/ja.js
Due: argilla-frontend

fix: update Slack channel invite link in multiple files
  .github/ISSUE_TEMPLATE/config.yml
  argilla-frontend/nuxt.config.ts
  argilla/docs/admin_guide/k8s_deployment.md
  argilla/mkdocs.yml
Due: argilla-frontend

fix: TS build error
  argilla-frontend/v1/domain/entities/record/Record.ts
Due: argilla-frontend

fix: handle missing content in changelog fetch response
  argilla/docs/scripts/gen_changelog.py
Due: none

docs: update documentation and repository references to Extralit
  .github/actions/slack-post-credentials/app/main.py
  CITATION.cff
  CONTRIBUTING.md
  argilla-frontend/README.md
  argilla-frontend/docs/snippets/start_page.md
  argilla-frontend/nuxt.config.ts
  argilla-frontend/pages/index.vue
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
  argilla-server/README.md
  argilla-server/pyproject.toml
  argilla-server/src/argilla_server/_app.py
  argilla-v1/README.md
  argilla/README.md
  argilla/docs/community/adding_language.md
  argilla/docs/community/contributor.md
  argilla/docs/community/developer.md
  argilla/docs/community/index.md
  argilla/docs/reference/argilla-server/configuration.md
  argilla/docs/reference/argilla-server/telemetry.md
  argilla/src/argilla/_api/_token.py
  docs/_source/getting_started/argilla.md
  examples/webhooks/basic-webhooks/README.md
Due: argilla, argilla-server, argilla-frontend

docs: update documentation and repository references to Extralit
  .github/actions/slack-post-credentials/app/main.py
  CITATION.cff
  CONTRIBUTING.md
  argilla-frontend/README.md
  argilla-frontend/docs/snippets/start_page.md
  argilla-frontend/nuxt.config.ts
  argilla-frontend/pages/index.vue
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
  argilla-server/README.md
  argilla-server/pyproject.toml
  argilla-server/src/argilla_server/_app.py
  argilla/README.md
  argilla/docs/community/adding_language.md
  argilla/docs/community/contributor.md
  argilla/docs/community/developer.md
  argilla/docs/community/index.md
  argilla/docs/reference/argilla-server/configuration.md
  argilla/docs/reference/argilla-server/telemetry.md
  argilla/src/argilla/_api/_token.py
  docs/_source/getting_started/argilla.md
  examples/webhooks/basic-webhooks/README.md
Due: argilla, argilla-server, argilla-frontend

Deployed 901cd5b to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/assets/images/social/community/contributor.png
  latest/assets/images/social/community/developer.png
  latest/assets/images/social/community/index.png
  latest/community/adding_language/index.html
  latest/community/contributor/index.html
  latest/community/developer/index.html
  latest/community/index.html
  latest/reference/argilla-server/configuration/index.html
  latest/reference/argilla-server/telemetry/index.html
  latest/search/search_index.json
Due: none

fix: update logo
  argilla-frontend/README.md
  argilla-frontend/extension/icon.png
  argilla-server/README.md
  argilla/README.md
  argilla/docs/assets/logo.svg
Due: argilla-server, argilla-frontend

Deployed a6a3554 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/assets/logo.svg
Due: none

fix: update BrandIcon component
  argilla-frontend/components/base/base-brand-icon/BrandIcon.vue
Due: argilla-frontend

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
