Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

Deployed ead7190 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/admin_guide/upgrading/index.html
  latest/community/changelog/index.html
  latest/getting_started/development_setup/index.html
  latest/reference/argilla/records/suggestions/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Update Dockerfile to use the Extralit-specific argilla-hf-spaces image
  argilla-frontend/dev.frontend.Dockerfile
Due: argilla-frontend

add `nuxt-compress` to dependencies
  argilla-frontend/package-lock.json
  argilla-frontend/package.json
Due: argilla-frontend

chore
  argilla/CHANGELOG.md
Due: none

fix: RecordUpdateWithId
  argilla-server/src/argilla_server/_version.py
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
  argilla-server/src/argilla_server/api/handlers/v1/records.py
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/api/schemas/v1/questions.py
  argilla-server/src/argilla_server/api/schemas/v1/records.py
  argilla-server/src/argilla_server/api/schemas/v1/settings.py
  argilla-server/src/argilla_server/api/schemas/v1/users.py
  argilla-server/src/argilla_server/bulk/records_bulk.py
  argilla-server/src/argilla_server/contexts/hub.py
  argilla-server/src/argilla_server/contexts/records.py
  argilla-server/src/argilla_server/database.py
  argilla-server/src/argilla_server/settings.py
  argilla-server/src/argilla_server/validators/records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_upsert_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/records/test_update_record.py
Due: argilla-server

refactor: Update CODEOWNERS for improved ownership structure
  .github/CODEOWNERS
Due: none

fix: `argilla-server` tests; add Document and MinioFile factories; update test imports; correct package version specification in devcontainer; refactor type aliasing in responses.py
  .devcontainer/devcontainer.json
  argilla-server/src/argilla_server/validators/responses.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/api/handlers/v1/test_documents.py
  argilla-server/tests/unit/api/handlers/v1/test_files.py
  argilla-server/tests/unit/api/handlers/v1/test_models.py
Due: argilla-server

chore: update license headers
  argilla-server/src/argilla_server/_app.py
  argilla-server/src/argilla_server/api/handlers/v1/datasets/records.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/models/database.py
  argilla/src/argilla/__init__.py
  argilla/src/argilla/_api/_questions.py
  argilla/src/argilla/_models/__init__.py
  argilla/src/argilla/_models/_settings/_questions.py
  argilla/src/argilla/_version.py
  argilla/src/argilla/cli/datasets/__init__.py
  argilla/src/argilla/client/resources.py
  argilla/src/argilla/settings/_field.py
Due: argilla, argilla-server

tests: add annotator auth header fixture
  .github/ISSUE_TEMPLATE/bug-python-deployment.yml
  argilla-server/tests/unit/conftest.py
Due: argilla-server

Fix argilla-server unit tests for text fields and workspace deletion
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/tests/unit/api/handlers/v1/datasets/test_questions.py
  argilla-server/tests/unit/api/handlers/v1/test_datasets.py
Due: argilla-server

tests: add annotator auth header fixture
  argilla-server/tests/unit/conftest.py
Due: argilla-server

fix: remove continue-on-error for tests
  .github/workflows/argilla-server.yml
Due: none

Fix argilla-server unit tests for text fields and workspace deletion
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/tests/unit/api/handlers/v1/datasets/test_create_dataset_field.py
  repo.md
Due: argilla-server

Fix remaining argilla-server unit tests
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/api/schemas/v1/files.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/api/handlers/v1/test_fields.py
  argilla-server/tests/unit/api/handlers/v1/test_models.py
  argilla-server/tests/unit/api/handlers/v1/test_questions.py
  argilla-server/tests/unit/search_engine/test_commons.py
  argilla-server/tests/unit/search_engine/test_elastisearch.py
  repo.md
Due: argilla-server

Fix remaining argilla-server unit tests
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
  argilla-server/src/argilla_server/api/handlers/v1/datasets/questions.py
  argilla-server/src/argilla_server/api/handlers/v1/fields.py
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/api/schemas/v1/files.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/models/database.py
  argilla-server/tests/factories.py
Due: argilla-server

fix: update test command to use short traceback and ensure coverage upload always runs
  .github/workflows/argilla-server.yml
Due: none

Revert "Fix remaining argilla-server unit tests"
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
  argilla-server/src/argilla_server/api/handlers/v1/datasets/questions.py
  argilla-server/src/argilla_server/api/handlers/v1/fields.py
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/api/schemas/v1/files.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/models/database.py
  argilla-server/tests/factories.py
Due: argilla-server

fix: update MinioFileFactory to use a static object name and adjust attribute unpacking in build method
  argilla-server/tests/factories.py
  argilla-server/tests/unit/api/handlers/v1/test_fields.py
Due: argilla-server

fix: refactor file path handling and update test cases to skip failing scenarios
  argilla-server/src/argilla_server/contexts/files.py
  argilla-server/tests/unit/api/handlers/v1/datasets/test_questions.py
  argilla-server/tests/unit/api/handlers/v1/test_datasets.py
  argilla-server/tests/unit/api/handlers/v1/test_documents.py
  argilla-server/tests/unit/api/handlers/v1/test_files.py
  argilla-server/tests/unit/api/handlers/v1/test_questions.py
  argilla-server/tests/unit/api/handlers/v1/test_workspaces.py
  argilla-server/tests/unit/api/handlers/v1/workspaces/test_create_workspace.py
  argilla-server/tests/unit/api/schemas/v1/responses/test_response_value_create.py
  argilla-server/tests/unit/search_engine/test_commons.py
Due: argilla-server

docs: enhance README with test running instructions and update MinioFileFactory for better mock handling
  argilla-server/README.md
  argilla-server/tests/factories.py
  argilla-server/tests/unit/api/handlers/v1/test_documents.py
  argilla-server/tests/unit/api/handlers/v1/test_files.py
  argilla-server/tests/unit/search_engine/test_commons.py
Due: argilla-server

fix: update test workflows to handle errors gracefully and skip failing tests
  .github/workflows/argilla-server.yml
  argilla-server/tests/unit/api/handlers/v1/test_documents.py
  argilla-server/tests/unit/api/handlers/v1/test_fields.py
  argilla-server/tests/unit/api/handlers/v1/test_files.py
  argilla-server/tests/unit/api/handlers/v1/test_questions.py
  argilla-server/tests/unit/search_engine/test_commons.py
Due: argilla-server

fix: enhance test cases by adding missing mocks and improving validation checks
  argilla-server/tests/unit/api/handlers/v1/test_documents.py
  argilla-server/tests/unit/api/handlers/v1/test_files.py
  argilla-server/tests/unit/api/handlers/v1/test_questions.py
Due: argilla-server

fix: remove obsolete test files for dataset record creation and update
  argilla-server/tests/unit/api/handlers/v1/datasets/records/test_create_dataset_records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/test_update_dataset_records.py
Due: argilla-server

Fix argilla-server unit tests for text fields and workspace deletion (#71)
  .github/workflows/argilla-server.yml
  argilla-server/README.md
  argilla-server/src/argilla_server/api/handlers/v1/workspaces.py
  argilla-server/src/argilla_server/api/schemas/v1/files.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla-server/tests/factories.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/test_create_dataset_records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/test_update_dataset_records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/test_create_dataset_field.py
  argilla-server/tests/unit/api/handlers/v1/datasets/test_questions.py
  argilla-server/tests/unit/api/handlers/v1/test_datasets.py
  argilla-server/tests/unit/api/handlers/v1/test_documents.py
  argilla-server/tests/unit/api/handlers/v1/test_fields.py
  argilla-server/tests/unit/api/handlers/v1/test_files.py
  argilla-server/tests/unit/api/handlers/v1/test_models.py
  argilla-server/tests/unit/api/handlers/v1/test_questions.py
  argilla-server/tests/unit/api/handlers/v1/test_workspaces.py
  argilla-server/tests/unit/api/handlers/v1/workspaces/test_create_workspace.py
  argilla-server/tests/unit/api/schemas/v1/responses/test_response_value_create.py
  argilla-server/tests/unit/conftest.py
  argilla-server/tests/unit/search_engine/test_commons.py
  argilla-server/tests/unit/search_engine/test_elastisearch.py
Due: argilla-server

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
