Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

Add TableQuestion type to argilla
  argilla-frontend/components/features/annotation/container/questions/form/table/TableComponent.vue
  argilla-frontend/components/features/annotation/container/questions/form/text-area/TextAreaContents.vue
  argilla-frontend/v1/domain/entities/IAnswer.ts
  argilla-frontend/v1/domain/entities/question/QuestionAnswer.ts
  argilla-frontend/v1/domain/entities/question/QuestionType.ts
  argilla-frontend/v1/domain/entities/question/Suggestion.ts
  argilla-server/src/argilla_server/api/schemas/v1/questions.py
  argilla-server/src/argilla_server/api/schemas/v1/responses.py
  argilla-server/src/argilla_server/api/schemas/v1/suggestions.py
  argilla-server/src/argilla_server/enums.py
  argilla-server/src/argilla_server/validators/response_values.py
  argilla/src/argilla/_models/_settings/_questions/__init__.py
  argilla/src/argilla/_models/_settings/_questions/_table.py
  argilla/src/argilla/settings/_question.py
Due: argilla, argilla-server, argilla-frontend

feat: QuestionComponent loads
  argilla-frontend/components/features/annotation/container/questions/form/Questions.component.vue
  argilla-frontend/components/features/annotation/container/questions/form/table/TableComponent.vue
  argilla-frontend/components/features/annotation/container/questions/form/text-area/TextAreaContents.vue
  argilla-frontend/v1/domain/entities/question/Question.ts
  argilla-frontend/v1/domain/entities/question/QuestionAnswer.ts
Due: argilla-frontend

feat: added TableSetting
  argilla-frontend/components/features/annotation/container/fields/table-field/TableField.vue
  argilla-frontend/translation/en.js
  argilla-frontend/v1/domain/entities/question/Question.ts
  argilla-frontend/v1/domain/entities/question/QuestionAnswer.ts
  argilla-frontend/v1/infrastructure/types/question.ts
Due: argilla-frontend

feat: add es indexing support for TableField
  argilla-frontend/CHANGELOG.md
  argilla-frontend/components/base/base-render-table/RenderTable.vue
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/schemas/v1/questions.py
  argilla-server/src/argilla_server/search_engine/commons.py
  argilla/CHANGELOG.md
  argilla/src/argilla/_models/__init__.py
Due: argilla, argilla-server, argilla-frontend

fix: pydantic v2
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v0/__init__.py
  argilla-server/src/argilla_server/api/schemas/v0/authentication.py
  argilla-server/src/argilla_server/api/schemas/v0/datasets.py
  argilla-server/src/argilla_server/api/schemas/v0/users.py
  argilla-server/src/argilla_server/api/schemas/v0/workspaces.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/files.py
Due: argilla-server

fix: build argilla dev dependencies
  argilla/pyproject.toml
Due: none

fix: TableQuestionSettings
  .github/workflows/argilla-frontend.yml
  argilla-server/src/argilla_server/api/schemas/v1/questions.py
  argilla/src/argilla/_models/_settings/_questions.py
  argilla/src/argilla/settings/_question.py
Due: argilla, argilla-server

feat: added FieldType.table
  argilla/src/argilla/_models/_settings/_questions.py
  argilla/src/argilla/settings/_question.py
  examples/custom_field/question_field.ipynb
Due: argilla

fix: TableQuestionSettings
  argilla-server/src/argilla_server/api/schemas/v1/questions.py
Due: argilla-server

fix: es indexing support for TableField
  argilla-server/src/argilla_server/search_engine/commons.py
  argilla-server/src/argilla_server/settings.py
Due: argilla-server

update changelog
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
Due: argilla-server, argilla-frontend

update changelog
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
  argilla/src/extralit/pipeline/update/monitor_records.py
  argilla/src/extralit/pipeline/update/monitor_suggestion.py
Due: extralit, argilla-server, argilla-frontend

[FEATURE]: Adding Functionality To Update Users (#5615)
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/handlers/v1/users.py
  argilla-server/src/argilla_server/api/policies/v1/user_policy.py
  argilla-server/src/argilla_server/api/schemas/v1/users.py
  argilla-server/src/argilla_server/contexts/accounts.py
  argilla-server/tests/unit/api/handlers/v1/users/test_update_user.py
  argilla/CHANGELOG.md
  argilla/src/argilla/_api/_users.py
  argilla/tests/integration/test_manage_users.py
Due: argilla, argilla-server

[CI] Fix argilla-frontend build by adding the `package-lock.json` file (#5731)
  .gitignore
  argilla-frontend/package-lock.json
Due: argilla-frontend

fix: UI - use `last_activity_at` in the dataset list (#5741)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/components/features/home/dataset-list/DatasetCard.vue
  argilla-frontend/components/features/home/dataset-list/DatasetList.vue
Due: argilla-frontend

[CI] fix install deps using python.3.13 (#5745)
  .github/workflows/argilla.yml
Due: none

[BUGFIX] prevent errors when updating user (#5742)
  argilla/src/argilla/_api/_users.py
  argilla/src/argilla/_models/_user.py
  argilla/tests/integration/test_manage_users.py
  argilla/tests/unit/test_resources/test_users.py
Due: argilla

[BUGFIX] `argilla`: prevent enum literal validation errors (#5679)
  argilla/src/argilla/_models/__init__.py
  argilla/src/argilla/_models/_settings/_metadata.py
  argilla/src/argilla/settings/_metadata.py
  argilla/tests/unit/test_settings/test_metadata.py
Due: argilla

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
