Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

fix vars
  argilla-frontend/assets/scss/abstract/variables/_themes.scss
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
Due: argilla-frontend

fix: Add error handling to extralit's create_extraction_prompt
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
  argilla/CHANGELOG.md
  argilla/docker/extralit.dockerfile
  argilla/pyproject.toml
Due: none

fix: Add error handling to extralit's create_extraction_prompt
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
  argilla/CHANGELOG.md
  argilla/docker/extralit.dockerfile
  argilla/pyproject.toml
  argilla/src/extralit/extraction/extraction.py
  argilla/src/extralit/extraction/prompts.py
  argilla/src/extralit/extraction/query.py
  argilla/src/extralit/server/app.py
  argilla/src/extralit/server/context/llamaindex.py
  argilla/src/extralit/server/errors.py
Due: extralit

ci: fix tests
  argilla-server/tests/unit/api/v1/test_files.py
  argilla-server/tests/unit/conftest.py
  argilla/tests/unit/server/commons/test_settings.py
Due: argilla-server

ci: fix tests
  .github/workflows/argilla.yml
  argilla-server/src/argilla_server/settings.py
Due: argilla-server

ci: fix tests
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Due: none

ci: fix tests
  .github/workflows/argilla.run-python-tests.yml
  argilla-server/src/argilla_server/settings.py
Due: argilla-server

ci: Added envvar to use external Postgres, Minio, and Weaviate services for "Docker, Tilt, and K8s" devcontainer on GH Codespaces
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
  argilla/CHANGELOG.md
  examples/deployments/k8s/argilla-server-deployment.yaml
Due: none

fix: envvar
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
  examples/deployments/k8s/argilla-server-deployment.yaml
Due: none

Added client version at `argilla/src/argilla/_version.py` to notify the user when version mismatch occurs
  argilla/CHANGELOG.md
  argilla/src/argilla/_version.py
  argilla/src/extralit/pipeline/ingest/trace.py
Due: argilla, extralit

Added client version at `argilla/src/argilla/_version.py` to notify the user when version mismatch occurs
  argilla/CHANGELOG.md
  argilla/src/argilla/_version.py
Due: argilla

fix: extraction error handling
  Tiltfile
  argilla-server/src/argilla_server/settings.py
  argilla/src/extralit/extraction/extraction.py
Due: extralit, argilla-server

fix: extraction error handling
  Tiltfile
  argilla-server/src/argilla_server/settings.py
Due: argilla-server

[BUGFIX]: argilla server: install default `psycopy2` driver used by alembic (#5672)
  argilla-server/pdm.lock
  argilla-server/pyproject.toml
Due: argilla-server

(Typo): Update README.md (#5655)
  README.md
Due: none

[CONFIG] `argilla`: Add Python 3.13 support (#5652)
  .github/workflows/argilla.yml
  argilla/pdm.lock
  argilla/pyproject.toml
Due: none

[ENHANCEMENT][REFACTOR] SDK: allow to remove settings (#5584)
  argilla/docs/reference/argilla/settings/settings.md
  argilla/src/argilla/records/_mapping/_mapper.py
  argilla/src/argilla/settings/_field.py
  argilla/src/argilla/settings/_resource.py
  argilla/tests/integration/test_update_dataset_settings.py
  argilla/tests/unit/test_settings/test_settings.py
Due: argilla

fix: improve logic for detecting ChatFields (#5667)
  argilla-frontend/v1/domain/entities/hub/DatasetCreation.test.ts
  argilla-frontend/v1/domain/entities/hub/Subset.ts
Due: argilla-frontend

[BUGFIX] `argilla frontend`: redirect after login (#5635)
  argilla-frontend/CHANGELOG.md
  argilla-frontend/middleware/route-guard.ts
  argilla-frontend/pages/oauth/_provider/useOAuthViewModel.ts
  argilla-frontend/pages/sign-in.vue
  argilla-frontend/pages/useSignInViewModel.ts
  argilla-frontend/v1/infrastructure/services/useLocalStorage.ts
  argilla-server/tests/unit/api/handlers/v1/test_oauth2.py
Due: argilla-server, argilla-frontend
