Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

refactor: streamline document deletion and creation logic
  argilla-server/src/argilla_server/contexts/datasets.py
Due: argilla-server

refactor: remove unused metadata validation functions and streamline record update logic
  argilla-server/src/argilla_server/contexts/datasets.py
Due: argilla-server

fix: missing `get_async_db` in argilla_server.contexts.datasets
  argilla-server/src/argilla_server/contexts/datasets.py
Due: argilla-server

chore: update version to 0.5.0 and change organization references to extralit-dev
  argilla-frontend/package.json
  argilla-server/src/argilla_server/_version.py
  argilla-server/tests/unit/contexts/hub/test_hub_dataset.py
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  argilla/tests/integration/test_export_dataset.py
  argilla/tests/integration/test_import_features.py
Due: argilla-server, argilla-frontend

feat: add "use_table" setting to FieldSyncFactory for text fields
  argilla-server/tests/factories.py
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
Due: argilla-server

refactor: remove unused metadata check and enhance error handling in dataset exporter tests
  argilla-server/src/argilla_server/bulk/records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_upsert_dataset_records_bulk.py
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
Due: argilla-server

test: skip tests due to "Too many requests" error from Hugging Face API
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_upsert_dataset_records_bulk.py
  argilla-server/tests/unit/contexts/hub/test_hub_dataset.py
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
Due: argilla-server

test: skip tests due to "Too many requests" error from Hugging Face API
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_upsert_dataset_records_bulk.py
Due: argilla-server

fix: enable fail-fast strategy in CI workflow
  .github/workflows/argilla.yml
Due: none

fix: Remove PostCSS config from Nuxt and update imports and license headers
  argilla-frontend/nuxt.config.ts
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/search_engine/commons.py
Due: argilla-server, argilla-frontend

fix: downgrade setup-miniconda to v2 and change miniforge variant to Mambaforge
  .github/workflows/argilla-v1.yml
Due: none

Deployed 9236786 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/admin_guide/migrate_from_legacy_datasets/index.html
  latest/admin_guide/user/index.html
  latest/community/changelog/index.html
  latest/reference/argilla-server/configuration/index.html
  latest/reference/argilla/datasets/dataset_records/index.html
  latest/reference/argilla/search/index.html
  latest/reference/argilla/settings/fields/index.html
  latest/reference/argilla/settings/questions/index.html
  latest/reference/argilla/users/index.html
  latest/reference/argilla/workspaces/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

fix: update setup-miniconda action to v3 and change miniforge variant to Miniforge3
  .github/workflows/argilla-v1.yml
Due: none

feat: add translation for signin with provider in German
  argilla-frontend/translation/de.js
Due: argilla-frontend

fix: `argilla-v1` tests
  argilla-v1/environment_dev.yml
Due: none

chore: update Elasticsearch version to 8.17.0 across configurations
  .devcontainer/docker-compose/docker-compose.yml
  .github/workflows/argilla-server.yml
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
  argilla/docs/getting_started/development_setup.md
  examples/deployments/k8s/elasticsearch-deployment.yaml
  examples/deployments/k8s/helm/elasticsearch-helm.yaml
Due: argilla-server, argilla-frontend

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
