Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

[REFACTOR] argilla server: moving all record validators (#5603)
  argilla-server/src/argilla_server/bulk/records_bulk.py
  argilla-server/src/argilla_server/contexts/accounts.py
  argilla-server/src/argilla_server/models/base.py
  argilla-server/src/argilla_server/models/database.py
  argilla-server/src/argilla_server/validators/records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_create_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_dataset_records_bulk_with_responses.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_dataset_records_bulk_with_suggestions.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_dataset_records_bulk_with_vectors.py
  argilla-server/tests/unit/validators/test_records_bulk.py
Due: argilla-server

[BUGFIX] argilla server: Prevent convert `ChatFieldValue` objects (#5605)
  argilla-server/src/argilla_server/api/schemas/v1/records.py
  argilla-server/tests/unit/api/schemas/v1/records/test_record_create.py
Due: argilla-server

fix: k8s-tilt devcontainer and postgresql url
  .devcontainer/k8s-tilt/Dockerfile
  .devcontainer/k8s-tilt/devcontainer.json
  .gitignore
  argilla-server/docker/server/scripts/start_argilla_server.sh
  argilla-server/src/argilla_server/settings.py
Due: argilla-server

fix: argilla-frontend/package.json to reduce vulnerabilities
  argilla-frontend/package.json
Due: argilla-frontend

ci: Tilt to build argilla-frontend
  .devcontainer/k8s-tilt/devcontainer.json
  .devcontainer/k8s-tilt/setup.sh
  .dockerignore
  Tiltfile
Due: none

Introducing Argilla Guru on Gurubase.io (#5608)
  argilla/docs/community/index.md
Due: none

[PERF][IMPROVEMENT] argilla server: improve computation for dataset progress and metrics (#5618)
  argilla-server/src/argilla_server/api/handlers/v1/datasets/datasets.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/search_engine/base.py
  argilla-server/src/argilla_server/search_engine/commons.py
  argilla-server/tests/unit/api/handlers/v1/datasets/test_get_dataset_progress.py
  argilla-server/tests/unit/api/handlers/v1/test_datasets.py
  argilla-server/tests/unit/api/handlers/v1/test_metadata_properties.py
  argilla-server/tests/unit/search_engine/test_commons.py
Due: argilla-server

[PERF] argilla server: Reduce general transaction time (#5609)
  argilla-server/pdm.lock
  argilla-server/pyproject.toml
  argilla-server/src/argilla_server/bulk/records_bulk.py
  argilla-server/src/argilla_server/contexts/accounts.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/distribution.py
  argilla-server/src/argilla_server/models/mixins.py
  argilla-server/src/argilla_server/search_engine/commons.py
  argilla-server/src/argilla_server/search_engine/elasticsearch.py
  argilla-server/src/argilla_server/search_engine/opensearch.py
Due: argilla-server

fix: Prevent compute metrics for draft datasets (#5624)
  argilla-server/src/argilla_server/search_engine/commons.py
  argilla-server/tests/unit/search_engine/test_commons.py
Due: argilla-server

Fixed the k8s-tilt devcontainer for extralit
  .devcontainer/k8s-tilt/Dockerfile
  .devcontainer/k8s-tilt/devcontainer.json
  .devcontainer/k8s-tilt/prune_docker.sh
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
  argilla-server/CHANGELOG.md
  examples/deployments/k8s/extralit-configs.yaml
  examples/deployments/k8s/extralit-deployment.yaml
Due: argilla-server

fix: workspace files permission and error handling
  argilla-server/src/argilla_server/policies.py
  argilla/src/argilla/client/workspaces.py
  argilla/src/extralit/server/context/vectordb.py
Due: argilla, extralit, argilla-server

fix: workspace files permission and error handling
  argilla-server/src/argilla_server/policies.py
  argilla/src/argilla/client/workspaces.py
Due: argilla, argilla-server

ci: Improvements to k8s-tilt devcontainer storage handling
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/apis/v1/handlers/files.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla-server/src/argilla_server/policies.py
  examples/deployments/k8s/helm/postgres-helm.yaml
Due: argilla-server

fix: extralit service
  argilla/src/extralit/server/app.py
  argilla/src/extralit/server/context/vectordb.py
  examples/deployments/k8s/extralit-deployment.yaml
  examples/deployments/k8s/k3d/k3d-config.yaml
Due: extralit

fix: extralit service
  examples/deployments/k8s/extralit-deployment.yaml
  examples/deployments/k8s/k3d/k3d-config.yaml
Due: none

chore: error messages
  argilla/src/extralit/extraction/storage.py
  argilla/src/extralit/preprocessing/text.py
Due: extralit

fix: Improve error handling and document upload in extralit pipeline
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/_version.py
  argilla/CHANGELOG.md
  argilla/src/argilla/client/feedback/dataset/remote/dataset.py
  argilla/src/extralit/pipeline/export/record.py
Due: argilla, extralit, argilla-server

fix: Improve error handling and document upload in extralit pipeline
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/_version.py
  argilla/CHANGELOG.md
  argilla/src/argilla/client/feedback/dataset/remote/dataset.py
Due: argilla, argilla-server

fix: vector_store.py and vectordb.py for extralit service
  argilla/CHANGELOG.md
  argilla/tests/extralit/preprocessing/test_document.py
Due: none

fix: vector_store.py and vectordb.py for extralit service
  argilla/CHANGELOG.md
  argilla/src/extralit/extraction/vector_store.py
  argilla/src/extralit/preprocessing/document.py
  argilla/src/extralit/server/context/vectordb.py
  argilla/src/extralit/storage/files.py
  argilla/tests/extralit/preprocessing/test_document.py
Due: extralit

chore
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
Due: argilla-server
