Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

docs: update Docker commands in upgrading and development setup documentation
  argilla/docs/admin_guide/upgrading.md
  argilla/docs/getting_started/development_setup.md
Due: none

chore: added issue labels
  .github/labels.yml
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: add 'refactor' label for code refactoring and technical debt improvements
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/labels.yml
Due: none

chore: update issue templates to include `type` field for better categorization
  .github/ISSUE_TEMPLATE/bug-python-deployment.yml
  .github/ISSUE_TEMPLATE/bug-ui-ux.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Due: none

Fix merge conflicts in core files
  argilla/src/argilla/settings/_question.py
Due: argilla

refactor: remove unused singleton module and clean up login module documentation
  argilla/src/argilla/client/login.py
  argilla/src/argilla/client/singleton.py
  argilla/src/extralit/__init__.py
Due: argilla, extralit

refactor: remove unused singleton module and clean up login module documentation
  argilla/src/argilla/client/login.py
  argilla/src/argilla/client/singleton.py
Due: argilla

chore: update authors and maintainers to reflect new contact information for Extralit Labs
  argilla-server/pyproject.toml
  argilla/pyproject.toml
Due: argilla-server

Deployed 56441d2 to v0.4 with MkDocs 1.6.0 and mike 2.1.3
  v0.4/sitemap.xml
  v0.4/sitemap.xml.gz
Due: none
