Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

chore: update Elasticsearch version to 8.17.0 across configurations
  .devcontainer/docker-compose/docker-compose.yml
  .github/workflows/argilla-server.yml
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
  argilla/docs/getting_started/development_setup.md
  examples/deployments/k8s/elasticsearch-deployment.yaml
  examples/deployments/k8s/helm/elasticsearch-helm.yaml
Due: argilla-server, argilla-frontend

fix: `argilla-v1` tests
  argilla-v1/pyproject.toml
Due: none

feat: enhance test coverage reporting in CI workflow
  .github/workflows/argilla.yml
Due: none

fix: update default image name in deploy workflow and adjust coverage report error handling
  .github/workflows/argilla-frontend.deploy-environment.yml
  .github/workflows/argilla.yml
Due: none

feat: add test coverage reporting and update test scripts in CI workflows
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-v1.yml
  argilla-frontend/package.json
  codecov.yml
Due: argilla-frontend

fix: adjust test command options for improved performance and consistency
  .github/workflows/argilla.yml
  argilla-frontend/__mocks__/styleMock.js
  argilla-frontend/package.json
Due: argilla-frontend

feat: update codecov action to v5.4.3 and enhance test coverage commands
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Due: none

chore: remove outdated issue templates
  .github/ISSUE_TEMPLATE/add_documentation_report.yml
  .github/ISSUE_TEMPLATE/bug_python_deployment.yml
  .github/ISSUE_TEMPLATE/bug_ui_ux.yml
Due: none

ci: Fixes #74, `argilla-frontend` tests for RenderTable and Records components with improved mocking and validation
  argilla-frontend/__mocks__/tabulator-tables.js
  argilla-frontend/components/base/base-render-table/renderTable.test.ts
  argilla-frontend/jest.config.js
  argilla-frontend/v1/domain/entities/record/RecordCriteria.test.ts
  argilla-frontend/v1/domain/entities/record/Records.test.ts
Due: argilla-frontend

fix: `npm run build` errors due to accessing private prop
  argilla-frontend/v1/domain/entities/record/Records.test.ts
Due: argilla-frontend

fix: correct spelling in docker image name and update Python requirements
  .github/workflows/argilla-frontend.yml
  argilla/pyproject.toml
  codecov.yml
Due: none

fix: update pyarrow dependency version to allow for broader compatibility
  argilla/pyproject.toml
Due: none

ci: use `uv` with `pdm install`
  .github/workflows/argilla.yml
Due: none

ci: use `uv` with `pdm install` in `argilla-server.yml`
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Due: none

fix: update pyarrow and fastparquet dependencies for compatibility across Python versions
  argilla/pyproject.toml
Due: none

fix: dev dependencies not being automatically installed
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Due: none

fix: remove verbose flag from pdm install commands in workflows
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Due: none

fix: streamline dependency installation in workflows and update test commands
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Due: none

fix: update uv setup action to version 6.1.0 and enable environment activation
  .github/workflows/argilla-server.yml
Due: none

fix: downgrade uv setup action to version 5 and enable dev dependencies installation
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Due: none

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
