Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

checkpoint 1
  argilla/pyproject.toml
  argilla/src/argilla/cli/__init__.py
  argilla/src/argilla/cli/app.py
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/datasets/__init__.py
  argilla/src/argilla/cli/info/__init__.py
  argilla/src/argilla/cli/login/__init__.py
  argilla/src/argilla/cli/logout/__init__.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/cli/training/__init__.py
  argilla/src/argilla/cli/typer_ext.py
  argilla/src/argilla/cli/users/__init__.py
  argilla/src/argilla/cli/whoami/__init__.py
  argilla/src/argilla/cli/workspaces/__init__.py
  argilla/tests/unit/cli/test_app.py
  tasks.md
Due: argilla

checkpoint 2
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/extraction/__main__.py
  argilla/src/argilla/cli/extraction/export.py
  argilla/src/argilla/client/__init__.py
  argilla/src/argilla/client/enums.py
  argilla/src/argilla/client/login.py
  argilla/src/argilla/client/singleton.py
  argilla/src/argilla/client/workspaces.py
  tasks.md
Due: argilla

checkpoint 3
  argilla/src/argilla/cli/info/__init__.py
  argilla/src/argilla/cli/info/__main__.py
  argilla/src/argilla/cli/login/__init__.py
  argilla/src/argilla/cli/login/__main__.py
  argilla/src/argilla/cli/logout/__init__.py
  argilla/src/argilla/cli/logout/__main__.py
  argilla/src/argilla/cli/whoami/__init__.py
  argilla/src/argilla/cli/whoami/__main__.py
  tasks.md
Due: argilla

Refactor CLI structure and implement command modules for datasets, training, users, and workspaces
  argilla/src/argilla/cli/datasets/__init__.py
  argilla/src/argilla/cli/datasets/__main__.py
  argilla/src/argilla/cli/extraction/__init__.py
  argilla/src/argilla/cli/extraction/__main__.py
  argilla/src/argilla/cli/training/__init__.py
  argilla/src/argilla/cli/training/__main__.py
  argilla/src/argilla/cli/users/__init__.py
  argilla/src/argilla/cli/users/__main__.py
  argilla/src/argilla/cli/workspaces/__init__.py
  argilla/src/argilla/cli/workspaces/__main__.py
  tasks.md
Due: argilla

Add CLI schema management commands and corresponding tests
  argilla/src/argilla/cli/schemas/__init__.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/tests/unit/cli/test_datasets.py
  argilla/tests/unit/cli/test_workspaces.py
  tasks.md
Due: argilla

Update help messages for datasets and workspaces CLI commands for clarity
  argilla/tests/unit/cli/test_datasets.py
  argilla/tests/unit/cli/test_workspaces.py
Due: none

docs: update contribution guidelines and workflow in CONTRIBUTING.md; fix roadmap link in index.md
  CONTRIBUTING.md
  argilla/docs/community/index.md
Due: none

Deployed 3fbbe98 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/community/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

checkpooint 4
  argilla/src/argilla/cli/users/__main__.py
  argilla/tests/unit/cli/test_users.py
  tasks.md
Due: argilla

schema test
  argilla/tests/unit/cli/test_extraction.py
  argilla/tests/unit/cli/test_schemas.py
  argilla/tests/unit/cli/test_training.py
  argilla/tests/unit/cli/test_users.py
  tasks.md
Due: none

extract test
  argilla/tests/unit/cli/test_extraction.py
  tasks.md
Due: none

docs: enhance development setup documentation
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  argilla/docs/community/index.md
  argilla/docs/getting_started/development_setup.md
Due: none

Deployed 2ef445e to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/community/index.html
  latest/getting_started/development_setup/index.html
  latest/search/search_index.json
Due: none

docs: enhance development setup documentation
  argilla/docs/getting_started/development_setup.md
Due: none

Deployed 2230bfb to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/getting_started/development_setup/index.html
  latest/search/search_index.json
Due: none

docs: enhance development setup documentation
  argilla/docs/community/developer.md
  argilla/docs/community/index.md
  argilla/docs/getting_started/development_setup.md
Due: none

ci: fix argilla-server not creating default `argilla` account on Tilt K8s dev
  argilla-server/docker/server/dev.argilla_server.dockerfile
Due: argilla-server

Deployed fe67c7f to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/community/developer/index.html
  latest/community/index.html
  latest/getting_started/development_setup/index.html
  latest/search/search_index.json
Due: none

ci: added GH repo Codespaces secrets to devcontainers
  .devcontainer/devcontainer.json
  Tiltfile
  argilla/docs/getting_started/development_setup.md
  examples/deployments/k8s/extralit-deployment.yaml
Due: none

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
