Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

updated delete table option in RenderTable
  argilla-frontend/components/base/base-render-table/RenderTable.vue
Due: argilla-frontend

updated SchemaStructure ordering
  argilla/src/extralit/extraction/models/schema.py
Due: extralit

fix: path to shortcuts.md in AnnotationHelpShortcut.vue
  argilla-frontend/components/features/annotation/shortcuts/AnnotationHelpShortcut.vue
  argilla-frontend/docs/shortcuts.md
Due: argilla-frontend

docs: update developer.md to streamline environment setup instructions
  argilla/docs/community/developer.md
Due: none

Deployed 015ca21 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/community/developer/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

docs: enhance developer.md and glossary.md with detailed descriptions and new terms
  argilla/docs/community/developer.md
  argilla/docs/glossary.md
Due: none

updated file to add random questions
  argilla/docs/community/adding_language.md
Due: none

modified function to generate random ques
  argilla/docs/community/adding_language.md
Due: none

feat: add Redis service to Docker Compose and update dependencies in pdm.lock
  .devcontainer/docker-compose/docker-compose.yml
  argilla-server/pdm.lock
  argilla/docker-compose.yaml
Due: argilla-server

Update README.md
  README.md
Due: none

local-setup
  argilla/docs/getting_started/development_setup.md
Due: none

Deployed 27332c5 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/getting_started/development_setup/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

Cofigure create_local_index() similar to create_vector_index()
  argilla/src/extralit/extraction/vector_index.py
Due: extralit

Update query.py
  argilla/src/extralit/extraction/query.py
Due: extralit

weaviate_retry _block
  argilla/src/extralit/extraction/query.py
Due: extralit
