Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

chore: Fix missing str format
  argilla/src/argilla/_helpers/_deploy.py
Due: argilla

fix: Import missing Argilla component
  argilla/src/argilla/datasets/_io/_hub.py
Due: argilla

Dataset creation feature final QA (#5646)
  argilla-frontend/components/base/base-separator/BaseSeparator.vue
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationForm.vue
  argilla-frontend/components/features/home/sidebar/DatasetBadge.vue
  argilla-frontend/components/features/home/sidebar/ExampleDatasetCard.vue
  argilla-frontend/components/features/home/sidebar/LinkCard.vue
  argilla-frontend/layouts/Home.vue
  argilla-frontend/pages/_id.vue
  argilla-frontend/pages/index.vue
  argilla-frontend/pages/useNewDatasetViewModel.ts
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
  argilla-frontend/v1/infrastructure/services/useRoutes.ts
Due: argilla-frontend

[CI] argilla frontend: Remove invalid workflow permissions (#5647)
  .github/workflows/argilla-frontend.build-push-dev-frontend-docker.yml
  .github/workflows/argilla-frontend.deploy-environment.yml
Due: none

remove focus for dataset list
  argilla-frontend/components/base/base-input/BaseInput.vue
  argilla-frontend/components/features/home/sidebar/ImportFromHub.vue
Due: argilla-frontend

qa
  argilla-frontend/components/features/dataset-creation/configuration/DatasetConfigurationDialog.vue
  argilla-frontend/components/features/home/sidebar/DatasetBadge.vue
  argilla-frontend/components/features/home/sidebar/ExampleDatasetCard.vue
  argilla-frontend/components/features/home/sidebar/useImportFromPython.ts
  argilla-frontend/pages/useHomeViewModel.ts
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
Due: argilla-frontend

update styles
  argilla-frontend/components/features/annotation/header/header-bar/ImportData.vue
Due: argilla-frontend

[CI] Configure workflow permissions (#5648)
  .github/workflows/argilla-frontend.build-push-dev-frontend-docker.yml
  .github/workflows/argilla-frontend.deploy-environment.yml
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.docs.yml
  .github/workflows/argilla.yml
  .github/workflows/close-inactive-issues-bot.yml
Due: none

chore: update changelogs for release `2.4.0` (#5650)
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
Due: argilla-server, argilla-frontend

increase dataset creation retries to 30
  argilla-frontend/v1/domain/usecases/create-dataset-use-case.ts
Due: argilla-frontend

update dataset creation retries to 10
  argilla-frontend/v1/domain/usecases/create-dataset-use-case.ts
Due: argilla-frontend

ci: devcontainer docker data dir
  .devcontainer/k8s-tilt/Dockerfile
  .devcontainer/k8s-tilt/devcontainer.json
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
Due: none

ci: devcontainer docker data dir
  .devcontainer/k8s-tilt/Dockerfile
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
  examples/deployments/k8s/k3d/k3d-auto-purge-pods.yaml
  examples/deployments/k8s/k3d/k3d-config.yaml
Due: none

ci: devcontainer docker data dir
  .devcontainer/k8s-tilt/Dockerfile
  .devcontainer/k8s-tilt/setup.sh
  Tiltfile
Due: none

ci: devcontainer docker data dir
  .devcontainer/k8s-tilt/Dockerfile
  .devcontainer/k8s-tilt/devcontainer.json
  .devcontainer/k8s-tilt/prune_docker.sh
  argilla/src/extralit/server/context/vectordb.py
  examples/deployments/k8s/helm/postgres-helm.yaml
Due: extralit

ci: devcontainer docker data dir
  .devcontainer/k8s-tilt/Dockerfile
  .devcontainer/k8s-tilt/devcontainer.json
  .devcontainer/k8s-tilt/prune_docker.sh
  examples/deployments/k8s/helm/postgres-helm.yaml
Due: none

fix: get_weaviate_client
  .devcontainer/k8s-tilt/Dockerfile
  .devcontainer/k8s-tilt/devcontainer.json
  .devcontainer/k8s-tilt/setup.sh
  argilla/src/extralit/server/context/vectordb.py
  argilla/src/extralit/server/models/extraction.py
Due: extralit

fix: get_weaviate_client
  .devcontainer/k8s-tilt/Dockerfile
  .devcontainer/k8s-tilt/devcontainer.json
  .devcontainer/k8s-tilt/setup.sh
Due: none

ci: devcontainer docker data dir
  .devcontainer/k8s-tilt/Dockerfile
  .devcontainer/k8s-tilt/devcontainer.json
  .devcontainer/k8s-tilt/setup.sh
Due: none

[CI] Configure workflow permissions (#5648)
  .github/workflows/argilla-frontend.build-push-dev-frontend-docker.yml
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.docs.yml
  .github/workflows/argilla.yml
  .github/workflows/close-inactive-issues-bot.yml
Due: none

Path conditions:
  argilla: any of: argilla/src/argilla/**
  extralit: any of: argilla/src/extralit/**
  argilla-server: any of: argilla-server/**
  argilla-frontend: any of: argilla-frontend/**
