Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

fix: prevent annotators from seeing response suggestions from other users
  argilla-server/src/argilla_server/api/handlers/v1/datasets/records.py
  argilla/pyproject.toml
Due: argilla-server

fix: prevent annotators from seeing response suggestions from other users
  argilla-server/src/argilla_server/api/handlers/v1/datasets/records.py
Due: argilla-server

Fix incorrect directory path in Developer Documentation (Development Workflow - 3rd point)
  argilla/docs/community/developer.md
Due: none

[DOCS] Incorrect directory path in Developer Documentation (Development Workflow - 3rd point)
  argilla/docs/community/developer.md
Due: none

Include comprehensive setup instructions for Extralit development
  argilla-server/.env.dev
  argilla/docs/getting_started/development_setup.md
Due: argilla-server

local-setup/guide
  argilla/docs/getting_started/development_setup.md
Due: none

feat: add Redis service to Docker Compose configuration
  .devcontainer/docker-compose/docker-compose.yml
  argilla-server/pdm.lock
  argilla/pdm.lock
Due: argilla-server

venv
  argilla/docs/getting_started/development_setup.md
Due: none

Deployed a0b05a4 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/assets/images/social/getting_started/development_setup.png
  latest/getting_started/development_setup/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

docs: add Development Setup section to navigation
  argilla/mkdocs.yml
Due: none

Deployed 493337b to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/assets/images/getting_started/data-extraction-pipeline.jpg
Due: none

Initializing: add S3 and Redis configuration, update Docker Compose for Argilla server
  argilla-server/.env.dev
  argilla-server/docker-compose.yml
  argilla-server/pdm.lock
Due: argilla-server

feat: add error handling and logging for document processing functions
  argilla/src/extralit/preprocessing/document.py
Due: extralit
