Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, argilla, extralit, argilla_v1, argilla_server, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true
  
flags:
  frontend:
    paths:
      - argilla-frontend/
    carryforward: true
  argilla:
    paths:
      - argilla/src/argilla/
    carryforward: true
  extralit:
    paths:
      - argilla/src/extralit/
    carryforward: true
  argilla_v1:
    paths:
      - argilla-v1/src/argilla_v1/
    carryforward: true
  argilla_server:
    paths:
      - argilla-server/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: argilla_v1
      name: argilla_v1
      paths:
        - argilla-v1/src/argilla_v1/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

fix: ensure workspace user deletion is safe and refresh oauth user after token retrieval
  argilla-server/src/argilla_server/api/handlers/v1/oauth2.py
Due: argilla_server, argilla-server

fix: table reference matching UI
  .github/copilot-instructions.md
  argilla-frontend/components/base/base-render-table/useReferenceTablesViewModel.ts
  argilla-frontend/components/features/annotation/container/fields/RecordFields.vue
  argilla-frontend/components/features/home/sidebar/useImportFromPython.ts
  argilla-frontend/docs/snippets/start_page.md
  argilla-frontend/pages/dataset/_id/annotation-mode/index.vue
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/contexts/hub_templates/README.md.jinja2
  argilla-v1/CHANGELOG.md
  argilla-v1/src/argilla_v1/client/feedback/integrations/huggingface/card/argilla_template.md
  extralit/CHANGELOG.md
  extralit/docs/getting_started/quickstart.md
  extralit/docs/tutorials/image_classification.ipynb
  extralit/docs/tutorials/image_preference.ipynb
  extralit/docs/tutorials/text_classification.ipynb
  extralit/docs/tutorials/token_classification.ipynb
  extralit/src/argilla/datasets/_io/card/argilla_template.md
Due: frontend, argilla_v1, argilla_server, argilla-server, argilla-frontend

fix: table reference matching UI
  .github/copilot-instructions.md
  argilla-frontend/components/base/base-render-table/useReferenceTablesViewModel.ts
  argilla-frontend/components/features/annotation/container/fields/RecordFields.vue
  argilla-frontend/components/features/home/sidebar/useImportFromPython.ts
  argilla-frontend/docs/snippets/start_page.md
  argilla-frontend/pages/dataset/_id/annotation-mode/index.vue
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/contexts/hub_templates/README.md.jinja2
  extralit/CHANGELOG.md
  extralit/docs/getting_started/quickstart.md
  extralit/docs/tutorials/image_classification.ipynb
  extralit/docs/tutorials/image_preference.ipynb
  extralit/docs/tutorials/text_classification.ipynb
  extralit/docs/tutorials/token_classification.ipynb
  extralit/src/argilla/datasets/_io/card/argilla_template.md
Due: frontend, argilla_server, argilla-server, argilla-frontend

Deployed 8132f66 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/changelog/index.html
  latest/getting_started/quickstart/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/tutorials/image_classification/index.html
  latest/tutorials/image_preference/index.html
  latest/tutorials/text_classification/index.html
  latest/tutorials/token_classification/index.html
Due: none

Add Copilot setup steps workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

chore: add API key validation in client initialization
  argilla-frontend/package-lock.json
  extralit/src/argilla/_api/_client.py
Due: frontend, argilla-frontend

chore: fix warns
  .github/copilot-instructions.md
  argilla-frontend/components/base/base-render-table/useReferenceTablesViewModel.ts
Due: frontend, argilla-frontend

chore: enhance Copilot setup with PostgreSQL, Redis, and MinIO services
  .github/workflows/copilot-setup-steps.yml
Due: none
