Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, argilla, extralit, argilla_v1, argilla_server, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true
  
flags:
  frontend:
    paths:
      - argilla-frontend/
    carryforward: true
  argilla:
    paths:
      - argilla/src/argilla/
    carryforward: true
  extralit:
    paths:
      - argilla/src/extralit/
    carryforward: true
  argilla_v1:
    paths:
      - argilla-v1/src/argilla_v1/
    carryforward: true
  argilla_server:
    paths:
      - argilla-server/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: argilla_v1
      name: argilla_v1
      paths:
        - argilla-v1/src/argilla_v1/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

ci: fix integration tests
  argilla/tests/integration/test_search_records.py
Due: none

fix: pin minio version for `include_versions` arg error
  argilla-server/src/argilla_server/api/schemas/v1/files.py
  argilla/pyproject.toml
Due: argilla_server, argilla-server

fix: pin minio version for `include_versions` arg error
  argilla-server/src/argilla_server/contexts/files.py
  argilla/pyproject.toml
  argilla/tests/integration/test_search_records.py
Due: argilla_server, argilla-server

fix: tests failures due to `HfHubHTTPError`
  argilla/tests/integration/test_export_dataset.py
Due: none

Update README.md
  README.md
Due: none

chore: update devcontainer configurations to include new extensions for improved development experience
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/ui-design/devcontainer.json
Due: none

refactor: update `argilla/` paths to `extralit/` for some CI
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/docker-compose/setup.sh
  .devcontainer/setup.sh
  .github/CODEOWNERS
  .github/workflows/scorecard.yml
  .gitignore
  .pre-commit-config.yaml
  argilla-frontend/translation/ja.js
  argilla-server/src/argilla_server/contexts/files.py
  codecov.yml
  extralit/docs/scripts/gen_changelog.py
  extralit/mkdocs.yml
  extralit/src/argilla/_helpers/_deploy.py
Due: frontend, argilla_server, argilla-server, argilla-frontend

refactor: rename argilla Github Actions workflows to extralit
  .github/workflows/README.md
  .github/workflows/extralit.docs.yml
  .github/workflows/extralit.yml
  extralit/CHANGELOG.md
Due: none

ci: fix tests by reverting Argilla space template repository from "extralit/public-demo" to "argilla/argilla-template-space"
  extralit/src/argilla/_helpers/_deploy.py
Due: none

ci: fix integration tests
  extralit/tests/integration/test_search_records.py
Due: none
