Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

Deployed 56441d2 to v0.4 with MkDocs 1.6.0 and mike 2.1.3
  v0.4/sitemap.xml
  v0.4/sitemap.xml.gz
Due: none

ci: update PyPI publish commands to include authentication tokens
  .github/workflows/argilla.yml
Due: none

docs: add link to release guide in developer documentation
  argilla/docs/community/developer.md
  argilla/docs/community/release_guide.md
Due: none

Deployed eca216d to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/assets/images/social/community/release_guide.png
  latest/community/release_guide/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Due: none

merge: argilla v2.6.0
  README.md
  argilla-frontend/components/base/base-search-bar/BaseSearchBar.vue
  argilla-frontend/components/features/annotation/container/fields/RecordFields.vue
  argilla-frontend/components/features/home/dataset-list/DatasetList.vue
  argilla-frontend/components/features/home/dataset-list/DatasetListCards.vue
  argilla-frontend/pages/dataset/_id/annotation-mode/index.vue
  argilla-frontend/pages/dataset/_id/annotation-mode/useAnnotationModeViewModel.ts
  argilla-frontend/v1/domain/entities/record/RecordStatus.ts
  argilla-server/src/argilla_server/api/schemas/v1/settings.py
  argilla-server/src/argilla_server/api/schemas/v1/users.py
  argilla-server/src/argilla_server/contexts/records.py
  argilla-server/src/argilla_server/validators/records.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_upsert_dataset_records_bulk.py
  argilla-server/tests/unit/api/handlers/v1/records/test_update_record.py
  argilla/docs/getting_started/quickstart.md
  argilla/src/argilla/_api/_questions.py
Due: argilla, argilla-server, argilla-frontend

Fixed all merge conflicts
  argilla-frontend/CHANGELOG.md
  argilla-frontend/nuxt.config.ts
  argilla-frontend/package.json
  argilla-frontend/plugins/axios/axios-global-handler.ts
  argilla-frontend/plugins/directives/tooltip.directive.ts
  argilla-frontend/plugins/extensions/copy-to-clipboard.ts
  argilla-frontend/translation/de.js
  argilla-frontend/translation/en.js
  argilla-frontend/translation/es.js
  argilla-frontend/v1/infrastructure/services/useAxiosExtension.ts
  argilla-frontend/v1/infrastructure/services/useColorSchema.ts
  argilla-frontend/v1/infrastructure/services/useLanguageDetector.test.ts
  argilla-frontend/v1/infrastructure/services/useLanguageDetector.ts
  argilla-frontend/v1/infrastructure/services/useLocalStorage.ts
  argilla-server/.env.dev
  argilla-server/CHANGELOG.md
  argilla-server/pdm.lock
  argilla-server/tests/factories.py
  argilla-server/tests/unit/api/handlers/v1/datasets/records/records_bulk/test_upsert_dataset_records_bulk.py
  argilla/CHANGELOG.md
  argilla/docs/community/adding_language.md
  argilla/mkdocs.yml
  argilla/pyproject.toml
  argilla/src/argilla/settings/_question.py
  argilla/tests/unit/models/__init__.py
  examples/webhooks/basic-webhooks/README.md
Due: argilla, argilla-server, argilla-frontend

fixed license headers and version
  argilla-server/src/argilla_server/_app.py
  argilla-server/src/argilla_server/_version.py
  argilla-server/src/argilla_server/api/handlers/v1/datasets/records.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/models/database.py
  argilla-server/tests/factories.py
  argilla/src/argilla/__init__.py
  argilla/src/argilla/_api/_questions.py
  argilla/src/argilla/_models/__init__.py
  argilla/src/argilla/_models/_settings/_questions.py
  argilla/src/argilla/_version.py
  argilla/src/argilla/cli/datasets/__init__.py
  argilla/src/argilla/client/resources.py
  argilla/src/argilla/settings/_field.py
Due: argilla, argilla-server

fix: update version to 0.4.1 and add 'selection' type to suggestions
  argilla/CHANGELOG.md
  argilla/src/argilla/_models/_record/_suggestion.py
  argilla/src/argilla/_version.py
  argilla/src/argilla/suggestions.py
Due: argilla

fix: update numpy dependency to allow versions below 2.0.0
  argilla/pyproject.toml
  argilla/src/extralit/pipeline/ingest/record.py
Due: extralit

fix: update numpy dependency to allow versions below 2.0.0
  argilla/pyproject.toml
Due: none

add typehints to grits.py
  argilla/src/extralit/metrics/grits.py
Due: extralit

modified gitignore
  .gitignore
Due: none

surya added
  argilla/src/extralit/extraction/surya_ocr.py
Due: extralit

refactor: remove root docker-compose.yaml and update .env.dev for database path
  .devcontainer/docker-compose/docker-compose.yml
  argilla-server/.env.dev
  argilla-server/pdm.lock
  argilla/pdm.lock
  docker-compose.yaml
  examples/deployments/docker/docker-compose.yaml
Due: argilla-server

chore: remove deprecated docker-compose.yaml file from deployments
  docker-compose.yaml
Due: none

Minor `docker-compose.yml` additions when setting up locally; Updated docs (#58)
  .devcontainer/docker-compose/docker-compose.yml
  argilla-server/.env.dev
  argilla-server/argilla-dev.db
  argilla/docs/admin_guide/upgrading.md
  argilla/docs/getting_started/development_setup.md
  docker-compose.yaml
Due: argilla-server
