Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: argilla, extralit, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

fix: updated async session in database.py
  argilla-frontend/components/base/base-resizable/HorizontalResizable.vue
  argilla-frontend/components/features/annotation/sidebar/useDocumentViewModel.ts
  argilla-frontend/nuxt.config.ts
  argilla-server/src/argilla_server/api/handlers/v1/models.py
  argilla-server/src/argilla_server/models/database.py
Due: argilla-server, argilla-frontend

lints
  argilla-frontend/.eslintrc.js
  argilla-frontend/package.json
Due: argilla-frontend

refactor: PDFViewer and useDocumentViewModel
  argilla-frontend/components/base/base-pdf-viewer/PDFViewer.vue
  argilla-frontend/components/features/annotation/container/mode/FocusAnnotation.vue
  argilla-frontend/components/features/annotation/container/mode/useDocumentViewModel.ts
  argilla-frontend/components/features/annotation/sidebar/HelpShortcut.vue
  argilla-frontend/components/features/annotation/sidebar/SidebarFeedbackTask.component.vue
  argilla-frontend/components/features/annotation/sidebar/sidebar-feedback-task/SidebarFeedbackTaskPanel.vue
Due: argilla-frontend

fix: lint
  argilla-frontend/.eslintignore
  argilla-frontend/components/base/base-render-table/useLLMExtractionViewModel.ts
  argilla-frontend/v1/domain/entities/question/Suggestion.ts
  argilla-frontend/v1/domain/usecases/get-document-by-id-use-case.ts
  argilla-frontend/v1/domain/usecases/get-extraction-schema-use-case.ts
  argilla-frontend/v1/infrastructure/repositories/FieldRepository.ts
  argilla-frontend/v1/infrastructure/services/useWait.ts
Due: argilla-frontend

fix: lint
  argilla-frontend/package.json
  argilla-frontend/v1/domain/entities/record/Record.ts
  argilla-frontend/v1/domain/entities/record/Records.ts
  argilla-frontend/v1/infrastructure/repositories/RecordRepository.ts
Due: argilla-frontend

ci: fix jest tests
  argilla-frontend/babel.config.test.js
  argilla-frontend/components/base/BaseSlider.spec.js
  argilla-frontend/components/base/base-table/filters/__snapshots__/FilterScore.spec.js.snap
  argilla-frontend/jest.config.js
  argilla-frontend/package.json
Due: argilla-frontend

ci: fixed jest tests
  argilla-frontend/__mocks__/styleMock.js
  argilla-frontend/pages/dataset/_id/annotation-mode/index.component.spec.js
Due: argilla-frontend

[BUGFIX] Show `Import data` if user is admin or owner (#5688)
  argilla-frontend/pages/dataset/_id/annotation-mode/index.vue
  argilla-frontend/pages/dataset/_id/annotation-mode/useAnnotationModeViewModel.ts
Due: argilla-frontend

docs: Add missing server configuration env vars (#5676)
  argilla/docs/reference/argilla-server/configuration.md
Due: none

[REFACTOR] `argilla server`: Remove passlib dependency (#5674)
  argilla-server/pdm.lock
  argilla-server/pyproject.toml
  argilla-server/src/argilla_server/contexts/accounts.py
Due: argilla-server

ci: fixed jest tests
  argilla-frontend/babel.config.test.js
  argilla-frontend/jest.config.js
  argilla-frontend/package.json
  argilla-frontend/pages/dataset/_id/annotation-mode/index.component.spec.js
Due: argilla-frontend

ci: codespaces jest tests configs
  .devcontainer/k8s-tilt/devcontainer.json
  .github/workflows/argilla-frontend.yml
  argilla-frontend/babel.config.test.js
  argilla-frontend/components/base/base-render-table/renderTable.base.component.spec.js
  argilla-frontend/v1/domain/entities/record/Records.ts
Due: argilla-frontend
