Repository Extralit/extralit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, argilla, extralit, argilla_v1, argilla_server, argilla-server, argilla-frontend

codecov.yml:

comment:
  require_changes: true
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: auto
        threshold: 2%
        informational: true
  
flags:
  frontend:
    paths:
      - argilla-frontend/
    carryforward: true
  argilla:
    paths:
      - argilla/src/argilla/
    carryforward: true
  extralit:
    paths:
      - argilla/src/extralit/
    carryforward: true
  argilla_v1:
    paths:
      - argilla-v1/src/argilla_v1/
    carryforward: true
  argilla_server:
    paths:
      - argilla-server/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        
  individual_components:
    - component_id: extralit
      paths:
        - argilla/src/extralit/**

    - component_id: argilla
      name: argilla
      paths:
        - argilla/src/argilla/**

    - component_id: argilla_v1
      name: argilla_v1
      paths:
        - argilla-v1/src/argilla_v1/**

    - component_id: argilla-server
      paths:
        - argilla-server/**
        
    - component_id: argilla-frontend
      paths:
        - argilla-frontend/**

ci: fix integration tests
  extralit/tests/integration/test_search_records.py
Due: none

refactor: logging.getLogger
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/handlers/v1/files.py
  argilla-server/src/argilla_server/contexts/storage.py
  extralit/src/extralit/server/context/files.py
Due: argilla_server, argilla-server

refactor: logging.getLogger
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/handlers/v1/files.py
  argilla-server/src/argilla_server/contexts/storage.py
Due: argilla_server, argilla-server

refactor: update the `CONFIG_REPO_DIR` path from `.argilla` to .`extralit`
  argilla-server/.env.dev
  argilla-server/.env.test
  argilla-server/src/argilla_server/api/handlers/v1/models.py
  argilla-server/src/argilla_server/contexts/hub.py
  argilla-server/src/argilla_server/settings.py
  argilla-v1/CHANGELOG.md
  extralit/docs/getting_started/development_setup.md
  extralit/src/argilla/datasets/_io/_disk.py
Due: argilla_server, argilla-server

refactor: revert changing `argilla.context` from `files` to `storage` due to import issues
  argilla-server/src/argilla_server/contexts/files.py
Due: argilla_server, argilla-server

update CHANGELOG
  argilla-server/CHANGELOG.md
  extralit/CHANGELOG.md
Due: argilla_server, argilla-server

Refactor the `CONFIG_REPO_DIR` path from `.argilla/` to `.extralit/` (#81)
  argilla-server/.env.dev
  argilla-server/.env.test
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/handlers/v1/models.py
  argilla-server/src/argilla_server/contexts/hub.py
  argilla-server/src/argilla_server/settings.py
  argilla-v1/CHANGELOG.md
  extralit/CHANGELOG.md
  extralit/docs/getting_started/development_setup.md
  extralit/src/argilla/datasets/_io/_disk.py
Due: argilla_server, argilla-server

Refactor the `CONFIG_REPO_DIR` path from `.argilla/` to `.extralit/` (#81)
  argilla-server/.env.dev
  argilla-server/.env.test
  argilla-server/CHANGELOG.md
  argilla-server/src/argilla_server/api/handlers/v1/models.py
  argilla-server/src/argilla_server/contexts/hub.py
  argilla-server/src/argilla_server/settings.py
  extralit/CHANGELOG.md
  extralit/docs/getting_started/development_setup.md
  extralit/src/argilla/datasets/_io/_disk.py
Due: argilla_server, argilla-server

ci: fix tests in `argilla-v1`
  argilla-v1/pyproject.toml
Due: none

Update GitHub Actions workflow and CHANGELOG
  .github/workflows/argilla-v1.yml
  extralit/CHANGELOG.md
Due: none

ci: optimize argilla-v1 workflows
  .github/workflows/argilla-v1.yml
Due: none

ci: streamline argilla-v1 workflow by removing caching steps
  .github/workflows/argilla-v1.yml
  argilla-v1/pyproject.toml
Due: none

ci: streamline argilla-v1 workflow by removing caching steps
  .github/workflows/argilla-v1.yml
Due: none

pin pdf package in `extralit` package
  extralit/pyproject.toml
Due: none

readded `argilla-v1/src/extralit` from `v0.2.2`
  .github/workflows/argilla-v1.yml
Due: none

fix: tests
  .pre-commit-config.yaml
  extralit/pyproject.toml
Due: none

fix: tests
  .pre-commit-config.yaml
  argilla-v1/pyproject.toml
  argilla-v1/src/argilla_v1/cli/schemas/delete.py
  argilla-v1/src/argilla_v1/cli/schemas/list.py
  extralit/pyproject.toml
Due: argilla_v1

ci: update argilla-v1 tests
  .github/workflows/argilla-v1.yml
  argilla-v1/tests/unit/feedback/__init__.py
  argilla-v1/tests/unit/feedback/conftest.py
  argilla-v1/tests/unit/feedback/dataset/__init__.py
  argilla-v1/tests/unit/feedback/dataset/local/__init__.py
  argilla-v1/tests/unit/feedback/dataset/local/test_dataset.py
  argilla-v1/tests/unit/feedback/dataset/remote/__init__.py
  argilla-v1/tests/unit/feedback/dataset/remote/test_dataset.py
  argilla-v1/tests/unit/feedback/dataset/test_helpers.py
  argilla-v1/tests/unit/feedback/integrations/__init__.py
  argilla-v1/tests/unit/feedback/integrations/huggingface/__init__.py
  argilla-v1/tests/unit/feedback/integrations/huggingface/card/__init__.py
  argilla-v1/tests/unit/feedback/integrations/huggingface/card/test__dataset_card.py
  argilla-v1/tests/unit/feedback/integrations/huggingface/test_dataset.py
  argilla-v1/tests/unit/feedback/integrations/huggingface/test_model_card.py
  argilla-v1/tests/unit/feedback/integrations/test_sentencetransformers.py
  argilla-v1/tests/unit/feedback/integrations/test_textdescriptives.py
  argilla-v1/tests/unit/feedback/schemas/__init__.py
  argilla-v1/tests/unit/feedback/schemas/remote/__init__.py
  argilla-v1/tests/unit/feedback/schemas/remote/test_fields.py
  argilla-v1/tests/unit/feedback/schemas/remote/test_metadata.py
  argilla-v1/tests/unit/feedback/schemas/remote/test_questions.py
  argilla-v1/tests/unit/feedback/schemas/remote/test_records.py
  argilla-v1/tests/unit/feedback/schemas/test_fields.py
  argilla-v1/tests/unit/feedback/schemas/test_metadata.py
  argilla-v1/tests/unit/feedback/schemas/test_questions.py
  argilla-v1/tests/unit/feedback/schemas/test_records.py
  argilla-v1/tests/unit/feedback/schemas/test_responses.py
  argilla-v1/tests/unit/feedback/schemas/test_suggestions.py
  argilla-v1/tests/unit/feedback/schemas/test_utils.py
  argilla-v1/tests/unit/feedback/schemas/test_vectors_settings.py
  argilla-v1/tests/unit/feedback/test_config.py
  argilla-v1/tests/unit/feedback/training/__init__.py
  argilla-v1/tests/unit/feedback/training/test_schemas.py
  argilla-v1/tests/unit/feedback/utils/test_assignment.py
  argilla-v1/tests/unit/feedback/utils/test_html_utils.py
Due: none

ci: update argilla-v1 tests
  .github/workflows/argilla-v1.yml
Due: none

update READMEs
  extralit/README.md
Due: none

ci: GitHub Actions workflow to install PDM using `uv` and replace the PDM setup step with `uv` installation. Update CHANGELOG to reflect recent changes and deprecations.
  .github/workflows/extralit.yml
  extralit/CHANGELOG.md
Due: none

ci: Update argilla-server.yml workflows to install PDM using `uv` instead of the previous setup step.
  .github/workflows/argilla-server.yml
  .github/workflows/extralit.yml
Due: none

ci: added HfHubHTTPError handling in integration tests
  argilla-server/tests/unit/api/handlers/v1/datasets/test_export_dataset_to_hub.py
  extralit/tests/integration/test_export_dataset.py
Due: argilla_server, argilla-server
